[2020-07-20 15:13] ajs124 opened #290 "basic auth broken"
After upgrading from 0.7.0 to 0.7.1 (or master for that matter), http basic authentication does not work anymore.

A simple reproducer would be something like
[code]
The works on 0.7.0 but on later releases, it results in this:
[code]
on current master, the error reads like:
[code]
`git bisect run` names 86292ff7f55b63551a4b37118624531ea84ab2d4 as the first bad commit which was introduced in #201

[2020-07-20 16:23] relu91 commented on #286
Agree, PR incoming

[2020-07-20 18:13] relu91 commented on #290
Thanks for tracking down the bad commit and for providing an example. @danielpeintner could you please assign me to this issue? I'll check it ASAP.

[2020-07-20 18:24] relu91 commented on #289
Just to be sure. @TimKam are you trying to use the wot-servient command on js file? (i.e. `wot-servient index.js`). And the `index.js` contains something like this:
[code]

It would be awesome if you provide little your local project setup. :) Anyway, I agree with @egekorkan we need to update the readme to have a straightforward preferred way to use `node-wot`.

[2020-07-20 21:10] TimKam commented on #289
Considering that it can be expected that most developers want to have access to local dependencies, I _think_ it makes sense to adjust the documentation as follows:

* Add the CLI as an ordinary dependency, i.e.:

[code]

* Adjust the `scripts` of your project's ``package.json`` as follows:

[code]

Now it works :-)

The current README gives the impression that the CLI is merely a dev tool. But if

[2020-07-21 07:13] #286 closed

[2020-07-21 07:23] danielpeintner commented on #289
Note: be aware that once you add a dependency to `@node-wot/cli` you pull in other packages (see [here](https://github.com/eclipse/thingweb.node-wot/blob/master/packages/cli/package.json#L26-L33)).
This may (or may not) be what you want.

[2020-07-21 07:28] relu91 commented on #289
Other note. I made a [tool](https://github.com/UniBO-PRISMLab/wam) that can simplify the initial project setup. @TimKam if you have time to evaluate it, it would be awesome.

I'd say that also `"start": "wot-servient"` should work. if it is not I think we should create another issue to track this problem.

[2020-07-21 11:03] relu91 opened #293 "[binding-http] improve basic authentication support"
After working on #292 I noticed that the TD specs describe different methods to configure Basic authentication schema. In particular, [BasicSecurityScheme](https://www.w3.org/TR/wot-thing-description/#basicsecurityscheme) has the `in` field where one can configure the location of the encoded `username` and `password`. Currently, node-wot only supports the default: header. We should support also `q

[2020-07-21 11:04] TimKam commented on #289
Good point. This works if the CLI is locally installed, which again supports the idea of making the CLI an "ordinary" dependency. If the CLI is globally installed, it won't find the local dependencies. I can add a PR that updates the documentation accordingly. I'll try to have a look at the setup tool in some days.

[2020-07-21 18:43] egekorkan commented on #293
Additionally, I am not sure if the client checks for the value of `in`. So if a TD with `in:query` is consumed, the request is probably still puts the authentication information in the header. I wrote "probably" since I cannot find such checks in the http-client.ts :confused:

[2020-07-22 07:19] danielpeintner commented on #290
@ajs124 can you check https://github.com/eclipse/thingweb.node-wot/pull/292

[2020-07-22 07:19] relu91 commented on #293
yes, client completely ignores the `in` field.

[2020-07-22 08:09] danielpeintner commented on #277
PR https://github.com/eclipse/thingweb.node-wot/pull/283 has been closed as discussed.
I suggest we keep the issue open until we have checked the behavior of each binding.

[2020-07-23 13:12] Giammkk opened #296 "Testing CBOR implementation"
Hi, I implemented the support for CBOR. I  added this script in `core/src/codecs` and I import the `CBORCodec` class in `content-serdes.ts`, but I'm facing difficulties in checking if it works properly. The read/write functions work but I'm worried whether thingweb actually uses CBOR  or some default mediatype. I've noticed `ContentSerdesTest.ts` in `core/test`, but when I run `npm run build`, it

[2020-07-23 14:09] relu91 commented on #296
You should register your codec to the [static method](https://github.com/eclipse/thingweb.node-wot/blob/master/packages/core/src/content-serdes.ts#L45) of `ContentSenders` class. Then the servient will use it if the mediaType equals to `'application/cbor'`.

About unit tests, they are not transcopiled by default (i.e. they should not be distributed). To run them you can use `npm run test` on the c

[2020-07-23 14:20] danielpeintner commented on #290
resolved by https://github.com/eclipse/thingweb.node-wot/pull/292

[2020-07-23 14:20] #290 closed

[2020-07-23 15:20] danielpeintner commented on #296
BTW, we plan to support *pluggable* content-serdes in the same fashion as we do for bindings.

We are still exploring possible solutions. Input with that regard is welcome ...

[2020-07-24 12:37] egekorkan commented on #277
Another related point to this:
It is also not possible to assign different security schemes to a single id. For example, if I want to give access to two Consumers with basic auth but not give the same username password to them, it is not possible to do it :/

[2020-07-27 14:30] danielpeintner commented on #277
This is correct.
However such a change would be a *breaking change* at least for `getCredentials()` unless we deprecate _this_ method and create a new one getting multiple credentials. Also, when `addCredentials(credentials: any)` is possible several times we need also a call for removing credentials.
Nor sure if such a change is worth it unless we have an actual need...

[2020-07-28 08:02] relu91 commented on #229
I think we can close this issue after #250

[2020-07-28 13:22] egekorkan commented on #277
I think that `addCredentials` should firstly add new credentials, currently it is setting the credentials. I would also support a method like `removeCredentials`. Also the word `getCredentials` implies that there can be multiple credentials returned, which is not possible at the moment.

Use case: We proxy node-wot implemented devices that are in a local network and cannot use node-wot as the prox

[2020-07-28 13:41] #289 closed

[2020-07-28 13:41] #229 closed

[2020-07-28 18:33] erceguder commented on #290
Although supposed to be fixed, I am still having the same issue. Server running just fine btw -tried with Postman. Any ideas ? @danielpeintner @relu91

[2020-07-28 18:42] relu91 commented on #290
Are you exposing the Web Thing using node-wot? if it is not it might be that your server does not support basic authentication using the HTTP Headers. See #293

Finally, are you sure that you are using the latest code of node-wot? I am not sure but the fix that I made may not be published yet.

[2020-07-28 19:11] erceguder commented on #290
Now I see the problem: fix is not published to npm yet. Thanks anyways.

[2020-07-29 08:50] relu91 commented on #260
@egekorkan @danielpeintner any feedback on this?

[2020-07-29 09:18] danielpeintner commented on #277
I agree with your statements but I do not think we can for example *fix*  `getCredentials` by returning multiple credentials. Hence I suggest to mark it as `@deprecated` (and keep the current return value) and create a new method like `getAllCredentials` which may return multiple credentials.

Does this work for @egekorkan, others? If so I can create a PR accordingly...

[2020-07-29 10:01] relu91 commented on #277
I agree, then when we publish a major version of node-wot I'd remove all the deprecated methods. However, `getAllCredentials` sounds a little bit weird to me. What about to just change the name to `retrieveCredentials` ?

[2020-07-29 15:20] danielpeintner opened #297 "[Modbus] Sync terms with binding template vocabulary"
should be in sync with https://github.com/w3c/wot-binding-templates/pull/98

[2020-07-29 15:41] #209 closed

[2020-07-29 15:47] danielpeintner commented on #260
I tend do say that we should call `fillSecurityScheme(thing)` always, don't we ?

[2020-07-29 15:49] danielpeintner commented on #277
That sounds better, indeed ;-)

[2020-07-29 17:30] relu91 commented on #260
It seems the correct choice, but there are security protocols, like oAuth 2.0, which should only be used under TLS. Therefore, we should fail in `fillSecurityScheme(thing)` if a security protocol does not allow plain HTTP. I have a feeling that most of them should run over TLS.... but I am not sure.

[2020-07-29 20:36] egekorkan commented on #277
I also prefer `retrieveCredentials` :+1:

[2020-07-29 20:37] egekorkan commented on #260
I would _feel_ weird having basic auth over HTTP but in any case, the behavior should be clear. Displaying a warning like suggested above would make sense for me

[2020-07-29 20:43] relu91 commented on #297
Please assign this to me.

[2020-08-01 21:08] erceguder opened #299 "readallproperties & readmultipleproperties op's are accesible?"
I'm not sure if this needs to be fixed but when an `exposedThing` instance is created, the TD generated by the method `WoT.produce()` has an element in it's `forms` array with `op`s `readallproperties` and `readmultipleproperties`, independent of either `Thing` possesses `'properties'` or not.

[2020-08-03 12:00] danielpeintner commented on #299
It does not harm (like it it is now) but I agree it should not happen. I will try to take a look and report back.

Thanks @erceguder

[2020-08-04 08:33] #299 closed

[2020-08-04 09:12] danielpeintner commented on #277
I started a PR https://github.com/eclipse/thingweb.node-wot/pull/300

Some issues I see or I run into
* how to properly remove a dedicated credential (we would need to do a diff to find the *right* one). Maybe just support `resetCredentials()` ???
* `interface ProtocolClient` in `protocol-interfaces.ts` has `setSecurity(metadata: Array<TD.SecurityScheme>, credentials?: any): boolean`
  We would ne

[2020-08-04 13:21] erceguder opened #301 "Possible bug in Servient.addCredentials() method?"
Hey all!

While I was trying to develop something to test security of the things, I've observed that `addCredentials()` method of `Servient` class is behaving in a gross way. For example, in the following gist you can see that I have a thing with basic auth. of HTTP (tried with HTTPS btw., same problem) and I have a consumer thing to do -hopefully- pentesting. First, the credentials in the consume

[2020-08-05 09:33] danielpeintner commented on #301
@relu91 may I ask you to take a look?

[2020-08-05 11:20] weigandjakob opened #302 "[consumed-thing] Op values are not filled with defaults in properties"
When consuming a Thing Description the op values are not properly filled for a property. Example is below.
1. I consume a simplified version of TestThing with only bool property.
[code]
When I do `writeProperty()` everything works as expected.

2. When I remove `readOnly`, `writeOnly`, `observable`, they are inserted by default. When I do `writeProperty()`everything works as expected.
3. When I re

[2020-08-05 12:06] danielpeintner commented on #302
There might be some inconsistency in *when* default values are added.... I will try to take a look at it.

Having said that, I don't think a WoT runtime like node-wot is required to add default values in general.
Any opinions @sebastiankb @egekorkan @relu91. Shall we try to add them whenever possible?

[2020-08-05 12:28] egekorkan commented on #302
The TD spec says: "When assignments in a TD are missing, a TD Processor MUST follow the Default Value assignments expressed in the table of § 5.4 Default Value Definitions." So I am guessing that node-wot as a TD Processor MUST add the values.

Related to this, the Scripting API spec says:

Run the expand a TD steps on td. If that fails, re-throw the error and abort these steps.
Let thing be a new

[2020-08-06 07:47] danielpeintner commented on #302
Note: I am not arguing whether it is useful that node-wot should add the defaults. We should do so since we do it for other *default* values also.

However I don't think that any implementation needs to add these default values. What would be the idea of having them in the first place if they NEED to get added. My take on this is that IF there is no value the default values kicks in for any proces

[2020-08-06 08:00] danielpeintner commented on #302
back to the *actual* problem...

Mhh, the reason *why* `writeProperty()` fails is that the op array (which is NOT the default op that would be inserted) defines that there is only the op `"readproperty"`.

Our current take is that IF there are op fields they need to be complete.
I see in the [TD spec](https://w3c.github.io/wot-thing-description/#sec-default-values) that for `PropertyAffordance` th

[2020-08-06 09:42] egekorkan commented on #302
I think that this is something that needs to be discussed with the TD task force. @sebastiankb what do you think?

[2020-08-06 11:38] danielpeintner commented on #302
Maybe I am misunderstanding something here but IF you expect runtimes to add  `"writeproperty"` to `op` arrays that contain only `"op": ["readproperty"]` I wonder *how* a user can specify that a property should be read only?

[2020-08-07 16:02] egekorkan commented on #302
After thinking for a while, I think that if `op` exists it should not be filled. Some examples:
[code]

In this case, the second `form`'s op would be filled with `readproperty` and it would be simply wrong to do that since no handlers exist behind that `href`. I can think of many other cases as well.

I think what needs to be clarified is what should the scripting runtime do if the interaction has

[2020-08-10 09:01] danielpeintner commented on #302
Is this a consequence for node-wot, the scripting API or the TD specification?

As mentioned before my opinion is that once `op` field is set/provided (in one way or the other) in a TD node-wot should *not* modify it. Having said that, only if no `op` is available in a TD node-wot should fill in defaults. Flags like `readOnly` and `observable` are like hints according to the spec... this seems a b

[2020-08-11 09:30] danielpeintner commented on #188
@egekorkan any update? Did you have time to look into the issue?

[2020-08-11 09:32] danielpeintner commented on #167
We did update *some* dependencies. Moreover I think this is an ongoing process. Hence closing this issue.

[2020-08-11 09:32] #167 closed

[2020-08-11 09:51] relu91 commented on #302
+1 I think the *default filling* mechanism should be as stupid as possible without trying to predict what a developer wants.

[2020-08-11 10:19] relu91 commented on #301
It looks like a caching problem. The credentials are set in `ensureClientSecurity` method; here:
https://github.com/eclipse/thingweb.node-wot/blob/d272697af7ad836d4f5024dc46f06662ae54b06b/packages/core/src/consumed-thing.ts#L136

However, once the client is created the `ensureClientSecurity` is never called again (see `getClientFor` method). Consequently, the next reading operations will not have

[2020-08-11 10:45] egekorkan commented on #302
After thinking for a bit, I think that op value, if it exists should not be changed. The issue can be somewhat closed but I think that the TD is not filled with default values but another assumption mechanism is used to send the requests. Having the actual TD that is used for sending the requests would be also helpful for debugging purposes.

[2020-08-11 10:47] egekorkan commented on #167
https://david-dm.org/ we can also use this to track and show all the dependencies

[2020-08-11 11:34] erceguder commented on #301
@relu91 sure, added to the gist.

[2020-08-11 13:02] danielpeintner commented on #296
relates to https://github.com/eclipse/thingweb.node-wot/pull/304

[2020-08-11 13:05] danielpeintner commented on #24
I believe this is obsolete

[2020-08-11 13:05] #24 closed

[2020-08-11 14:21] danielpeintner commented on #277
@relu91 do you have any comments w.r.t. the [issues above](https://github.com/eclipse/thingweb.node-wot/issues/277#issuecomment-668481823)

[2020-08-11 14:23] danielpeintner commented on #302
I read the following statement ;-)

Please re-open or comment if we can do anything further..

[2020-08-11 14:23] #302 closed

[2020-08-11 14:40] danielpeintner commented on #48
as mentioned the option is in by default now, see https://github.com/eclipse/thingweb.node-wot/blob/6dad9786152e40f939caa7f63ef1abf1769ef316/packages/binding-coap/src/coap-client.ts#L212

[2020-08-11 14:40] #48 closed

[2020-08-11 14:41] danielpeintner commented on #51
PR #187 merged

[2020-08-11 14:41] #51 closed

[2020-08-12 07:30] danielpeintner commented on #167
Looks interesting. Since we have multiple package.json files I am not sure it will work though...

[2020-08-12 16:38] relu91 commented on #277
I agree that removing a single credential is tricky. Maybe we can think a little bit better about a credential data model and using a proper type instead of `any`.  So that we can have an equality method to check if two credentials are the same.  In the meantime defining `resetCredentials` is the best option; users of the library can combine `resetCredentials' with `retriveCredentials` and `addCre

[2020-08-12 19:09] egekorkan commented on #277
Even though this seems the only option, it indeed makes things more complicated and requires even more fine grained TD knowledge by the developer

[2020-08-12 19:20] egekorkan commented on #188
I sadly cannot remove Python 2 to really test it. I can however try on a new Raspberry Pi in a week. In the meantime, @relu91 could you try to change python2 to python3 in your Dockerfile PR #298 and test whether that works?

[2020-08-13 08:48] danielpeintner commented on #267
I believe w.r.t. ContentSerdes  PR https://github.com/eclipse/thingweb.node-wot/pull/304 should provide a solution/example.

[2020-08-13 08:54] danielpeintner commented on #277
The best approach (it seems) is like we do for `formIndex`. IF there is any hint use it. If there is no hint just pick the first one ....

[2020-08-13 09:00] relu91 commented on #277
The problem that I see here, it is that credentials are no a TD concept (on the contrary of forms). So it might be confusing specify such field in the API spec. We have first to tackle this problem consistently, I fear that leaving credential management completely to runtime it might be too complex...

[2020-08-13 09:06] danielpeintner opened #306 ""events" > ... > "op" > "unsubscribeevent" missing on generated TD"
see https://github.com/w3c/wot-scripting-api/issues/233 reported by @weigandjakob

[2020-08-13 09:53] #284 closed

[2020-08-13 09:54] #19 closed

[2020-08-13 12:12] danielpeintner commented on #306
PR https://github.com/eclipse/thingweb.node-wot/pull/307 should resolve the issue.

The *new* resulting TD with your example code looks as follows.

[code]

@weigandjakob can you confirm it is ok

[2020-08-13 12:43] weigandjakob commented on #306
@danielpeintner Yes, looks good as far as I can tell.

Only one small question for a better understanding: Why did the generation of "readallproperties", "readmultipleproperties" also change? Are there some generation parameters or was this a change in the default behavior?

[2020-08-13 12:49] danielpeintner commented on #306
There was a recent change that adds "readallproperties" and "readmultipleproperties" only if there are any properties. In your example there aren't.

[2020-08-13 12:51] danielpeintner commented on #306
resolved by https://github.com/eclipse/thingweb.node-wot/pull/307

[2020-08-13 12:51] #306 closed

[2020-08-15 19:55] erceguder opened #310 "Clarifying bearer security scheme"
I've been trying to understand how `bearer auth.` -independent of `oauth`- works and can be implemented. Unfortunately, I could neither find a broad explanation (had a look at the [TD documentation](https://www.w3.org/TR/wot-thing-description/#bearersecurityscheme)) nor a concrete example; leaving me with question marks on my mind. It would be great if somebody could supply a sample `thing` and `c

[2020-08-16 20:02] jak0bw opened #311 "Intended resolve/reject behavior of subscribeEvent() and unsubscribeEvent()"
When programming with node-wot I noticed the subscribeEvent() method does only resolve after the first Event was emitted by the Subscription Provider even if the subscription itself was successful (Tested longpoll and coap). Would it not be better to resolve after a successful subscription and let the provided callback Function handle the emitted Event? (Both consumer and consumedThing were produc

[2020-08-17 09:28] relu91 commented on #311
I agree with you the subscription function should resolve right after the subscription is successful. I mentioned this change in this comment https://github.com/eclipse/thingweb.node-wot/pull/232#issuecomment-638042931 (see the last three lines). However, it requires a change in the API of protocol clients and we put this change on hold.

Node-wot follows the Web of Things Scripting API [specifica

[2020-08-17 12:41] erceguder commented on #310
According to  [this line](https://github.com/eclipse/thingweb.node-wot/blob/4b03e6d458cc0db7e197fd30dcab7aac1207be54/packages/binding-http/src/http-server.ts#L342), `token` property of credentials is checked for equality with the token sent. Furthermore, I've observed that I can set the `token` property any string, and it works as long as it matches with the request's! On this point, what are the

[2020-08-18 09:45] relu91 commented on #188
Tested in Docker python 3 works. I am making a PR to clean the things up.

[2020-08-19 09:38] #188 closed

[2020-08-23 18:08] fatadel opened #313 "Slugify title in URLs"
From Telegram discussion:
If we use slagify then the thing titles containing spaces will be automatically converted to the ones using dashes not `%20`.
So that, `Smart Coffee Machine` becomes `smart-coffee-machine` (note lowercase as well) and we are not obliged to use dashes in titles for readability in URLs.

[2020-08-24 09:06] danielpeintner commented on #313
I like the proposal to use more *readable* URLs.

The only downside that comes to my mind is that at the moment there is a 1-to-1 mapping from title to URL. This is going to fail with the proposed change:
`"title": "Smart Coffee Machine"`
and
`"title": "Smart-Coffee-Machine"`
and many more variante lead to the same url
`smart-coffee-machine`

[2020-08-24 10:19] fatadel commented on #313
I agree with you, @danielpeintner.
But to overcome the downside you've mentioned we can simply log the generated URL.
If we do it on `console.log` level we can be sure that this message never gets suppressed and the user knows where to look for the exposed Thing.

[2020-08-24 10:22] egekorkan commented on #313
Yes but log messages get lost easily among other messages. Not objecting this need but only 90% convinced on the solution.

[2020-08-24 12:22] danielpeintner commented on #313
An alternative is to make sure that by means of slagify we never get duplicates.

Having said that, a second *thing* getting the same URL would need to
a) get another URL (and we need to store that URL internally) or
b) being refused to be exposed due do conflicts

[2020-08-24 14:58] fatadel commented on #313
I think keeping the list of URLs and appending some suffix to conflicting ones is better than refusing to expose and making the user change the Thing title.

[2020-08-24 15:32] relu91 commented on #313
IMHO this behavior can be easily implemented by the developer. I think failing should be the best option. It is better than falling silently and change the title.

If we do it on console.log level we can be sure that this message never gets suppressed and the user knows where to look for the exposed Thing.

A link to the generated TD might be still nice. However, no `console.log` this message is c

[2020-08-25 13:44] danielpeintner commented on #313
We can also keep the title as is and still add some suffix to the URL. The user just won't find it where it expects it to be. Moreover, we would need to update several parts of the code that use the uniqueness of the title to generate URLs ...

I am like @egekorkan I guess. I am not yet 100% sure whether it is worth the effort and the possible downsides/problems...

[2020-08-25 13:45] danielpeintner commented on #313
@fatadel do you want to work on a PR if you feel like it is worth it?

[2020-08-26 10:15] relu91 opened #314 "[core][cli] Upgrade to vm2"
Currently, we are using the node `vm` module to load and execute WoT applications. However, `vm` has different problems:
1. it is not completely "safe". [Here](https://github.com/patriksimek/vm2#vm2-----) is explained how a malevolent script can access the main context and kill the servient.
2. it is difficult to make `require` works. As discussed in different issues/PRs is not possible to require

[2020-08-26 10:22] egekorkan commented on #314
Sounds very good!

[2020-08-26 12:10] danielpeintner commented on #314
This would be very cool.

Great, thanks!

[2020-09-01 08:25] #314 closed

[2020-09-01 11:10] fatadel commented on #313
@danielpeintner Yeah, I can propose a solution and then we can decide if it's worth it or not.
Should I use something like https://www.npmjs.com/package/slugify, or just write it as a custom method without external dependencies?

[2020-09-01 12:54] danielpeintner commented on #313
I know the code would not be terribly complicated but I would rather pick something *proven*  ;-)

[2020-09-01 15:05] fatadel commented on #313
Okay :)

[2020-09-01 17:05] relu91 commented on #301
Sorry, I forgot to replay back. basically from your output is pretty clear that my hypothesis is confirmed. I think it should be possible to add credentials also after the client's infantilization. However one could also argue that the credentials should be added beforehand.  @danielpeintner what do you think? Is it a bug or feature 😄 ?

[2020-09-03 00:19] fatadel commented on #313
Please check out my PR for this issue - #317.
I've tried making the least breaking changes to the code, please let me know if it suffices.
Or in case I've missed out somewhere the usage of a title in URLs.

[2020-09-03 07:39] #275 closed

[2020-09-03 07:42] danielpeintner commented on #301
I agree. It would be nice to allows adding credentials later. Having said that, I am not 100% sure about all consequences...

[2020-09-07 13:32] #313 closed

[2020-09-08 15:13] #192 closed

[2020-09-09 09:54] egekorkan opened #320 "Listing differences to the TD specification"
Here are some things that the TD specification is requiring but node-wot is not doing:

## Interacting with a Thing on the Consumer side
1. Understanding the `securityDefinitions`: Currently, node-wot uses the credentials provided by the user for a Thing with a certain id and does not look at all into the TD what mechanisms are needed.
2. Not supporting a TD with multiple security schemes: Related

[2020-09-09 16:15] relu91 commented on #320
Really great work Ege. I just want to link an open issue (https://github.com/eclipse/thingweb.node-wot/issues/293. ) about those two points:

Probably, it might make sense to open an issue for each point... 🤔 , but it might flood the issue section.

[2020-09-10 12:27] danielpeintner commented on #80
I wonder which is the better solution.

1. the _simpler_ approach of adding a JSON-LD library to node-wot that parses initially the provided TD and rewrites prefixes according to our understanding (e.g., `http://www.w3.org/2011/http#` to  to `htv`).
This means no big change in the rest of the code

2. an actual rewrite with passing `"@context"` array or the entire TD everywhere
(makes it also safe

[2020-09-10 12:33] egekorkan commented on #320
Somewhat my favourite thing to do :smile: but I would wait for @danielpeintner 's opinion :)

[2020-09-10 12:38] danielpeintner commented on #320
see https://github.com/eclipse/thingweb.node-wot/issues/80#issuecomment-690247396

Are you sure? I mean of course *if* you use a browser than the provided language is used. A REST client reports multi-languages fields accordingly. I tried the counter sample with a REST client and get

[code]

[2020-09-10 12:39] danielpeintner commented on #320
I am OK with having an umbrella issue like this one and create a dedicated ones IF we agree that it is an issue ;-)

[2020-09-10 14:08] egekorkan commented on #320
So I did use a browser but what I mean is, even if content negotiation has happened, shouldn't the other languages be still displayed?

[2020-09-10 16:03] relu91 opened #323 "[http/core] ERR_STREAM_WRITE_AFTER_END error after the first event"
The servient crashes with the error in the title when it sends the second event on an HTTP long polling subscription.

### how to reproduce
consumer.js
[code]
producer.js
[code]
run:
[code]
[code]

I can volunteer to work on PR so please assign me.

[2020-09-10 16:54] relu91 opened #324 "Webpack and node-wot Browser bundle"
I am trying to use node-wot as a client in a webpack application. The library can be only loaded using a dynamic import (i.e. `const wot = await import("@node-wot/browser-bundle")`) and it seems that it misses some node built-ins. In fact, subscribing to an event throws the following error:
[code]
AFIK The `punycode` library should be a builtin of node.js, but here it misses the `toASCII` function

[2020-09-10 18:58] egekorkan commented on #80
I am not sure if I understand the first one since how could you know where to look at? What if I have a TD like the following:
[code]
I think the reason I am confused is because we don't necessarily need JSON-LD support here since we need to find where we have `http://www.w3.org/2011/http#` and replace `wow` with `htv` no?

[2020-09-11 06:35] danielpeintner commented on #320
I recall doing some work in this area to actually rewrite multi language strings. My interpretation of last para in [6.3.2 Human-Readable Metadata](https://w3c.github.io/wot-thing-description/#titles-descriptions-serialization-json) was to remove any other multi-language strings.

What you are saying is that for example the following initial TD snippet

[code]

with language chosen being `"de"` sh

[2020-09-11 06:37] danielpeintner commented on #323
Thanks Cristiano!

[2020-09-11 06:53] danielpeintner commented on #324
I did try to reproduce the issue by

### exposing counter sample
`node packages\cli\dist\cli.js examples\scripts\counter.js`

### loading HTML in one browser
.../thingweb.node-wot/examples/browser/counter.html?url=http://localhost:8080/counter

### load the same HTML in another browser/tab
.../thingweb.node-wot/examples/browser/counter.html?url=http://localhost:8080/counter

subscribe to event "ch

[2020-09-11 07:00] danielpeintner commented on #80
You are right. We can walk over all JSON keys and replace any `"wow:"` with `"htv:"`. I was just thinking that this rewrite is better than with a library. I am not sure if there are (or can be) some corner cases that make it more difficult like
* "https://www.w3.org/2019/wot/td/v1" mapped to "td" and "http://www.w3.org/2011/http#" to default context et cetera
* ...

Shall we go with this simple re

[2020-09-11 08:01] relu91 commented on #324
yes, indeed.

it only happens with webpack.

[2020-09-11 10:25] relu91 commented on #323
I dug into the problem. Putting simply, the issue is that we do not unsubscribe event callbacks. The `http-server` subscribes to the `thing` event using `thing.subscribeEvent` every time it receives an HTTP LP request. After one event is sent it unsubscribes using `thing.unsubscribe`, but as you can see we do not actually unsubscribe the callback:
[code]
Consequently, the next time that the thing

[2020-09-11 11:35] egekorkan commented on #320
After reading the TD spec, what I used to remember is indeed not asserted in any way. Thus, node-wot is free to do anything :) The current way makes more sense and more performant.

[2020-09-11 14:53] danielpeintner commented on #324
Sorry I didn’t read it carefully enough...

Having said that, I wonder whether it make sense to have some kind of "manual tests". e.g. by creating a directory "<thingweb.node-wot>/manual-tests" and having sub-directories like "issue-324" where we can put the test and a README how it can be tested or sample code.

Do you think you can provide such a manual test?
Or do you/others think this is a _st

[2020-09-11 15:03] danielpeintner commented on #323
Now I recall that issue and I think you are right branch 0.8.x and the revised subscribe/unsubscribe might help. Let's postpone it till we actively work on 0.8 and the new API.

[2020-09-11 15:09] danielpeintner commented on #320
I have taken the liberty of striking out point 6.

Shall we ask for clarification in the TD task force or is this freedom intended (and good) as I think.

[2020-09-11 19:56] egekorkan commented on #320
Creating an issue at TD

[2020-09-15 06:50] relu91 opened #325 "[http] Missing OAuth flows"
Currently, our HTTP protocol binding only supports `client` and `password`. However, the current TD spec document defines also `code` and `device` as supported flows. We should implement them to close the gap between the spec and the implementation.

Related to:
#320 and https://github.com/w3c/wot-testing/issues/51

[2020-09-17 11:25] erceguder opened #326 "writeOnly properties can be read?"
As far as I've observed, node-wot does not allow readOnly properties to be written, replying with a `Property readOnly` body. However, writeOnly properties can be read (though `op` only has the element `writeproperty`), isn't this a problem ?

[2020-09-18 13:58] danielpeintner commented on #326
Thanks for reporting. The PR https://github.com/eclipse/thingweb.node-wot/pull/328 has been started to fix the issue.

[2020-09-22 12:00] #326 closed

[2020-09-23 06:16] danielpeintner opened #331 "Smart Coffee Machine - Fixes/Updates/Proposal"
I would like to split the issue in 3 sections about the smart-coffee-machine samples in https://github.com/eclipse/thingweb.node-wot/tree/master/packages/examples/src/scripts

### 1. Bugs

The code uses promises in the wrong way (see [here](https://github.com/eclipse/thingweb.node-wot/blob/master/packages/examples/src/scripts/smart-coffee-machine.ts#L251-L267) or [here](https://github.com/eclipse/

[2020-09-23 06:28] danielpeintner commented on #331
relates to https://github.com/eclipse/thingweb.website/issues/19

[2020-09-23 06:40] danielpeintner opened #332 "Validate input data based on DataSchema"
At the moment node-wot core simply passes any value that it gets for a given property et cetera.

Hence even IF we have `"type": "number"` a string would work unless the binding/handler refuses the data.

I think the core should be validating input data. This means we should plugin a library like [avj](https://ajv.js.org/) to validate JSON.

However it causes some problems IF the data that comes i

[2020-09-23 08:01] danielpeintner commented on #332
see https://github.com/eclipse/thingweb.node-wot/blob/master/examples/templates/exposed-thing/src/base.ts#L126

[2020-09-23 13:03] egekorkan commented on #331
Some other things I have seen:
- producing and exposing are not the same thing. The text says "Creating a WoT Thing is called exposing or producing a Thing".
- " Note that, all affordances (i.e. property, action and event) should be added withing the produce method." withing -> within
- servedCounter write handler has resolve before the logic. Also explaining what resolve does here is helpful :)
-

[2020-09-23 13:06] egekorkan commented on #331
Also, links to examples return 404: E.g. at "The full script is available at node-wot GitHub repository. "

[2020-09-23 13:25] egekorkan commented on #332
I would firstly wait for the .value() feature to come to node-wot. Then, I would see some different solutions:
- provide a `validate()` function on the scripting level that can be used in interaction handlers. The developer chooses to uses it based on the data.
- provide a validate option that defaults to "yes validate" in interaction handlers that can be replaced with no validation or a custom va

[2020-09-23 13:55] danielpeintner commented on #332
Okay, let's wait till the updated API is in place!

[2020-09-23 13:57] danielpeintner commented on #331
This is my fault given I renamed the examples consistently to "smart-coffee-machine". Hence we need to fix the links as well...

[2020-09-23 17:06] erceguder opened #333 "readOnly properties cannot be internally updated?"
Latest release does not allow `readOnly` properties to be updated within the thing itself, e.g. `examples/scripts/counter.js` crashes [on this line.](https://github.com/eclipse/thingweb.node-wot/blob/af61b981f4bdc14d03afbacde308704a97655de2/examples/scripts/counter.js#L129)

[2020-09-24 08:34] danielpeintner opened #334 "Browser bundle with "latest" not working"
Due to the recent npm push the browser bundle does not work anymore.
For now one can fallback to

`<script src="https://cdn.jsdelivr.net/npm/@node-wot/browser-bundle@0.7.1/dist/wot-bundle.min.js" defer></script>`

instead of

`<script src="https://cdn.jsdelivr.net/npm/@node-wot/browser-bundle@latest/dist/wot-bundle.min.js" defer></script>`

[2020-09-24 09:03] danielpeintner commented on #277
Note: we may want to add decorators like `@deprecated` to indicate obsolete functions
(see also https://medium.com/@rossbulat/get-started-with-typescript-decorators-cf3924c37f04)

[2020-09-24 09:51] danielpeintner commented on #333
I believe this is a *bug* in the script and not in the node-wot implementation. We also had discussions in the past (see https://github.com/w3c/wot-scripting-api/issues/106) and node-wot *now* enforces a check (and refuses) before writing a value that is `readOnly` (see PR https://github.com/eclipse/thingweb.node-wot/pull/328).
Note1: this means once a property is `readOnly` we need to write a pro

[2020-09-24 10:00] danielpeintner commented on #334
Error

`Uncaught TypeError: _$_empty_30.readFileSync is not a function`

[2020-09-24 10:13] danielpeintner commented on #334
Does it relate?
https://github.com/eclipse/thingweb.node-wot/commit/fe533227f5ae748946150b874e2a06e90453a15f

[2020-09-24 11:49] fatadel commented on #331
No worries, I've made a PR for that as I said - https://github.com/eclipse/thingweb.website/pull/23.

[2020-09-24 12:36] fatadel commented on #331
@danielpeintner @egekorkan
The reason why promises are made like that is the following.
The first picture is the current implementation. The second one is using `reject` the way you wish.
![first](https://user-images.githubusercontent.com/14371560/94145297-9eabaf80-fe72-11ea-8050-9f16cd797bd5.png)
![second](https://user-images.githubusercontent.com/14371560/94145321-a66b5400-fe72-11ea-8381-0093053

[2020-09-24 12:42] danielpeintner commented on #331
The problem is that if you `resolve` with a text explaining the reason there is no way to detect that something went wrong. Errors should `reject` with the appropriate  error message.

Note: if your REST tools works correctly and the code is working correctly (there are issues also as I mentioned) the tools should show you the error just fine.

This is not because I am insisting to do so ;-)

[2020-09-24 13:08] egekorkan commented on #333
I think that this makes more sense however this is a breaking change, i.e. now I have to rewrite all my Thing implementations :( Such changes require a more significant version update than incrementing the patch number

[2020-09-24 13:12] egekorkan commented on #331
I also don't understand how reject is not delivered but it can be also because you are not wrapping the logic inside a promise

[2020-09-24 13:31] danielpeintner commented on #333
We can also "hold back/revert" this change till v0.8.x is ready (which will be soon) ...

The overall question remains whether this is how it is meant to work.

[2020-09-24 13:47] fatadel commented on #331
I get the same behavior in the Chrome browser and Insomnia REST client, so no doubt they work correctly. Apparently, there is a bug somewhere else or this code is not 100% correct.

No, I **do** wrap it in the second case.

[2020-09-24 21:27] egekorkan commented on #331
Ah I see, my bad. This must be some error in node-wot then :/

[2020-09-25 06:39] danielpeintner commented on #331
I am still not 100% convinced that it is actually an issue in node-wot since I recall getting rejects. @fatadel  is this behavior still the case for your recent updates in https://github.com/eclipse/thingweb.node-wot/pull/337/files ?

If so, please provide a simple a simple test cases for https://github.com/eclipse/thingweb.node-wot/blob/master/packages/core/test/ServerTest.ts that shows the issue

[2020-09-25 11:42] fatadel commented on #331
Done!

[2020-09-25 12:02] danielpeintner commented on #334
Usable for testing?
https://docs.cypress.io/guides/overview/why-cypress.html#In-a-nutshell

[2020-09-25 13:13] egekorkan commented on #334
We are using playwright in Playground since a couple of weeks

https://github.com/thingweb/thingweb-playground/tree/master/playground-web#playwright-testing

[2020-09-25 15:13] danielpeintner opened #340 "Set read handler does not pass along reject if handler fails"
see https://github.com/eclipse/thingweb.node-wot/pull/337#pullrequestreview-496502678

[2020-09-25 18:36] relu91 commented on #331
FYI: using async and await makes the code much more cleaner:
[code]

[2020-09-25 18:43] relu91 commented on #333
I think if the designer decides that it is a `readonly` property we should not allow writings. It would be counterintuitive in my opinion... Anyway, there's always the argument that those tags are just suggestions and should not be taken as constraints. I personally like the current node-wot approach, so that as a developer I can fine-tune the visibility of certain properties. However, I am open t

[2020-09-25 18:58] egekorkan commented on #333
I also think that they should not be writable by outsider Consumers but it is really convenient to be able to write to properties internally instead of needing to create variables and manage them. This breaking change even requires me to write extra read handlers if I am reading values from a sensor every second and storing them in a property.

[2020-09-25 18:59] egekorkan commented on #333
However, there is no need to fix it if there will be no npm publishes until the version 0.8.x

[2020-09-28 06:06] zolkis commented on #333
Writing a property is implemented internally in the implementation script.
In my view, `writeProperty()` is always a client method.
So the impl script should use its own internal method for writing, if it wants to override the TD semantics.
All the others should not be able to write a read-only property.
See also my [comment](https://github.com/w3c/wot-scripting-api/issues/106#issuecomment-4239541

[2020-09-28 09:16] danielpeintner commented on #333
@egekorkan this is already part of published node-wot v0.7.2 (see PR https://github.com/eclipse/thingweb.node-wot/pull/328)
We *could* revert this for v0.7.3 and bring it back for v0.8.x but I am not sure this is the right way forward

[2020-09-28 12:49] danielpeintner commented on #334
The *original* issue has been fixed by https://github.com/eclipse/thingweb.node-wot/pull/338

Keeping this issue open for setting up automatic testing

[2020-09-28 14:19] egekorkan commented on #333
If we do this, how can we emit observable property "events"? Since the new property value is emitted when it is written to, should an implementation come up with its own way of emitting a new property value?

[2020-09-28 19:17] zolkis commented on #333
Not sure if I get the use case. I see 2 use cases.

1. If an ExposedThing script exposes a local read-only (for clients!) Property, which changes value (updated by internal method), then of course it is possible to subscribe to it and when the internal write method is called, it can notify subscribers.

In the ExposedThing script, the `writeProperty()` method (and the whole ConsumedThing interface

[2020-09-28 21:53] egekorkan commented on #333
So I am more on the first use case you describe, I think. Here is an example Thing implementation that has an observable property:
https://github.com/tum-esi/wot-sys/blob/master/Devices/nodewot-infrared-sensor-dobot/src/base.ts

On line 85, once the infrared sensor detects an object, the value is written to the property and this line alone results in the emission of an observed property _event_. H

[2020-09-29 06:36] danielpeintner commented on #333
I think it still fires notification of value changes. See https://github.com/eclipse/thingweb.node-wot/blob/8ee006a971e45dded6cf2d7df0256dec512b5eb9/packages/core/src/exposed-thing.ts#L244 where it fires this event even if a handler is used or do I miss anything here?

[2020-09-29 07:07] zolkis commented on #333
It can be written by the local methods of the script, if the matching entity is locally writeable.
It can be even written by the local `writeProperty()` method in `ExposedThing`, since that is anyway a local method. (The two can be the same).

Where the writing SHOULD fail is all the incoming write requests to that Property, i.e. all the _remote_ client `writeProperty()` calls.

Currently the API

[2020-09-29 07:16] relu91 commented on #332
I agree.

I like this idea, probably it would be good to have also a *global* option in the servient. So one can personalize it more easily (i.e. he don't need to set the validation function for each interaction). However, this is implementation-specific and should not be introduced in the API spec.

It would be easier and more portable to go down this path. The value function is in charge to crea

[2020-09-29 07:21] danielpeintner commented on #333
keep issue open for discussions to settle

[2020-09-29 09:56] egekorkan commented on #333
I agree with this and it still would fire if it could be written to locally.

I totally agree that anything coming over the network should not be allowed to write to a readOnly property

[2020-09-30 09:35] #340 closed

[2020-10-15 11:20] miguelrk opened #343 "Servient's runScript() lacks management funcionality (stop, restart, monitor)"
feat(core): add support for script runtime management functionality into Servient

Hello everyone! I realized the core/Servient `runScript()` and `runPriviledgedScript()`  methods only allow running arbitrary code, without the ability to stop it. I have a use case where I need to execute scripts and have not only basic management like stop, restart, but also [more advanced process monitoring capab

[2020-10-15 12:55] danielpeintner commented on #343
Note: we have been just recently switching to `vm2` because of some shortcomings in `vm`.
@relu91 do you have an opinion?

[2020-10-17 17:04] erceguder opened #344 "Setting log level without the cli tool?"
[Here](https://github.com/eclipse/thingweb.node-wot/blob/master/packages/cli/README.md), setting log level for `Servient` is shown for the CLI tool. How can I set log level when node-wot is installed as a npm dependency?

[2020-10-19 15:02] oHotel opened #345 "[Question] Assistance Implementing a Property"
I am struggling to create a thing including a property representing an image (JPEG). Three questions arise here:

1. How to create the corresponding property in WoT.produce?
   My attempts:
      `“picture” : {description: “JPEG image”, type:”image/jpeg”, observable:true}`; and
      `"picture” : {description: “JPEG image”, forms:[{contentType: "image/jpg" }], observable:true}`

2. What is the typ

[2020-10-19 15:23] danielpeintner commented on #345
There is a running  counter example, see http://plugfest.thingweb.io/examples/counter.html.
The code for it is here: https://github.com/eclipse/thingweb.node-wot/blob/master/examples/scripts/counter.js

It contains a "red dot" PNG see [here](http://plugfest.thingweb.io:8083/counter/properties/redDotImage)

Hope this helps to provide the right pointers....

[2020-10-19 17:19] othello25 commented on #345
I have a similar issue:

Line 149 https://github.com/eclipse/thingweb.node-wot/blob/master/examples/scripts/counter.js

What is
`"iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0DHxgljNBAAO9TXL0Y4OHwAAAABJRU5ErkJggg=="` ?
a raw binary dump of the redDotImage?

I am still investigating, I will keep you informed.

[2020-10-19 19:55] miguelrk commented on #345
Hey @othello25  jumping-into the discussion...

`iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0DHxgljNBAAO9TXL0Y4OHwAAAABJRU5ErkJggg==` is a Base64 encoded string of the PNG image (image/png) .

You can test it yourself using the decoder over at [https://base64.guru/converter/decode/image](https://base64.guru/converter/decode/image).

Hope this helps. I was also look

[2020-10-19 20:09] miguelrk commented on #343
Thanks @relu91 for the thorough response!

I have been thinking about it t(and the links and comments you mention) and I do agree adding this functionality to node-wot might be out of scope. Appart from maintainability issues, a Hypervisor-based approach could quickly explode in complexity, and at the end, there are many other ways of deploying (WoT) scripts (e.g. as containers, serverless, in the

[2020-10-20 08:24] danielpeintner opened #346 "Use NPM workspaces to manage multiple packages from within a singular top-level root package"
https://github.blog/2020-10-13-presenting-v7-0-0-of-the-npm-cli/

Worth investigating ...

[2020-10-27 16:29] danielpeintner opened #348 "[test] HTTP long poll test"
add HTTP long poll test as mentioned in https://github.com/eclipse/thingweb.node-wot/pull/347#issuecomment-717221792

[2020-10-28 09:26] danielpeintner opened #349 "[test] OPCUA tests fail on Windows"
The OPCUA tests fail on Windows (depending on setup?)
_**it used to work on my Windows box but does not any longer**_

Hence we should try to fix the problems by
1. Fix the actual issues (linux and windows treat differently unreachable hosts)
2. Don't run OPCUA tests on Windows (e.g., by using https://github.com/charlesguse/run-script-os or so )

"1." is preferred

[2020-10-30 07:19] danielpeintner commented on #349
Since some days the OPCUA tests fail. Initially I thought it was related to my local Windows machine setup since the code itself didn't change for a while.

Having said that, it now fails on Travis also (see https://travis-ci.org/github/eclipse/thingweb.node-wot/jobs/739568120)
@lukesmolo do you have more insights what might be happening?

[2020-10-30 07:25] lukesmolo commented on #349
From logs it seems it does not instantiate the local server that is needed for testing the client. I can have a look at it in the next days for sure.

[2020-10-30 07:37] danielpeintner commented on #349
Great! Thank you for your support and your quick answer!

[2020-10-30 16:50] egekorkan commented on #333
Some further comments:

- > where it fires this event even if a handler is used or do I miss anything here?

This part is never triggered since the following check is valid for a readOnly property, thus the reject happens on the following line:
https://github.com/eclipse/thingweb.node-wot/blob/8ee006a971e45dded6cf2d7df0256dec512b5eb9/packages/core/src/exposed-thing.ts#L226

- It seems that https:/

[2020-10-30 18:35] relu91 commented on #333
I agree that we need to solve this. I tempted to go with the first solution: `allow writeProperty internally,`. It is straightforward and does not need any changes in the API. However, I am afraid that it is a violation of the Liskov Substitution Principle. Since ExposedThing is a subclass of ConsumedThing the *ExposedThing* `writeProperty` method should not be less strict than the *ConsumeThing*

[2020-10-30 23:38] egekorkan commented on #333
Yes, I agree that it is confusing that such a way exists. One may never notice that this is possible since you would be used to not use writeProperty for readOnly properties. Regarding `updateProperty`: I have thought of this but having a method that does not associate with a WoT operation is slightly unusual. Also, for a first time reader, the difference between `writeProperty` and `updatePropert

[2020-10-31 19:46] zolkis commented on #333
ExposedThing implements all its methods, including writeProperty, and as I said above, they are basically local private methods.
So the semantics does not go beyond local scope. In fact, the ExposedThing implementation doesn't need them.
The runtime should not implement writeProperty in ExposedThing, the script has to, as it _defines_ the ExposedThing.

I am even thinking to remove the inheritance

[2020-11-03 13:43] danielpeintner commented on #333
I guess "what" we try to achieve is to differentiate between the `writeProperty()` of externals/clients and `writeProperty()` of the script itself. The first should not be allowed for `readOnly` properties while the latter should just work fine.

I wonder how we can achieve that. What could be the best means to differentiate the two cases?
* other method like updateProperty()
* change/avoid subcla

[2020-11-03 20:07] fatadel opened #351 "Fix protocol checks"
Say, I want to start a Thing (like the smart coffee machine or the counter) but would like to disable some default bindings (say, coap). What I do is create a configuration file and put `{ "coap": null }` there. Otherwise, it will use the coap settings from the default config.
Now, my set will fail in this block https://github.com/eclipse/thingweb.node-wot/blob/d420cfb259dc01d23177fe40ff5c4dea4799

[2020-11-04 10:17] danielpeintner opened #353 "Proper validation of config files"
Discussion in https://github.com/eclipse/thingweb.node-wot/pull/352#issuecomment-721386867 highlighted the fact that [mergeConfigs](https://github.com/eclipse/thingweb.node-wot/blob/d420cfb259dc01d23177fe40ff5c4dea4799cdbc/packages/cli/src/cli-default-servient.ts#L60) has some undesired effects:
e.g.,  any default binding kicks in (even if not desired!)

The idea raised was to use JSON schema defa

[2020-11-04 10:19] #351 closed

[2020-11-04 10:44] danielpeintner commented on #349
FYI: for the time being we [ignore](https://github.com/eclipse/thingweb.node-wot/pull/354) all OPCUA tests.  Please re-activate them once they are working again. Thanks!

[2020-11-04 12:00] relu91 commented on #353
I support this change, avj is just110 Kb and it has a pretty big community. We'll totally improve node-wot having it has a dependency.

This is a strong reason to have it, in my opinion.

[2020-11-04 12:17] zolkis commented on #333
The idea with ExposedThing is that a script implements it.
The idea with ConsumedThing inherited in ExposedThing was that of convenience, i.e. its implementation could be "generated" by the runtime for local use, however, the script could override it.
It seems it creates more confusion than problem solving, so let's apply Occam's razor.
I suggest we step back a little in order to gain experience w

[2020-11-04 14:30] egekorkan commented on #353
I also support it. Also it would be a dependency only in the cli for now :)

[2020-11-05 14:59] relu91 commented on #333
Totally agree here. However, I think the current API lacks the means to convey that a property value has changed. Therefore, we can't really implement an *ExposedThing*. Currently, it was done implicitly by the *writeProperty* method, but I do not think this is the right approach. I propose to add this new method:
[code]
Basically, we don't duplicate the `writeProperty` method semantics (e.g. addi

[2020-11-05 16:03] egekorkan commented on #333
I am almost totally fine with the above mentioned solution. One thing that bugs me is that before it was inherently assured that the property changes were emitted. Now, it would be up to the developer to do that. It might be better since maybe you don't want to emit every change but want to change the internal value very often.

In any case, the way it was introduced in a minor version is breaking

[2020-11-05 16:31] zolkis commented on #333
I assumed that part could be encapsulated by the implementation, once it has the list of Property observers.
So what it needs to know is _when_ a property is changed. But it has no way to know it without a hook, which `writeProperty()` was supposed to be (the impl knew it was called, of course with the script-provided content, but here only the fact of invocation mattered). Since I suggest removin

[2020-11-05 16:56] relu91 commented on #333
That's precisely why I made my proposal.

That would allow the scripts to totally control the Property observe notifications, like with Events, and that makes even more sense. So I fully support it. Actually it's a natural consequence of removing ConsumedThing inheritance from ExposedThing.

I guess we could still live with ConsumeThing -> ExposedThing inheritance.  I still find it convenient to p

[2020-11-05 17:01] egekorkan commented on #333
Yes :)

By the way, for the `emitPropertyChange(property:string)`, should it emit a value given to it? Should that value also change the value gotten by a `readProperty` function? Also, can it emit even if it didn't change? I think there are some open points that need to be very well defined.

[2020-11-05 17:06] relu91 commented on #333
We should think about it, but I feel like it does not need a value. The platform should use the read handler defined for that property and get the value back from there. No change to the value should happen here. Then the runtimes MAY (?) cache previous values and send the event only if a real change happened.

[2020-11-05 17:34] zolkis commented on #333
We could use the TD instance of an ExposedThing and create a ConsumedThing from that. Basically we end up with the same thing, but a bit more separated and better defined.

[2020-11-05 17:38] zolkis commented on #333
That might depend on the binding, too. In OCF/CoAP binding, on the client side, the property change notification must indeed provide the value as well. Next reads would return the same value, until the next change. We can handle this the same way we handle a read, i.e. using the `InteractionOutput`  interface or by passing `null`. But I can imagine in some protocols only the notification will go,

[2020-11-05 17:42] egekorkan commented on #333
Ah ok, so if I get it correctly, I would need to do something like the following:

[code]

It is not bad but the developer needs to remember the relation between `myTemp` (or a function that used by the property read handler) and the property in other places when using `emitPropertyChange`. I think it is an acceptable solution though :)

[2020-11-05 18:15] zolkis commented on #333
You could add a convenience function,

[code]

and use `updateTemperature()` instead of the + operator.
(NB, `updateTemperature(value)` was called the more generic `writeProperty("temperature", value)` in the current API, which we can also do.)

[2020-11-05 18:32] relu91 commented on #333
@egekorkan the example looks good to me and I think the shortcomings that you mentioned are not that bad.

[2020-11-05 18:50] zolkis commented on #333
Meanwhile we are discussing to remove `ConsumedThing`  inheritance from `ExposedThing`, but resolve `expose()` with that `ConsumedThing`. That would clarify things and maintain convenience. `expose()` could even take an option to skip generating that ConsumedThing, if not needed.

[2020-11-09 10:12] danielpeintner commented on #333
Comments w.r.t. to the example given by Ege [here](https://github.com/eclipse/thingweb.node-wot/issues/333#issuecomment-722531919)

I think in the case of using built-in value containers it should be much simpler. Hence, if no user-defined write handler is set we should be able to just say say `write/updateProperty()` and the `emitPropertyChange()` should be called internally.

Once a dedicated wr

[2020-11-09 10:37] relu91 commented on #333
I think Ege was thinking about the `readonly` use case where it does not really make sense to allow writeProperty to do its job. On the other hand, if we are talking about a `writable` property, I think that the default should like you are proposing (i.e. call `emitPropertyChange` internally)

[2020-11-09 13:19] zolkis commented on #333
Summarizing from the Scripting call today (Nov. 9. 2020),

1. We should have `emitPropertyChange()` method in ExposedThing (scripting issue 280)

2. We should remove ConsumedThing inheritance from ExposedThing because the confusions (scripting issue 281).
After a long discussion we agree this is better since code will be portable and let's force writing ExposedThing using local means, before stand

[2020-11-09 14:22] egekorkan commented on #333
These are good improvements! :)

[2020-11-09 17:07] zolkis commented on #333
About point 3, I do have some reservations. The request handlers are already meant to provide the values from sensors and are more generic (don't only provide the value, but also define how to handle the requests).

For an ExposedThing to work, the essential minimum is to provide the request handlers. Managing internal properties can be done locally by the script. One argument for the internal acc

[2020-11-09 17:36] lukesmolo commented on #349
Something changed in the _node-opcua_ library while instantiating a server needed for the tests. The server hence was not running and each test failed. Together with @relu91 we solved it and he made a new PR.

[2020-11-09 19:21] relu91 commented on #333
After a long discussion we agree this is better since code will be portable and let's force writing ExposedThing using local means, before standardizing convenience for accessing the internal properties etc.

Let's go with it! 👍 . About point 3  (and actually the current implementation) I also have my concerns. Having the ability to store property values inside an ExposedThing instance might be co

[2020-11-09 20:15] zolkis commented on #333
That would make sense. It could be imported in a script and enjoy the convenience without cluttering the minimal Scripting spec.
It could extend ExposedThing and add convenience layers, starting from the constructor. If becomes well received, we could later include it in the Scripting spec.

[2020-11-09 21:37] relu91 commented on #333
### TLDR
Sorry, the post is pretty long. Summarizing, I am describing another edge use-case to have a ConsumeThing from an ExposedThing. This one is more about using an ExposedThing rather than defining it. I think could give it a try after we close point 1 and 2.

### Another use-case for ConsumedThing in ExposedThing

Now about the whole *Local* interaction with an Exposed Thing subject, let me

[2020-11-10 07:46] danielpeintner commented on #349
Thanks @lukesmolo and @relu91

What I still don't understand is the fact that the node-opcua library changed without actually increasing the version.
My *naive* understanding is that this should not happen...

[2020-11-10 07:47] #349 closed

[2020-11-10 08:22] relu91 commented on #349
It might be the fact that opcua dependency is recorded as "^2.4.3". This implies that every minor version is valid (see the [specs](https://docs.npmjs.com/about-semantic-versioning)). However, I tried to downgrade to exactly 2.4.3 I had still encountered the same error 🤔.

[2020-11-10 09:27] danielpeintner commented on #333
I agree 1. and 2. seem sufficient and the convenience of 3. has been causing issues/confusion in the past.

[2020-11-10 09:31] danielpeintner commented on #333
w.r.t. node-wot: Shall we revert the change of https://github.com/eclipse/thingweb.node-wot/pull/328 to avoid issues with running samples out there (version 0.7.x).
To me it seems reasonable since a revised API version will disallow this anyway (version 0.8.x).

@egekorkan  would this help you?

[2020-11-10 09:35] egekorkan commented on #333
Yes ! :smile:

Me too.

[2020-11-10 09:43] danielpeintner commented on #349
Mhh, strange. Thanks for looking into it!

[2020-11-10 10:18] zolkis commented on #333
This seems hypothetical to me, since the script is running in a single runtime, it cannot _locally_ access sensors on other nodes.
But I get the theoretical point.

The optimal solution for that seems to be a full-fledged `ConsumedThing` interface that can use local bindings (optimization) when available.

Since we want to have that before exposing the Thing, we'd need to split the current `expose

[2020-11-11 14:43] mmccool opened #358 "Use WoT TD Directory TD as a test case"
The WoT Discovery spec defines a TD (example) for a TD Directory (TDD) and this is (a) a good test case for a sophisticated TD (b) something that node-wot should talk to "internally" as part of discovery.

Suggest at least using the TD as a test case by trying to consume it with node-wot.
 See https://github.com/w3c/wot-testing/issues/71

Note also that we MAY want to use a TM for directories in t

[2020-11-12 16:43] danielpeintner opened #359 "Apply defaults as per WoT Thing Description spec"
We have code applying defaults to TDs.
see  https://github.com/eclipse/thingweb.node-wot/blob/6854ab79022a7c71ee627a6f77a23e0eaaa9d702/packages/td-tools/src/td-parser.ts#L30-L85

Once AJV is in place we might consider replaying this manually written code  with JSON schema default values.

[2020-11-12 17:53] egekorkan commented on #359
https://github.com/thingweb/thingweb-playground/pull/156 this is about to be merged and will be available as an independent package on npm

[2020-11-21 13:11] chriskarapapas opened #360 "WoT-Servient cannot start: read ECONNRESET"
Hello,
after install i tried to run the examples but i get the following output:
binding-mqtt] MqttBrokerServer could not connect to broker at mqtt://test.mosquitto.org on Ubuntu 20.04
Any ideas?

[2020-11-21 15:00] egekorkan commented on #360
I think that the official mosquitto test server is down? If I try `mosquitto_pub -h test.mosquitto.org -t "hello" -m "yiyi"` it says `Error: The connection was lost.`. However, trying the same command with localhost for the mosquito broker running in my own computer works.

Could you try starting a broker locally and test again?

[2020-11-21 15:16] chriskarapapas commented on #360
@egekorkan Everything runs perfect locally! Thanks

[2020-11-21 19:06] egekorkan commented on #360
No problem :) @danielpeintner could you close this issue?

[2020-11-21 22:37] #360 closed

[2020-12-07 08:46] Citrullin opened #362 "Link-local address doesn't work"
I got a local microcontroller with a wot td server on it.
When I call the link-local address with libcoap, I get the following response
[code]
I am also able to see the coap block transfers in Wireshark.

I wrote a simple [node-wot application](https://github.com/Citrullin/wot-node-boilerplate). When I run this application with `yarn dev` it times out.
[code]
I also checked Wireshark in that case.

[2020-12-08 05:06] Citrullin opened #363 "EINVAL error on global IPv6 addresses"
I used the [node-wot-boilerplate](https://github.com/Citrullin/wot-node-boilerplate) project. Instead of using a link-local address as mentioned in #362, I used a global IPv6 address. For example `2a01:c10a:d6ca:c212:9c7c:1bff:fe90:8f54`
When I execute `yarn dev`, I get the following error
[code]
I guess the error here is that the IP address is not properly escaped. The parameter should be `[2a01:

[2020-12-08 10:28] danielpeintner commented on #363
Note: We should check whether this is a CoAP only issue or it applies to HTTP too.

[2020-12-08 20:02] SteinerPascal opened #364 "Possible bug in exposing WoT formats attribute"
I was following the starter [template](https://github.com/eclipse/thingweb.node-wot/tree/master/examples/templates/exposed-thing). I created my own thing and serving it worked well. You can find it on [gist](https://gist.github.com/SteinerPascal/57208e67fd5e878139bb38c0e7941651).  Except, that the forms attribute of my action has changed. It got changed to some apparently standard forms attribute.

[2020-12-09 00:25] egekorkan commented on #364
This is not a bug but not really wanted either. The "TD" is accepted to a certain degree. You can specify some content types in forms and jpeg is not supported. `href` is always overwritten since it depends on the available IP addresses and security also depends on internal logic.

[2020-12-09 07:55] SteinerPascal commented on #364
Thanks for the quick reply! Okay I thought support for image/jpeg got implemented and merged with #187 ? Regarding the IP, I understand the behavior.

[2020-12-09 10:18] egekorkan commented on #364
There only png and svg got incorporated :)

[2020-12-09 10:49] SteinerPascal commented on #364
hmm okay thanks for the info. One last question though. It seems you have already done a beginning in supporting jpeg (see below)
https://github.com/eclipse/thingweb.node-wot/blob/45d8fa739cb6e796c2ee38bf156a977c4f0739bf/packages/core/src/content-serdes.ts#L58-L61
What would be missing to add it?

[2020-12-10 16:34] danielpeintner commented on #364
I think generally it should just work fine. We do have running examples on http://plugfest.thingweb.io/

E.g., the counter example has a simple
* [UI](http://plugfest.thingweb.io/examples/counter.html)
* and the [TD](http://plugfest.thingweb.io:8083/counter)

A simple GET on http://plugfest.thingweb.io:8083/counter/properties/redDotImage returns a PNG image (a red dot only)

The code for it is her

[2020-12-11 08:35] SteinerPascal commented on #364
Okay that's my bad. tested it again and it's because of the npm versions. It's working with the latest version 0.7.4 . I didn't update the dependency and was using the version in the template which is at 0.7.0-SNAPSHOT.3. So before #187 got merged into main
But thank you for the help and quick answers!

[2020-12-11 08:36] #364 closed

[2020-12-11 14:59] danielpeintner opened #367 "GitHub Actions - MacOS build fails *sometimes*"
We recently changed from travis to GitHub actions and now sometimes macOS tests fail.
see https://github.com/eclipse/thingweb.node-wot/runs/1537372181

[code]

@relu91 any idea what might be causing the issue?

[2020-12-11 15:46] relu91 commented on #367
Not sure, but my bet is that we should wait for the server to start before continuing the HTTPS test. In particular at this line:https://github.com/eclipse/thingweb.node-wot/blob/074f8c480ab4f4b9df9c3d3b64f2681b93a87901/packages/binding-http/test/oauth-token-validation-tests.ts#L298-L308

We should promise the listen call and await for the end. Something like this:
[code]

[2020-12-11 23:45] Citrullin commented on #363
@danielpeintner Is there some timeline on this?

[2020-12-12 00:19] danielpeintner commented on #363
I will try to take a look next week.

Any help / PR is appreciated.

[2020-12-14 14:12] danielpeintner commented on #367
Thanks @relu91 for the hint which makes perfect sense to me.
I did provide a PR https://github.com/eclipse/thingweb.node-wot/pull/368 accordingly and it seems to work.

[2020-12-14 14:12] #367 closed

[2020-12-14 15:31] danielpeintner commented on #363
I believe it has to do with the `url` module we are using to retrieve the hostname, see

https://github.com/eclipse/thingweb.node-wot/blob/6979cc94dcfaef9554cb90a6f695f8cd027e15a7/packages/binding-coap/src/coap-client.ts#L172-L182

I think it does not what one would expect, see https://github.com/nodejs/node-v0.x-archive/issues/9404 ...

I did implement a dirty workaround but I cannot test IPv6 pr

[2020-12-17 04:13] Citrullin commented on #363
I already tried to get a development environment running. I had some issues and it takes ages to compile. Do you have some chat where I can ask you questions for faster interactions?

[2020-12-17 06:35] Citrullin commented on #363
I identified the problem. The `coap` package uses `udp4`, even though it should use `udp6`. I am currently checking, if bumping the version will fix this. `node-coap-client` already fixed this issue. Migrating to it would make sense. Also in order to be consistent with the `coaps` implementation, which already uses it.

The option used to create the request in the `coap` package:
[code]

[2021-01-10 17:30] SteinerPascal commented on #323
At the moment I'm testing an experimental WoT demo in which my client-Servient subscribes to a motion triggered sensor on my server-Servient. I'm running in the same issue described here. Did I understand it correctly, that at the moment it is not possible to subscribe to an event which gets triggered multiple times? Is there a workaround?

[2021-01-10 18:37] relu91 commented on #323
Yes, at least as I recall it. A workaround could be to use another protocol instead of HTTP, perhaps MQTT.

[2021-01-11 10:39] SteinerPascal commented on #323
Okay thank you for the quick answer!

[2021-01-11 18:10] Martinocom opened #373 "Where to find the REST API for created Things?"
Hello! I'm doing my best to understand all the stuff about Thing Description and WoT. I choose to test this framework over the "[Mozilla](https://github.com/WebThingsIO/api/issues/157#issue-781491686)" one, since ThingWeb has a native support for multiple context values (or at least, it does not overwrite them and I still can retrieve them when asking for the TD of my Thing).

Now, since my future

[2021-01-11 18:29] relu91 commented on #373
I am not quite sure about what you're asking, but if you're looking for a list of operation types allowed in a Thing Affordance you could look at the Thing Description document (precisely [here](https://www.w3.org/TR/wot-thing-description/#form) see the op vocabulary term). Basically you can:
- _read/write/observe_ a property
- _invoke_ an action
-  _subscribe/unsubscribe_ to an event
- _read/writ

[2021-01-11 18:51] Martinocom commented on #373
Ok, I partially got it. It depends on "what" I'm trying to achieve with that particular `op` type. Clear.
But how I can know that `op` correspond to a `_REST_CALL_` on `something/to/call`?

For example:

- it's clear that if I have a `readproperty` on a property, I'll expect to have a `GET` call on `thing/properties/<property>/`.
_But the fact I know this is only because I'm aware that REST works

[2021-01-11 18:59] egekorkan commented on #373
So what is confusing is actually sadly not clearly documented. Depending on the protocol, different op values will map to different methods or "functions" of the protocol. For HTTP, it is as you have understood and it is "documented" [here](https://w3c.github.io/wot-thing-description/#http-binding-assertions). The rest of the protocols are documented [here](https://w3c.github.io/wot-binding-templa

[2021-01-11 19:11] Martinocom commented on #373
Awesome. I totally missed this part of the documentation. It clearly says what method uses which type of `op`.

And you're right, some parts are not well documented, but I think is also part of "our" job: we use it, we got what's good and we open an issue for things that are not good, right?

For the rest, I think I'm going to search most common (or draft-standard) patterns to use, just not to com

[2021-01-11 20:17] egekorkan commented on #373
No problem :)

You don't have to use the default values btw, you can simply say how the request should be constructed and the WoT Consumers _should_ understand it.

[2021-01-12 08:23] danielpeintner commented on #373
@egekorkan I take your comment as an open issue we should look into. Right?

[2021-01-12 08:49] egekorkan commented on #373
I think so. I'd say that there should be an option to generate TDs with default or not since there's no option to do it now. The default behaviour could be to generate the defaults since the beginners need more information.

[2021-01-12 10:54] SteinerPascal opened #374 "Server should use serialization method specified in expectedResponse"
I'm trying to describe an action in a TD which has different input contentType and response contentType. According to the TD standard an InteractionAffordance has the field [forms](https://www.w3.org/TR/wot-thing-description10/#form) which has the optional field response of type [ExpectedResponse](https://www.w3.org/TR/wot-thing-description10/#expectedresponse). Here is an example TD:

[code]
When

[2021-01-12 13:08] danielpeintner commented on #374
You are right, when it comes to `expectedResponse` and similar cases node-wot might not be fully standard-compliant.

Having said that, it would be very good if you can provide a PR for this feature and add an according test...

[2021-01-12 14:14] danielpeintner commented on #236
see also external bindings: e.g., https://github.com/eclipse/thingweb.node-wot/pull/372

[2021-01-13 07:31] SteinerPascal commented on #374
Well, I would like to contribute. Let me see if I can get some time next month to do it.

[2021-01-13 15:59] Martinocom opened #375 "Forms value and data validation for properties"
# Background

I created a simple TD that has some attributes. I will simplify it, to get to the point:

[code]

Considering this TD, this command should work:
[code]

But **this should not**, since I specified the minimum and maximum values:
[code]

**Neither this command should work**, since I specified that I want a `number`:
[code]

**But all of them works**. They are rejected because I manuall

[2021-01-13 17:06] egekorkan commented on #375
- The input validation is an upcoming feature so it is "normal" that you can write a string for a number property.

That is indeed possible. You can check out the use of AJV library [here](https://github.com/eclipse/thingweb.node-wot/blob/62106f4978d88a7cf70f3333ba801f00cdf4d929/examples/templates/exposed-thing/src/base.ts#L124)

- `forms` are not editable to the full extent. You can only specify

[2021-01-14 08:03] danielpeintner commented on #375
Note: w.r.t. validation there is an open issue, see https://github.com/eclipse/thingweb.node-wot/issues/332

[2021-01-14 10:36] relu91 commented on #375
I quote what is said above. About form configuration, we had some discussion about how to improve it but is still an open issue in my mind. Now we are focused more on bringing the new APIs, we could review the form configuration after that.

[2021-01-15 14:21] Martinocom opened #376 "observeProperty() has different value from readProperty()"
For this issue I need some background. I have a TV, that has 4 properties:
- status [true/false] - true = on, false = off
- channel [0-255]
- volume [0-100]
- brightness [0-100]

I have also a "local" object to maintain all the propeties, their names and default values, like this:
[code]

Now, if `status` is false (TV is off) I want to avoid changing all the properties but the status itself. So a

[2021-01-15 18:05] Martinocom commented on #376
Maybe I was trying to achieve something that is impossible to to with only properties. Still, I cannot explain why after `observing` that value changes to `true` it results as `false` afterwards, so I'm still leaving this issue as "open".

Anyway, **I found a workaround for this problem**, reading also about issues for updating `readOnly` values in this repo.

**I don't use properties to set value

[2021-01-16 12:38] egekorkan opened #377 "Removing VM from core package"
Even though I had discussed it with @danielpeintner and @relu91 I have realized that I did not open an issue about it.

In the core module and still in the 0.8.x branch at the servient (https://github.com/eclipse/thingweb.node-wot/blob/4c9152cb7bb8f10957b1ac9efa24c6d323dbe5c0/packages/core/src/servient.ts#L16) the VM module is included and the run script is also there. I think that this functional

[2021-01-18 11:10] relu91 commented on #376
As daniel said having the status locally will be the preferred way for the next API version.

One unrelated suggestion that I can give you is that it is better to think more about WoTinteractions rather than REST verbs. From a WoT point of view, REST is just another protocol binding you shouldn't enforce designing choices from the protocol up to the interaction interface. The only exceptions of th

[2021-01-18 11:44] danielpeintner opened #379 "Specify dependencies more precisely to avoid issues"
see https://github.com/eclipse/thingweb.node-wot/pull/378#pullrequestreview-570381544

[2021-01-18 11:44] #376 closed

[2021-01-18 11:53] danielpeintner commented on #376
@Martinocom please let me know whether the issue should be kept open/re-opened (was closed automatically by merging PR)

[2021-01-18 12:34] egekorkan commented on #379
I like the comment https://github.com/eclipse/thingweb.node-wot/pull/378#pullrequestreview-570381544

Another possibility would be to also push the lock files so that the environment that tests it has the exact version we need. It also enables dependabot or similar things to work

[2021-01-18 13:10] danielpeintner commented on #377
@egekorkan did you explore the consequences moving the vm part from core to cli ?
Do plan to provide a PR for e.g., master branch? (we can merge proposed changes into 0.8x branch)

[2021-01-18 15:45] egekorkan commented on #377
So I do not use the runScript functionality of the servient in any of my projects. Thus, I cannot say what it really changes. I have been simply removing it from the servient (removing the require and the functions to run scripts).
@relu91 you are using these functions I think?

[2021-01-18 16:21] relu91 commented on #377
yes, I'm using them and when I do it, I'll do it from CLI. I've never needed to use node-wot as a library and at the same time run scripts in the VM. In my mind, the use-cases where people we'll use both functionalities (i.e., embed node-wot in an application and run scripts in its VM) are few...

[2021-01-18 17:19] Martinocom commented on #376
-------------------------------

Thanks for the Tip!
In my specific case, I wanted to have a way to semantically describe Web Things. The only way I found was with this library, since others doesn't provide support for multiple @context values. Then the Web Things were there only to simulate a real world application, where **interoperability** is the key. Since I wanted Things that can be reachabl

[2021-01-18 19:30] egekorkan commented on #377
Alright then. Should we simply move them to the default servient of the CLI?

[2021-01-18 21:06] relu91 commented on #376
Thanks for sharing your work! I'll look at it in my spare time.

A presto! 👍

[2021-01-19 07:39] danielpeintner commented on #377
Sounds good!

[2021-01-22 14:22] relu91 commented on #379
Right, I've just seen that the package-lock is ignored. Usually, it should be committed (see [here](https://github.com/npm/cli/blob/release-6.14.7/docs/content/configuring-npm/package-lock-json.md#description)). With this fix we don't need to specify the exact version.

[2021-01-25 14:42] danielpeintner opened #382 "How to update protocol interface for revised scripting API"
The latest scripting API (see https://www.w3.org/TR/wot-scripting-api/) reports for  [`readProperty()`](https://www.w3.org/TR/wot-scripting-api/#the-readproperty-method) for example an [`InteractionOutput`](https://www.w3.org/TR/wot-scripting-api/#dom-interactionoutput):

[code]

The current [protocol interface](https://github.com/eclipse/thingweb.node-wot/blob/master/packages/core/src/protocol-in

[2021-01-25 19:53] relu91 commented on #382
please assign to me to this issue I'll try to propose an implementation for the end of this week!

[2021-01-26 06:53] danielpeintner commented on #382
Thanks @relu91 for volunteering!
I might propose to first _sketch_ the idea/proposal to keep the initial work load lower. What do you think?

[2021-01-26 08:03] relu91 commented on #382
Sure! thank you.

[2021-02-03 00:22] AdamF42 commented on #323
Hi, I'm working on project where several components use the http-binding.
One of the things generates an event at fixed interval. In my case no error is reported (node v15.4.0, node-wot/core 0.7.4, node-wot/binding-http  0.7.4) but the client application log shows "[core/content-senders] ContentSerdes serializing to application/json" for every event generated previously.
I think it is related to t

[2021-02-05 10:29] danielpeintner commented on #323
We might need to look into the issue for v.7.x OR we postpone the problem till the *new* scripting API v.8.x is in place.

You can always "poll" values (instead of using eventing) after certain time-outs even though this should not be the case :-(

[2021-02-05 10:57] relu91 commented on #323
I'll wait for the v0.8.x to happen and I agree polling might be a dirty workaround but it should work in the meantime.

[2021-02-09 18:13] egekorkan opened #383 "Credentials are not validated"
If someone writes the following code:
[code]

in the mentioned line, there is `pasword` instead of `password`. Until a WoT operation is done, no error is shown. When the error finally shows up, it is like the following:

[code]

So it is clear that something is wrong with credentials but the error is not specific or even misleading, i.e. making me think that my password is wrong. I had to debug to

[2021-02-16 09:24] danielpeintner commented on #383
At the moment the credentials that are added are not typed (or put differently are typed as `any` only)
see https://github.com/eclipse/thingweb.node-wot/blob/963a7537aa39de7d4af683b313bba96fe8ac1d6e/packages/core/src/servient.ts#L216

I suggest we properly type the credentials by creating proper definitions for it.
Does that make sense for everyone?

[2021-02-16 11:20] egekorkan commented on #383
I would say that this is the minimum but helps only with TS developers but not JS. So a JS developer can still make the mistake :/

[2021-02-16 15:36] MartinMeyer1 opened #385 "Automatically use an HTTP POST when using uriVariables"
Here is an action in my TD:
"set_relay": {
"description": "Turn on/off the relay",
"safe": false,
"idempotent": false,
"uriVariables": {
"state":{
"type": "integer",
"minimum": 0,
"maximum": 1
}
},
"forms": [
{
"href": "/relay{?state}",
"op": "invokeaction",
"contentType": "application/json",
"htv:methodName": "GET"
}
]
}

When I run "thing.invokeAction("set_relay", undefined,{ 'uriVariables': { '

[2021-02-16 15:49] danielpeintner commented on #385
I think you are right, `handleUriVariables()` duplicates the form but does NOT copy over `"htv:methodName"`

see  https://github.com/eclipse/thingweb.node-wot/blob/963a7537aa39de7d4af683b313bba96fe8ac1d6e/packages/core/src/consumed-thing.ts#L493

[2021-02-18 10:44] relu91 opened #387 "Browser bundle does not have types"
As the title says when using node-wot in a browser context (i.e., angular, vue, webpack, etc.) it's hard to configure correctly TS types. We should look at how to improve, maybe it is sufficient to add a .d.ts in the browser bundle.

Loosely related to #324

[2021-02-18 13:38] #385 closed

[2021-02-19 07:57] danielpeintner commented on #382
@relu91 proposed the following change in PR https://github.com/eclipse/thingweb.node-wot/pull/384
changing `body: Buffer` to `body: NodeJS.ReadableStream`

[code]

I am not 100% sure about the difference between `ReadableStream` and `NodeJS.ReadableStream` or the associated consequences.
@relu91 can you explain it a bit.. thanks!

One thought that comes to my mind when a I see this revised interfa

[2021-02-22 11:48] relu91 commented on #382
@relu91 can you explain it a bit.. thanks!

With the types installed in node-wot ReadableStream is a Stream as defined in the [Web platform](https://developer.mozilla.org/en-US/docs/Web/API/ReadableStream) whereas the [NodeJS.ReadableStream](https://nodejs.org/api/stream.html#stream_readable_streams) is the Nodejs variant. Their methods differ quite a lot but luckily I've found a  [library](https:

[2021-02-23 10:26] danielpeintner commented on #382
@egekorkan @sebastiankb @wiresio  do you have an opinion?

[2021-02-24 10:03] sebastiankb commented on #382
Personally, I love the beauty of this one liner
[code]

With the new interface, this will no longer be straightforward and gets more complex:

[code]

Or you have to go for a two liner for better readability:

[code]

I see the advantage of the new approach but I'm wondering if there is a kind of hybrid approach possible?

[2021-02-24 18:27] relu91 commented on #382
Thanks for the feedback @sebastiankb we should strive to have the cleanest solution. Of course, we have quite a few options to get closer to what you're expecting. I suggest moving the discussion to the Scripting API repository since the original issue was more about the interface between the servient and the protocol bindings whereas you are referring to the interface between scripts and applicat

[2021-02-27 15:08] Citrullin opened #388 "Can you issue a release?"
Next week starts the plugfest and we want to provide some IPv6 WoT TDs.
I fixed the IPv6 issue already in #363
But the fix isn't included in the current node package. It would be great, if you can release a new package with this fix in it.
So that people can just update their projects and use it with IPv6.

[2021-03-01 08:41] relu91 commented on #388
I think we can release a v0.7.5. @danielpeintner?

[2021-03-01 10:16] danielpeintner commented on #388
Yes, will do...

[2021-03-01 11:04] danielpeintner commented on #388
release v0.7.5 ready

e.g., https://www.npmjs.com/package/@node-wot/td-tools

[2021-03-01 11:04] #388 closed

[2021-03-01 14:39] relu91 opened #389 "Http server decode URI error crashes servient."
Unfortunately, I cannot give more context than what the title already says. Here is the error that caused a crash in my application:

[code]

node-wot version: 0.7.1

[2021-03-01 15:30] relu91 commented on #363
I'd like to re-open the issue. It is not completely fixed. The problem still arises when you construct the CoapClientFactory using a server instance. Sadly, the coap agent when created with a socket as an option it ignores completely the type passed as an option:
[code]

I am not sure why the server socket is passed to the client configuration but still, the issue remains. @danielpeintner  could y

[2021-03-01 15:57] Citrullin commented on #363
@relu91As I remember I had to force the type to udp6, if the IP is IPv6. So yes, it should ignore it. I don't understand the problem. What problem arises when you use a server instance? Do you have an example?

[2021-03-01 16:03] relu91 commented on #363
I think trying is the best explainer. You should reproduce the issue changing your node-wot boilerplate project index.ts to the following:
[code]

[2021-03-01 16:48] danielpeintner commented on #389
Since `decodeURI` is a library function I do not know better than catching any error...

[2021-03-01 19:12] egekorkan opened #392 "Dependency on wot-typescript definitions"
I have just realized that all the packages are using the 0.7.3 version of wot-typescript-definitions (https://github.com/eclipse/thingweb.node-wot/blob/master/packages/core/package.json#L27). Is this intended?

[2021-03-02 07:50] #389 closed

[2021-03-02 07:54] danielpeintner commented on #392
The `"wot-typescript-definitions"` versioning an the `"@node-wot/package-name"` versioning is *NOT* aligned.

The only assumption in the past that holds is that `0.X.Y1` is working with  `0.X.Y2`.

Does this clarify the confusion?

[2021-03-02 10:21] egekorkan commented on #392
ah I see. Then can we update all packages to 0.7.4 Snapshot 1? I use that in my own projects

[2021-03-02 13:47] danielpeintner commented on #392
Mhh the change from `"0.7.3"` to `"0.7.4-SNAPSHOT.1"` was a snapshot only version and more intended for 0.8.x.

see https://github.com/w3c/wot-scripting-api/commit/b1ef74446342069d7789814e3ff2419fc6165514#diff-2d042e5f33a7b3f604ddfc171a9cd4066c19952ee99f53f93bf54c411ecfa880

Having said that, I would stick with `0.7.3`

[2021-03-02 15:12] egekorkan commented on #392
Ah ok! closing :)

[2021-03-02 15:12] #392 closed

[2021-03-03 14:24] JohannesMerkt opened #393 "WebThingsIO implementation not compatible with node-wot"
I tried to create a web thing with an arduino running an example code from [webthing-arduino](https://github.com/WebThingsIO/webthing-arduino) and connect with the node-wot client. When fetching the Thing Description node-wot complains:

`Cannot consume TD because Property 'on' has no forms field`

The TD as json looks like this:
[code]

it has a links field rather than forms.

Here is the schema

[2021-03-03 14:41] wiresio commented on #393
Unfortunately Mozilla does not follow the W3C rec., see e.g. here: https://github.com/WebThingsIO/api/issues/149

[2021-03-03 14:44] egekorkan commented on #393
Also look here: https://github.com/WebThingsIO/wiki/wiki/Mozilla-W3C-Differences

[2021-03-03 15:19] JohannesMerkt commented on #393
Thank you for your quick reply. So i guess comatibility in the near future is unlikely. Thats sad. It puts me into the dilema that i want to be able to use a wide range of languages and hardware (arduino) to create web things, which is possible with WebThingsIO but I cannot simply interface with them with a library as they only have the gateway.

[2021-03-03 15:42] relu91 commented on #393
Hi Johannes, thanks for reporting the issue. As the others said we are well aware of the issue and I am glad to inform you that we have recently started working on a possible unification of the two models. I'm personally looking into the issue with the support of @sebastiankb and @benfrancis. So bear your Arduinos and ESP32s there's hope 😄

[2021-03-03 21:30] egekorkan commented on #136
For a future brave soul who stumbles upon this, a workaround is to add a postinstall script that comments out some lines in the dtls package. You can see an example at https://github.com/tum-esi/wade/blob/master/postinstall.js and also below in case the script moves somewhere else:

[code]

Probably, the issue should be left open since the root of the problem is still there. We think this shows up

[2021-03-04 14:55] benfrancis commented on #393
See also: https://github.com/WebThingsIO/gateway/issues/2802

[2021-03-05 09:40] danielpeintner opened #395 "OPCUA Issues"
We seem to run into issues of OPCUA versioning.
see for example https://github.com/eclipse/thingweb.node-wot/pull/394/checks?check_run_id=2038479109

`Error: node_modules/node-opcua-basic-types/dist/attributeIds.d.ts(34,33): error TS2694: Namespace '"fs"' has no exported member 'OpenMode'.`

I assume this has to do with recent opcua updates and us having no "fixed" version in [`package.json`](http

[2021-03-05 09:40] danielpeintner commented on #395
related to https://github.com/eclipse/thingweb.node-wot/issues/379

[2021-03-05 09:44] danielpeintner commented on #395
OR like @relu91 pointed out include package-lock.

Question. What do you prefer?
* fix version OR
* add package-lock

[2021-03-05 09:54] egekorkan commented on #395
I see it happening in other projects and that's why I like pushing lock files :)

[2021-03-05 17:00] relu91 commented on #395
I'll add package-lock too. As another compelling evidence towards this decision, there's also the fact that neither [.gitignore.io](https://www.toptal.com/developers/gitignore/api/node) suggests ignoring package-lock.json files.

[2021-03-05 21:18] mjkoster commented on #395
I just ran into the same issue trying to build. I can wait until the issue is resolved, or if it will be a while I could work around, since I don't use OPC UA at the moment

[2021-03-07 20:17] JKRhb commented on #255
I just ran into the same issue using `node-red-contrib-web-of-things` – there is always a `/` added to topics as a prefix making it, unfortunately, impossible to subscribe or publish to topics that don't start with one.

Have there been any discussions on this in the meantime? Maybe it could be a workaround to simply remove the leading `/` for now in all cases? (And maybe add a specific vocabulary

[2021-03-08 15:02] egekorkan commented on #255
I think that the `/` should be simply removed and for the consumption of MQTT TDs, a `base` with an MQTT should be present since that could be the only way of doing it while having `href` in forms.

Another possibility would be to say that the `href` only defines the location of the broker and an additional `mqv:topic` clearly states the topic and can have `/` or not. Also, important to note that

[2021-03-08 16:35] JKRhb commented on #255
Sounds good! I guess the simple `/` removal would be an easy fix for `node-wot` while the addition of `mqv:topic` (with the assumption that `href` refers to a broker) could be a good medium-term solution?

It is probably not ideal, however, that the broker address has to be stated then in every `form` if the broker is defined using `href` and not `base` but I suppose the current TD structure does

[2021-03-08 17:01] sebastiankb commented on #255
I think, a clear URL guideline with MQTT broker and topic information should be present at the (future) MQTT binding document. Maybe we should also think about a RFC.

[2021-03-08 17:44] JKRhb commented on #255
I just opened #398 as a very simple fix for this problem.

[2021-03-09 11:52] #379 closed

[2021-03-09 11:52] #395 closed

[2021-03-12 08:16] danielpeintner commented on #161
@egekorkan can you check whether https://github.com/eclipse/thingweb.node-wot/pull/398 resolved this issue?

[2021-03-12 08:16] danielpeintner commented on #255
fixed by https://github.com/eclipse/thingweb.node-wot/pull/398

[2021-03-12 08:16] #255 closed

[2021-03-12 11:10] egekorkan commented on #161
Yup, thank you @JKRhb ! :)

[2021-03-12 11:10] #161 closed

[2021-03-16 07:20] danielpeintner opened #399 "ContentSerdes using wrong log package"
`ContentSerdes` uses wrong debug package in many places, see
https://github.com/eclipse/thingweb.node-wot/blob/f5a42565959b4413947856d85557f86c3e226129/packages/core/src/content-serdes.ts#L123

Shouldn't it be

`console.debug("[core/content-serdes]",`Foo`); `

[2021-03-17 06:49] #399 closed

[2021-03-22 14:41] Muddasir-Shakil opened #402 "Error Running "npm run build""
I am trying to run node-wot for the first time but I am stuck at npm run build step.
Steps to reproduce the error

    Cloned the repo
    npm install in the node-wot folder
    2.1 Tried tsc in node-wot folder but it I got No inputs were found in config file '/home/muddasir/work/WebThings/thingweb.node-wot/tsconfig.json'. Specified 'include' paths were '["src/**/*"]' and 'exclude' paths were '["d

[2021-03-22 15:31] relu91 commented on #402
I encountered this issue with another package. It seems that is an alias issue.  `Make` is looking for `python` but my guess is that you only have python3 installed. [Here](https://techsparx.com/nodejs/install/bootstrap-drops-jquery.html) you can find a proper long explanation of the problem.

Usually, a quick workaround is `alias python="python3"`

[2021-03-25 15:14] Muddasir-Shakil commented on #402
I solved it by sudo apt-get install python-is-python3.

[2021-03-25 15:14] #402 closed

[2021-03-29 15:34] maxim-s-barabash opened #404 "Wrong interface in binding-http/src/http.ts htv:fieldName htv:fieldValue"
Hello everyone. noticed a minor discrepancy.

**what we have now**

https://github.com/eclipse/thingweb.node-wot/blob/0285771212558af8c973d8e0e74157b175416a32/packages/binding-http/src/http.ts#L62-L65
If guided by https://www.w3.org/TR/wot-binding-templates/#http-vocabulary-terms

**must be something like**

[code]

[2021-03-29 18:02] egekorkan opened #405 "Implementing `observeallproperties` and `unobserveallproperties`"
The TD spec has the new operations of `observeallproperties` and `unobserveallproperties`. However, these are not implemented in node-wot nor they are mentioned in the Scripting API. For compliance with the TD, they _should_ be implemented here as well.

(This is no demand for these to be implemented, just needed to write about this so that it is tracked :) )

[2021-03-30 09:59] danielpeintner commented on #404
You are right. This looks strange... let me investigate!

[2021-03-30 13:37] #404 closed

[2021-04-09 07:53] MartinMeyer1 opened #407 "Credentials"
Hi, I'm trying to use a thing with a basic http security. I don't understand why but my consumer seems to not find the credentials. I've looked for some examples and my code seems to be correct:

// Required module
const {HttpsClientFactory} = require("@node-wot/binding-http");
Servient = require("@node-wot/core").Servient

// create Servient and add HTTP binding
let servient = new Servient();

se

[2021-04-09 09:16] danielpeintner commented on #407
I am not sure about your "server" side. Is it implemented in node-wot also?

Anyhow, please find a [gist](https://gist.github.com/danielpeintner/09ac53fe43a694302cfb176e7de16f3e) with 2 very simple scripts for server and client with basic authentication.
Note: it is based on the samples in https://github.com/eclipse/thingweb.node-wot/tree/master/packages/binding-http

Please have a look and let me

[2021-04-09 09:23] egekorkan commented on #407
From what I can see, the `id` of the TD and the object in the `addCredentials` method do not match. They must be the same

[2021-04-09 09:52] MartinMeyer1 commented on #407
@egekorkan Thank you that is the error. All works now
@danielpeintner No the "server" side is a "real" thing

[2021-04-09 09:52] #407 closed

[2021-04-19 16:27] sebastiankb opened #410 "OPC UA Issues"
I just used the OPC UA binding and faced some issues:

- if I use a property address like `opc.tcp://localhost:4840/ns=3;s="Case_Lamp_Variable"` the UA binding transforms the address to `opc.tcp://localhost:4840/ns=3;s=%22Case_Lamp_Variable%22`. The node-opcua package is not able to process such kind of string pattern and needs more the '"' character again. A quick fix can be done in extract_param

[2021-04-20 09:26] danielpeintner commented on #410
Mhh, the url is encoded, see https://www.urldecoder.org

I still think this is the right process. Hence I wonder whether it is
-  an issue of the node-opcua package and we should report it or
- we should simply url-decode before passing it to the library.

Any thoughts?

With regards to the other aspects. Who is able to work on the OPCUA aspects?

[2021-04-27 08:14] danielpeintner opened #411 "Report TD under well-known URI"
see https://w3c.github.io/wot-discovery/#introduction-well-known

following path: `/.well-known/wot-thing-description`

[2021-04-27 18:16] egekorkan commented on #344
Can be closed? :)

[2021-04-28 06:20] danielpeintner commented on #344
Agree.

Moreover, it is also linked by the [question](https://github.com/eclipse/thingweb.node-wot/issues?q=label%3Aquestion+) label from main readme.

[2021-04-28 06:20] #344 closed

[2021-04-28 08:02] egekorkan commented on #411
would this return the TD of the servient? From what I understand by the usage of `/` in the beginning, it means at the root level of the server. Our root-level server is a servient that can host multiple Things. One possibility would be to modify the servient's API to look like a super basic TDD.

Also, does this apply to other protocols other than HTTP and CoAP?

[2021-04-28 08:32] danielpeintner commented on #411
I just copied the information over from WoT Discovery. Having said that, I would assume that the TD is reported for each Thing.

e.g., the TD for the coffee machine is reported under
http://plugfest.thingweb.io:8083/smart-coffee-machine

It could (should?) be also reported under
http://plugfest.thingweb.io:8083/smart-coffee-machine/.well-known/wot-thing-description

Similarly we could report it un

[2021-04-28 11:32] maxim-s-barabash commented on #411
https://datatracker.ietf.org/doc/html/rfc8615#appendix-A

      Allowing every URI path segment to have a well-known location
      (e.g., "/images/.well-known/") would increase the risks of
      colliding with a preexisting URI on a site, and generally these
      solutions are found not to scale well because they're too
      "chatty".

[2021-04-28 11:41] egekorkan commented on #411
Well the problem is that if I need to know `smart-coffee-machine` relative URL, we lose the discovery function. From my point of view, nothing but the host URL would be needed to known in advance.

Another solution to the ones I have posted above, we can ask the discovery spec to change and allow having list of TDs under the well-known relative URI. In that case, `http://plugfest.thingweb.io:8083`

[2021-04-29 15:48] JKRhb opened #412 "Actions with `const` inputs"
I recently tried to model the possible actions of a legacy device that use the same `href` but differ in their payload which indicates the intended action. I tried to use a `const` value for this like so:

[code]

Consuming these actions as part of a TD with `node-wot`, however, does not have an effect on the behavior of the `ConsumedThing`, i.&nbsp;e. the `const` value is neither assumed as the (

[2021-04-30 09:41] danielpeintner commented on #412
At the moment node-wot does not really check any JSON schema constraints (there is not even a JSON schema library used).

I agree, a proper validation (that would also kick-in `const`s) is desirable.
There is a related issues for that, see https://github.com/eclipse/thingweb.node-wot/issues/332.

[2021-04-30 10:34] relu91 commented on #412
Btw in `0.8.x` we have started working on proper validation. In any case, I would use the schema just as validation not as a way to infer the default values of input. (FYI: JsonSchema has also the `default` keyword but as I understood it is not consistently implemented in the processors)

[2021-04-30 15:58] egekorkan commented on #412
Regarding default, it is not implemented by validators since it is not used for validation, similar to readOnly, writeOnly, description and title. It can be used by data and UI generators though. A VS-Code plug-in for node-wot can do this for example :)

[2021-06-03 16:30] danielpeintner opened #420 "wot-typescript-definitions update hell"
I wanted to update `wot-typescript-definitions` from version `0.8.0-SNAPSHOT.11`  to `0.8.0-SNAPSHOT.12` (see https://github.com/eclipse/thingweb.node-wot/pull/419).

Unfortunately that is no longer easy with `package-lock.json` files.

There is no automatic update even in case of issues like in this specific case.

[code]

The way I solved it was to walk into each directory with `wot-typescript-d

[2021-06-03 16:32] danielpeintner opened #421 "Reminder - Fix deprecated dependencies"
after a fresh `npm install` many warnings pop up. We might need to look into them ...

[code]

[2021-06-03 21:15] egekorkan commented on #420
So regarding removing lock files or not and using them or not, those are two things to decide on in my opinion. Submitting lock files allow GitHub bots to find issues and also to make sure that a certain version was working with given dependencies. Ideally, in local environments during development, we would work with `package.json` and then submit the changes. If no one changes the lock files, the

[2021-06-04 07:24] relu91 commented on #420
One note, in #430 I wrote down this comment about install dependencies with lockfiles:

Maybe this solves the issues described above using just `npm install`, if that so we should definitely add this info to the README (also as a reminder for ourselves)

[2021-06-04 12:37] danielpeintner commented on #420
I will try next time and let you know! Let's hope so...

[2021-06-08 14:36] danielpeintner opened #424 "TD Canonicalization"
see https://w3c.github.io/wot-thing-description/#canonicalization-serialization-json

add support for TD Canonicalization in package td-tools

[2021-06-10 13:36] egekorkan opened #426 "Handling Thing Models"
a TM/Partial TD that is passed into the produce method can contain `"@type":"tm:ThingModel"`. This should be however removed when the TD is produced as mentioned by @relu91 at

Also, theoritically, this should happen when the expose method is called, I think. Also, what is passed into produce does not have to contain `@type` keyword or it can contain but its value can contain something else, like

[2021-06-10 13:52] danielpeintner commented on #426
Yes, the place might be close to

https://github.com/eclipse/thingweb.node-wot/blob/5ffd659a2502657151ad4927dacab3849a09a060/packages/core/src/wot-impl.ts#L89-L90

[2021-06-10 14:01] danielpeintner opened #427 "td variable passed vs template - object modification"
https://github.com/eclipse/thingweb.node-wot/blob/7d3217984004f74d3daabb1ce158af5c441a3371/packages/core/src/wot-impl.ts#L88-L90

we should use the variable `template` instead of `td`.
This *bug* was introduced in v0.8.x ... as long as there is no copy of the object it is fine as it is but for sanity we should change it.

Moreover, I wonder whether we should do a deep copy of the object before mod

[2021-06-11 09:31] danielpeintner commented on #426
https://github.com/eclipse/thingweb.node-wot/pull/429/commits/1f7bdde1000eeb3f778b7a0a96564ec3143c0a43 should fix the issue for the upcoming API.

We still have v.07.x .. I guess we need to change it there also.. it gets now more complicated to keep up several branches...

[2021-06-11 09:57] danielpeintner commented on #426
Note: `@type` can be an array, so this should be handled also

[2021-06-11 15:28] relu91 commented on #426
Thanks, Ege for posting the issue! Although the suggestion would improve the situation I am afraid is not the final solution to handle TMs. If we allow TMs in the `produce` method this means that it should be also able to handle tm:ref and tm:extend right? We discussed having full support for TMs in `produce` function in the Scripting API call but the final agreement was that TMs should be first p

[2021-06-12 22:17] egekorkan commented on #426
Well I agree with this that this is what should be done but nothing stops a person from entering a TM into the produce method. One solution would be to detect this and fail early saying that this is not allowed. node-wot should not generate invalid TDs no matter what in my opinion

[2021-06-14 15:32] relu91 commented on #426
Ok, but in your proposal, you are saying to fail _silently_ and just remove the `tm:ThingModel`.  Anyhow, the current trend in the `produce` method is to fail silently so yeah, it might make sense to go on down that path. It feels a little bit too much an ad hoc workaround but I can live with that. Should we remove also other TM related keywords: `tm:ref` and `tm:extends` ?

[2021-06-17 09:39] JKRhb opened #430 "Next release?"
Is there are roadmap for releasing a new version of node-wot (e. g. 0.7.6)?

[2021-06-17 16:00] alvarogar23 opened #431 "How can i stop a servient? - Error on shutdown with MQTT binding"
I am trying to stop my servient with the following function:

`servient.shutdown()`

but it throws the following error:

`(node:10160) UnhandledPromiseRejectionWarning: TypeError: _this.broker.stop is not a function
    at C:\Users\alvar\Desktop\Servient\node_modules\@node-wot\binding-mqtt\dist\mqtt-broker-server.js:244:26
    at new Promise (<anonymous>)
    at MqttBrokerServer.stop (C:\Users\alv

[2021-06-18 13:20] egekorkan commented on #431
Normally it should be via the destroy method (https://w3c.github.io/wot-scripting-api/#the-destroy-method). However, it is not implemented yet

[2021-06-18 14:40] egekorkan commented on #426
I would say so.

Regarding failing silently, I prefer when there is nothing silent :D

[2021-06-18 14:41] egekorkan commented on #426
Also another point, how can we still keep the TM passed into produce and then link to it back via links and rel:type mechanism? It would be nice if the TMs can be still hosted by the servient

[2021-06-21 22:38] alvarogar23 commented on #431
@egekorkan thank you very much, i was so confused when trying to execute that method.

[2021-06-22 08:31] relu91 commented on #431
Just to be precise the destroy method does not stop the servient but as single WebThing. So suppose you expose N WebThings in your application, you can call the destroy method on one of them. The end result will be that you'll have N-1 active exposed WebThings.

The correct method to completely stop the servient is the one you're using. So taking the previous example if you call `servient.shutdown

[2021-06-22 08:33] relu91 commented on #431
I've just renamed the issue for bookeeping 👍🏻

[2021-06-22 15:57] relu91 commented on #430
I've looked into the commit history we have collected some minor fixes. So I don't mind publishing a 0.7.6. @danielpeintner has the final word here so let's wait for his input.

[2021-06-29 09:25] danielpeintner commented on #426
I agree, it would be _ideal_ to have a way to pass in an object to `produce()` and get an error back in case something is wrong.... but I think since the input to `produce()` can be essentially anything this is hard to achieve...

I see 2 steps here
1. create an _external_ method (helper function) that takes a TM and creates a valid partial TD
2. prune TM related keywords like  `"@type":"tm:ThingM

[2021-06-29 09:45] egekorkan commented on #426
I would say that option 1 should exist anyways but in my opinion TDs produced by node-wot should always be valid. node-wot already does some processing of the TD passed into the `produce()` so it would be easy for the user to assume that TM related stuff are also processed and sanitized. For example, I can put a TD without `id` and it is put automatically since at some point, `id` was mandatory or

[2021-06-29 10:35] relu91 commented on #426
prune TM related keywords like "@type":"tm:ThingModel", tm:ref and tm:extends
Honestly, I am not so sure about step 2. Shouldn't we trust the user to do the right thing by passing a partialTD to produce()?

So I just checked the new algorithm that we defined for the `produce` method. It seems that the new version can indeed fail and throw an exception if the `init` object does not satisfy the part

[2021-06-29 11:23] danielpeintner commented on #427
fixed by https://github.com/eclipse/thingweb.node-wot/pull/429

[2021-06-29 11:23] #427 closed

[2021-06-29 11:27] danielpeintner commented on #426
+1

I agree. For 0.8.x we planned to introduce [AJV](https://github.com/eclipse/thingweb.node-wot/issues?q=is%3Aissue+is%3Aopen+validation+label%3AAJV) dependency already..

[2021-06-30 07:48] danielpeintner commented on #430
The [changes](https://github.com/eclipse/thingweb.node-wot/compare/v0.7.5...master) are not big but still useful.

I will try to publish `v0.7.6` soon...

The next efforts should go into `v0.8.x` though

[2021-06-30 08:25] danielpeintner commented on #430
[v0.7.6](https://github.com/eclipse/thingweb.node-wot/releases/tag/v0.7.6) has been published and should appear _soon_ on NPM.

[2021-06-30 08:25] #430 closed

[2021-06-30 08:38] egekorkan commented on #426
I agree with all the points above as well :)

[2021-06-30 09:30] lukesmolo commented on #410
Hi guys, thank you for reporting the problems you encountered. I made some fixes and I am going to make a PR.
Regarding the four points:

- I added a _decode_ operation inside the extract_params function, so we are sure that the string is passed as decoded to the library. I added some tests for this
- for the moment I removed the **timestamp** and **statusCode** values from the payload. I guess th

[2021-06-30 12:39] danielpeintner commented on #382
Changes from [master](https://github.com/eclipse/thingweb.node-wot/blob/master/packages/core/src/protocol-interfaces.ts) to [v0.8.x](https://github.com/eclipse/thingweb.node-wot/blob/v0.8.x/packages/core/src/protocol-interfaces.ts) are done...

Question:  Do we expect (plan?) more changes for the v0.8.x API? If so we ought to do the changes soon.. before kicking of new work? Any opinions?

[2021-06-30 13:13] relu91 commented on #382
Hi @danielpeintner we started to bring also `InteractionInput` in 0.8.x branch. Currently we are working [here](https://github.com/relu91/thingweb.node-wot/pull/7), I'll submit a PR ASAP

[2021-07-01 08:39] danielpeintner commented on #382
The changes **I** meant were purely related to `protocol-interfaces.ts` which affects other bindings..

the changes there are limited to the following and are meant to stay, right?

![grafik](https://user-images.githubusercontent.com/11281461/124093774-72077280-da58-11eb-8283-179f5481e5e5.png)

[2021-07-02 07:31] danielpeintner opened #434 "Test fails sporadically on GitHub"
~~see https://github.com/eclipse/thingweb.node-wot/runs/2969887900~~
EDIT: I re-run the tests and it worked after 2 re-tries..

But I can see similar issues elsewhere: https://github.com/eclipse/thingweb.node-wot/runs/2618112114

### MQTT

[code]

### CoAP

[code]

Locally I *never* had issues in the recent past..

[2021-07-02 15:05] egekorkan commented on #434
Just to be sure, you mean that the exact code passes tests locally but not on GitHub?

[2021-07-04 18:29] alvarogar23 opened #436 "Stop invoking actions and receiving requests"
Hi, I am coding an air conditioning with three different Servients: air, alarm and remote controller. I am implementing two different modes in the air machine, automatic where only the air Servient works and randomly raise and lower temperature, and manual mode where the alarm Servient and remote controller Servient work as well and i can change temperature from the remote controller.

My problem

[2021-07-05 06:08] danielpeintner commented on #434
Yes, it works locally.

Moreover, it fails on certain runs on GitHub only (we do have 12 runs based on OS and node.js version).

[2021-07-05 08:49] danielpeintner commented on #436
@alvarogar23 do you think you can provide a [SSCCE](http://sscce.org) so that we can investigate better.
Or maybe is it possible to setup a test? You may want to look at existing tests in the repo.

Does the issue (which I am still not sure if I understood 100% correctly) happen for MQTT only or for HTTP and others also?

Question: Is the issue you are having that you get events twice? Meaning tha

[2021-07-05 08:51] danielpeintner commented on #434
It happened again, see https://github.com/eclipse/thingweb.node-wot/runs/2988294625?check_suite_focus=true

The PR used to work before, see https://github.com/eclipse/thingweb.node-wot/pull/435

[2021-07-05 09:51] relu91 commented on #436
I don't really understand 100% of your issue too, but I spot one thing that might cause trouble. In your `AirServient` code:
[code]

So basically when you change the mode you are creating some intervals functions. The thing the got my attention is that you do not disable them when you change the mode. In Nodejs you can stop an interval function thanks to `clearInterval` as explained [here](https:/

[2021-07-05 21:42] alvarogar23 commented on #436
@danielpeintner I think I have solved the problem of the automatic part and only the manual part is the one that brings me problems beacuse when i select it, the air thing is exposed so the controller Servient can raise and lower the temperature, the problem is that when I change to automatic mode again, I can still use the controller Servient because the thing is exposed and can receive requests.

[2021-07-05 21:51] alvarogar23 commented on #436
@relu91 I have solved the problem with the automatic mode thanks to the clearInterval function, my problem now is that when I change to manual mode it exposes the air thing so the controller can manipulate temperature, I would need to unexpose if it's possible so when i change from manual to automatic mode, the controller can't be used.

About the mapping question, I'm creating an interface for th

[2021-07-06 08:39] relu91 commented on #436
We use to have a destroy method to unexposed a thing but now the implementation is just a placeholder:
https://github.com/eclipse/thingweb.node-wot/blob/de006242c79a35f1fecc0e756d31d369b5928bf9/packages/core/src/exposed-thing.ts#L109-L113

So sadly you can't unexposed the thing with the current version. As we discussed in https://github.com/eclipse/thingweb.node-wot/issues/431 .

About the mapping

[2021-07-06 12:32] danielpeintner commented on #431
I looked into that issue a bit and I think the `ProtocolServer` interface needs an extension.

https://github.com/eclipse/thingweb.node-wot/blob/de006242c79a35f1fecc0e756d31d369b5928bf9/packages/core/src/protocol-interfaces.ts#L55-L61

Besides an `expose(...)` call we need to have a way to report to the protocol to shut-down a certain thing a la `destroy(thingId: string)`.
Any opinion?

Of course,

[2021-07-07 13:32] relu91 commented on #382
I would say yes. I was wondering if we can define a more convenient way to handle Content instances. For example, having a full-blown Content class would mean to have a method dedicated to the conversion of the content stream (body) to a Buffer (i.e., the current `ProtocolHelper.readStreamFully`). However functional people would prefer the current design. Notice that this is internal to node-wot a

[2021-07-07 13:44] relu91 commented on #431
Yes, I support the addition. And regarding our offline discussion, I would say that this change could be implemented in 0.7.x it is a sort of a _fix_ plus it does not mess with the new features implemented in 0.8.x (i.e., it is just a new method not a refactoring of the protocol interface).

[2021-07-07 15:32] LennyHEVS opened #437 "Browser HTTPS invokeAction body is missing"
So I'm trying to write a simple Javascript web application using the browser bundle and when I try to `POST` something with a body, the thing doesn't receive any body. The request has done by the consumed thing has a `content-lengh` of zero.
[code]
The Thing that I'm using uses HTTPS with the flow `client-crendentials` of the `oauth2` security scheme
If I re-write this code in a Node application i

[2021-07-07 16:51] danielpeintner commented on #431
I started https://github.com/eclipse/thingweb.node-wot/pull/438 to work on ...

[2021-07-08 07:09] danielpeintner commented on #382
The statements make sense 👍

Related: the API might change w.r.t. destroy a thing (see https://github.com/eclipse/thingweb.node-wot/issues/431) but this is somewhat unrelated

[2021-07-09 08:20] LennyHEVS opened #439 "Modbus silent crash"
I'm writing a simple node application that polls every 5 seconds the value of a property on a modbus electrical counter. I'm accessing this modbus counter via a SSH tunnel with modbus over tcp.

[code]

The application works correctly until it doesn't. When this happens, the modbus connection closes but the `Promise` return by the `readProperty` is never resolved nor rejected. The problem seems to

[2021-07-09 10:09] relu91 commented on #437
If it works in a Nodejs environment it might be a translation problem of `browserify`. Can I ask you to verify if the issue occurs even without HTTPS and the security scheme? Knowing this would help to pinpoint the issue 👍🏻

[2021-07-09 10:16] relu91 commented on #439
Thank you for using the Modbus binding! May I ask you to try the very same logic using [modbus-serial](https://www.npmjs.com/package/modbus-serial), I just want to be sure that is not something related to the ssh connection and the client implementation 🤔 .

[2021-07-09 11:15] LennyHEVS commented on #437
I tried removing the security scheme (using `nosec`) still using HTTPS and the data is transferred correctly. The issue doesn't occur in this case

[2021-07-09 11:34] LennyHEVS commented on #439
Using this simple program :
[code]
I noticed sometimes the reponse didn't come through :
[code]

See the 35th and 41th response did not return any error nor data and never did afterwards (<5mins testing)

[2021-07-09 11:49] LennyHEVS commented on #439
Adding a `client.setTimeout(2000)` does catch the failing requests with a timeout error

[2021-07-09 14:11] relu91 commented on #439
Ok thank you for trying 👍🏻 . Can you edit the thing description that you are consuming? May I ask you to add `"modbus:timeout" : 2000` to the "vl1n" property? Or have you done this already?

[2021-07-09 14:26] LennyHEVS commented on #439
Yes I did try to add `modbus:timeout` but it unfortunatly did not fix the issue

[2021-07-14 17:33] relu91 commented on #439
I see, looking at the code it seems that the parameter is actually ignored. I'll look into it.

[2021-07-15 08:27] danielpeintner opened #441 "Modbus Alignments"
It seems we might need more alignments.
correct @relu91 ?

* [ ] https://github.com/w3c/wot-binding-templates/issues/115
* [ ] https://github.com/w3c/wot-binding-templates/issues/116
* [x] https://github.com/eclipse/thingweb.node-wot/issues/297

[2021-07-16 08:46] sebastiankb commented on #410
This is an interesting statement where maybe the TD can help here to define what the server expect.

That are details which we should discuss together with the OPCF.

[2021-07-16 08:57] danielpeintner commented on #410
The actual issue has been solved by PR https://github.com/eclipse/thingweb.node-wot/pull/433.

@sebastiankb do you want to keep the issue open due keep track of `timestamp` and `statusCode` discussion?

[2021-07-16 08:58] relu91 commented on #410
I would close this one and add a dedicated issue for `timestamp`and `statusCode`. It will help us when trying to find it in the future.

[2021-07-16 09:28] danielpeintner opened #444 "[OPC UA] Removed timestamp and statusCode values from payload"
see https://github.com/eclipse/thingweb.node-wot/issues/410#issuecomment-881283506

[2021-07-16 09:29] danielpeintner commented on #410
created https://github.com/eclipse/thingweb.node-wot/issues/444

[2021-07-16 09:29] #410 closed

[2021-07-18 21:36] alvarogar23 opened #445 "Problem with OAuth2.0"
Hello guys. I am trying to implement OAuth2.0 security in my Servients and I have started by testing the example that is uploaded, I have changed some things of the TD but I think that nothing important, the problem is that the consumer doesn.t get the token to execute the action because I think that the clientID is missing, I attach the files with my changes. The file "memory-model" haven't been

[2021-07-19 10:59] #431 closed

[2021-07-19 13:35] LennyHEVS commented on #445
Yes exactly to add your clientID and your clientSecret needed for the client_credentials flow of OAuth2 you need to add these lines after `servient.addClientFactory(new HttpClientFactory(null));`
[code]

As for the MQTT question, I think there is no usable security schemes yet. But I'll let another person more knowledgeable on the state of the MQTT binding answer that question.

[2021-07-19 13:37] relu91 commented on #445
Just to be sure have you started the sample OAuth 2.0 server: ` npm run server` ?

About this MQTT uses different schemes, usually username and password (check [the readme](https://github.com/eclipse/thingweb.node-wot/tree/master/packages/binding-mqtt#more-examples) )

[2021-07-19 15:12] alvarogar23 commented on #445
@relu91 yes, I started the server with that command

[2021-07-19 15:34] relu91 commented on #445
No problem!

Actually, it should be in the servient.conf.json of the client. As noted in the readme that I linked.

[2021-07-19 20:22] alvarogar23 commented on #445
Yes but in the readme I think it is explained if you have it installed as a Standalone application, I have installed it as node dependency and I think I have to change the mqtt-broker.server.js values of the following function:

[code]

[2021-07-19 20:39] alvarogar23 commented on #445
I have tested what I have put in the previous message and it seems like it doesn´t work when changing this.client variable in mqtt-client.js. And if that varaible is not touched the Servients do communicate between them but I thnk it still not secured because I can change values using Postman application without indicating any username or password.

[2021-07-20 07:05] relu91 commented on #445
Ah, I see, maybe @egekorkan can help you here. In theory, you should be able to configure the bindings from code to (i.e., without the servient.conf.json) but I don't know the situation of the mqtt binding.

Does Postman support MQTT now? 🤔

[2021-07-20 07:06] #439 closed

[2021-07-20 08:07] #437 closed

[2021-07-20 09:17] egekorkan commented on #445
So first of all, you shouldn't specify security configuration in the thing but in the servient configuration. For the case of MQTT, it is done the way shown at https://github.com/eclipse/thingweb.node-wot/tree/master/packages/binding-mqtt#more-examples . That config can be also inserted when you create an MQTT binding, i.e. when you do `servient.addServer(new MqttBrokerServer("mqtt://test.mosquitt

[2021-07-28 08:15] sebastiankb opened #447 "octetstream-codec use @type instead of type"
@fatadel and I reviewed this [if statement](https://github.com/eclipse/thingweb.node-wot/blob/1de334c65b3cfc4248b69fd65593eb14d5ca059a/packages/core/src/codecs/octetstream-codec.ts#L169):

[code]

1. `let semTypes: Array<string> = schema["@type"];` --> expect an array, however, it can be both string and array
2. `var endianSem = semTypes.find(function (v) { return v.endsWith(":bigEndian") || v.end

[2021-07-28 16:29] relu91 opened #448 "octect codec do not support half precision float"
[code]

Solution: decode and encode also `float16`

[2021-07-29 06:43] danielpeintner opened #450 "Sort NPM dependencies alphabetically"
It seems NPM likes to sort NPM dependencies alphabetically.

Hence, every time a *new* dependency is added it sort all the other dependencies  also which causes unnecessary diffs.

see https://github.com/eclipse/thingweb.node-wot/pull/449/files#r678638895

[2021-07-29 07:11] danielpeintner commented on #448
resolved by https://github.com/eclipse/thingweb.node-wot/pull/449

[2021-07-29 07:11] #448 closed

[2021-07-29 07:11] danielpeintner commented on #447
resolved by https://github.com/eclipse/thingweb.node-wot/pull/449

[2021-07-29 07:11] #447 closed

[2021-07-29 09:48] relu91 commented on #297
Between the other changes we need to update FunctionNames.

The ontology currently uses `readHoldingRegisters` but the implementation uses `readMultipleHoldingRegisters`

[2021-07-30 08:19] danielpeintner commented on #297
are there still pending items or can the issue be closed?
@relu91

[2021-07-30 10:31] relu91 commented on #297
Yes, to the best of my knowledge the implementation is now aligned to what is described in the binding templates. I suggest opening specific issues about not-aligned terms if it is not the case. Closing.

[2021-07-30 10:31] #297 closed

[2021-07-31 17:48] alvarogar23 opened #455 "Is it possible to connect to a secured mosquitto broker using a certificate?"
Hi, I have set up a mosquitto broker with tls so in order to connect to it, the client must have the certificate. Is there any way to use the certificate by client when connecting to the broker so the connection is succesful?.

When I try to connect to the broker it doesn´t allow the connection because the client has no certificate.
[code]

This is my mosquitto.conf file
[mosquitto_conf.txt](https

[2021-08-01 15:40] egekorkan commented on #455
So it is not supported in node-wot. I have looked into the mqtt library we use and there it is also not super clear if it is supported (https://github.com/mqttjs/MQTT.js#mqttclientstreambuilder-options). It talks about authentification and certificates in some versions. Could you test a raw MQTT.js script with your browser to see how it works?

[2021-08-03 15:42] alvarogar23 commented on #455
So what I have done has solved my problem for my Server Servient but not for my Client Servient. I have created a MQTT mosca broker and it uses the certificates, then I connect the Server Servient to the broker and MQTT over TLS works perfectly, I have checked it in Wireshark as the following image shows.

![image](https://user-images.githubusercontent.com/55927038/127916469-ad2ac412-8fc3-4fb8-a38

[2021-08-04 08:15] relu91 commented on #455
[code]

This happens because `node-wot` uses the URL scheme to match the right client. Sadly the mqtt binding only register a client for `mqtt` scheme but not for `mqtts`. I think I can fix it with a small PR. Let me try 👍🏻

[2021-08-04 09:20] relu91 commented on #455
Done, when the PR lands you should be able to connect to your broker:
[code]

[2021-08-04 09:30] relu91 opened #457 "Mqtt implementation needs improvements"
I've recently worked on #456 and I had the opportunity to have a look into the current implementation of the MQTT binding. I think it can be improved in multiple points, some of which may impact also the binding specification.

- [x] Missing the ability to self-host the broker. I think that the server implementation should be able to self host the broker not only connect to an external remote node

[2021-08-04 10:31] egekorkan commented on #457
Some comments:
- Self-hosting: For the Thing simulator we have, we are using an node based broker called `aedes`. See: https://github.com/tum-esi/shadow-thing/blob/dc5bcbabcb75e1fe8281e3a5bfeafb548c056720/src/cli.ts#L287
- For username/password, you mean Consumer cannot connect right? Also, it does not happen through the servient config like it should

[2021-08-04 13:34] relu91 commented on #373
I think is linked with #424, once we add canonicalization in practice the generated TD would have the default values. What do you think?

[2021-08-04 13:36] relu91 commented on #420
I've tried this approach in different new PRs it seems to work. @danielpeintner did you try it?

[2021-08-04 13:41] relu91 commented on #345
Since the question is already been answered and there is no follow up I'd close the issue.

[2021-08-04 13:41] #345 closed

[2021-08-04 13:49] danielpeintner commented on #420
In https://github.com/eclipse/thingweb.node-wot/pull/454 I simply updated the local version.
Will try next time... I hope I don't forget again 🙈

[2021-08-04 13:50] danielpeintner commented on #420
Note: I think `npm install` works for published repositories only. Next time we update `wot-typescript-definitions` I will give it a try

[2021-08-04 14:42] relu91 commented on #181
Closing, PR #203 solved the issue.

[2021-08-04 14:42] #181 closed

[2021-08-04 14:47] relu91 commented on #190
Closing, related issues solved in https://github.com/eclipse/thingweb.node-wot/pull/319

[2021-08-04 14:47] #190 closed

[2021-08-06 17:13] alvarogar23 commented on #455
So I have been testing MqttsClientFactory and at least for me it throws the error that MqttsClientFactory is not a constructor

[code]

It is weird because if I ctrl+click the MqttsClientFactory constructor it redirects me to the mqtts-client-factory.d file.

I´ll try to find the solution.

[2021-08-06 19:51] alvarogar23 commented on #455
There is a constructor problem with MqttsClientFacory. I have found the solution but other problems have appeared, everything is in  **Connect to mqtts** #456

[2021-08-07 10:18] relu91 commented on #445
@alvarogar23 is this issue solved? the title is about OAuth2.0 but the conversation went to MQTT security configuration. Should we close this one and open a dedicated issue?

[2021-08-07 10:20] relu91 commented on #436
#438 implemented the ability to remove a thing (i.e., destroy an ExposedThing). Is your issue solved?

[2021-08-07 10:23] alvarogar23 commented on #445
@relu91 Yes this is solved, you can close this if you want

[2021-08-07 10:24] relu91 opened #461 "Implement `subscribeallevents` and `unsubscribeallevents`"
The TD spec has the new operations of `subscribeallevents` and `unsubscribeallevents`. However, these are not implemented in node-wot nor they are mentioned in the Scripting API. For compliance with the TD, they should be implemented here as well

[2021-08-07 10:25] alvarogar23 commented on #436
@relu91 this issue was solved, so you can close it if you want.

[2021-08-07 10:26] #445 closed

[2021-08-07 10:26] #436 closed

[2021-08-09 12:01] egekorkan opened #462 "Versioning and Linking to Scripting API versions"
Whenever someone asked for documentation about node-wot, I used to direct them to the Scripting API specification (to the working draft mostly). However, now it is getting difficult since even the Working Draft is ahead by almost 1 year. I know that _I_ can direct people to the previous version but it is not possible for an outsider to know that. I think we need a couple of things:

1. The Readme

[2021-08-09 14:27] danielpeintner commented on #461
I totally agree, but I would postpone this work for `v0.8.x`.

[2021-08-09 14:53] danielpeintner commented on #462
@egekorkan you are totally right.

Note: I hope we get [branch `v0.8.x`](https://github.com/eclipse/thingweb.node-wot/tree/v0.8.x) into place soon...

[2021-08-09 16:02] JKRhb commented on #420
I don't know if it works for a nested package structure but maybe setting up [dependabot](https://docs.github.com/en/code-security/supply-chain-security/keeping-your-dependencies-updated-automatically/about-dependabot-version-updates) could be a solution for updating the dependencies automatically. I could try it out and provide a PR if you're interested :)

[2021-08-09 16:05] relu91 opened #463 "Can't invoke an action with the current MQTT implementation"
As well described by @alvarogar23 in https://github.com/eclipse/thingweb.node-wot/pull/456#issuecomment-894864670, it seems that with the current implementation is not possible to invoke actions using MQTT. In the comment above he pinpointed a particular line that is causing the issue: `var topic = requestUri.pathname.slice(1)`

Checking the [git blame](https://github.com/eclipse/thingweb.node-wot

[2021-08-09 16:06] #455 closed

[2021-08-09 16:41] JKRhb commented on #463
Yes, this was related to #255.  The addition of `var topic = requestUri.pathname.slice(1)` was supposed to enable the use of topics that don't start with a `/` as node-wot always seems to treat `href` as a (relative) URL. The fact that this prevents the use of topics that start with a `/`, however, is of course not ideal as those are valid topics (although they are not recommended to use).

This s

[2021-08-09 17:10] relu91 commented on #463
It would be cool if you provide a PR for that. About the discussion, I think it should be solved in https://www.w3.org/TR/wot-binding-templates/

[2021-08-10 07:05] danielpeintner commented on #420
A more automatic approach is desirable 👍

Having said that, I think [dependabot](https://docs.github.com/en/code-security/supply-chain-security/keeping-your-dependencies-updated-automatically/about-dependabot-version-updates) works with pointing to the *latest* version.

Here the issue is that we are trying to update all *local* versions. The packages are not published yet and only available local

[2021-08-10 07:31] danielpeintner opened #464 "Keeping Copyright Years up-to-date"
This is a a _very_ minor issue but I thought I bring it up.

We have many (if not all) source files with a copyright header that are very much outdated.

e.g., https://github.com/eclipse/thingweb.node-wot/blob/575f30c639a5d4f790b3e65953c94d9c8b319f6b/packages/binding-coap/src/coap-client-factory.ts#L2

The file was last changed in 2020!

The original idea is to have at least one date (the year the

[2021-08-10 08:53] relu91 commented on #464
I am ok keeping _only if_ we can automate the process. Since is something that needs to be done sporadically it also means that people will forget about it. I would support setting up the Github action above.

[2021-08-10 10:48] egekorkan commented on #464
Is this not a rule set by Eclipse that the information should be provided in a specific format? I have checked another eclipse project and they also have old dates (https://github.com/eclipse/ditto/blob/master/base/model/src/main/java/org/eclipse/ditto/base/model/common/AbstractIdValidator.java).

I would say that we should use the actions to automate it :)

[2021-08-10 12:14] danielpeintner commented on #464
I am not familiar with the GitHub action project I linked and I believe we might need more fixes.

Hence I wrote a very simple script (or rather Java class) that walks over all files and takes a look at the "git log" history.
see https://github.com/eclipse/thingweb.node-wot/pull/465 for the result.

What I also found are files that do not even have a copyright header.
My take is that any .ts file

[2021-08-10 12:18] danielpeintner commented on #464
Note: I noticed a minor issue... we need to run the script in late December... otherwise we add a git log history for the upcoming year ;-)

[2021-08-10 12:25] danielpeintner commented on #464
This is the list of files that does *not* have any license..

\examples\servients\modbus-cli\src\test-modbus-server.ts
\examples\templates\exposed-thing\src\base.ts
\packages\binding-modbus\src\modbus-client-factory.ts
\packages\binding-modbus\src\modbus-client.ts
\packages\binding-modbus\src\modbus-connection.ts
\packages\binding-modbus\src\modbus.ts
\packages\binding-modbus\src\utils.ts
\package

[2021-08-12 22:01] maxim-s-barabash opened #466 "consumed thing. not support Security definitions activated at the form"
**expected behavior**
Security definitions MAY also be activated at the form level by including a security member in form objects, which overrides (i.e., completely replace) all definitions activated at the Thing level.

[code]

**what at the moment**
only the field is used  at the Thing level. form level ignored.

Link on related code https://github.com/eclipse/thingweb.node-wot/blob/ed18712144b5

[2021-08-13 07:34] danielpeintner commented on #466
You are correct, security at form level is not supported yet.

We will try to work on that. IF you are willing to work on a PR please let us know.

[2021-08-13 08:11] danielpeintner commented on #466
@maxim-s-barabash I think the fix is rather simple, see https://github.com/eclipse/thingweb.node-wot/pull/467

Unfortunately I do not have have time to actually test it properly the next days.
If you can do so in the meantime and report back it would be great.

[2021-08-13 11:24] maxim-s-barabash commented on #466
@danielpeintner, thanks. I think this will work.

[2021-08-16 08:25] danielpeintner commented on #434
It still fails, now for mqtts testcase.
see https://github.com/eclipse/thingweb.node-wot/runs/3282367458

For now lets skip this test till we have a solution to not cluster PRs with failures that are not relevant.
see https://github.com/eclipse/thingweb.node-wot/pull/468
**_TODO_** fix skipped test for GitHub

[2021-08-16 08:27] #464 closed

[2021-08-17 09:53] #466 closed

[2021-08-19 19:28] maxim-s-barabash opened #469 "Proposal to use TD.SecurityType instead of TD.SecurityScheme"
That would be a more accurate description

https://github.com/eclipse/thingweb.node-wot/blob/56bbc544e964b369c1bdb57be540e96662c13114/packages/core/src/exposed-thing.ts#L30

[code]

[code]
does not allow manipulation with
[code]

And further on the code:

https://github.com/eclipse/thingweb.node-wot/blob/74fe2a09d0252c57e66eeb731f35bb77f6a4cfb6/packages/td-tools/src/thing-description.ts#L41

https

[2021-08-20 06:47] danielpeintner commented on #469
The `master` branch is a little bit _behind_ and we plan to move to [`v0.8.x`](https://github.com/eclipse/thingweb.node-wot/tree/v0.8.x) soon.

The following should be a better match.
https://github.com/eclipse/thingweb.node-wot/blob/97ea2b06a29db95e7d8201ae4d788780a8b4abec/packages/core/src/exposed-thing.ts#L32

Do you agree? Further improvements might be still needed...

[2021-08-20 07:32] maxim-s-barabash commented on #469
Thanks. now I will be looking into a new branch.

[2021-08-20 07:32] #469 closed

[2021-08-20 10:40] maxim-s-barabash opened #470 "Сlarify write error message on exposed-thing.writeMultipleProperties"
v0.8.x

Now we have error text similar to
[code]
There is a semantic error in the current code. **read -> write**

https://github.com/eclipse/thingweb.node-wot/blob/v0.8.x/packages/core/src/exposed-thing.ts#L391
[code]

PS: Am I posting these minor issues. Is this acceptable?

[2021-08-20 15:10] relu91 commented on #470
Yes, IMHO these are the trickiest things to notice. So thank you for reporting this here. If you are willing to contribute further, PRs are always welcomed.

[2021-08-22 08:38] miguelrk opened #471 "[binding-http] missing typescript types for node-fetch dependency"
Hello everybody!

**Problem:** I am trying to deploy an application with **@node-wot/binding-http** as dependency to Heroku, the build is however failing due to node-fetch missing types:

[code]

This is coming from `node_modules/@node-wot/binding-http/dist/credential.d.ts(3,25)` with the line
[code]

The easy workaround of manually editing this file (e.g. add an explicit any type) does not work,

[2021-08-22 11:00] relu91 commented on #471
it's odd cause if you check http-binding package json `node-fetch` types are already there. Are you sure that you did the usual bootstrapping procedure?🤔

[2021-08-22 11:22] miguelrk commented on #471
Thanks for the quick response @relu91! You're right, `@types/node-fetch` is already in `package.json`, I somehow missed this.
I tried purging heroku cache to no success, it

I am installing the packages as usual via `npm install` only, is [this](https://github.com/eclipse/thingweb.node-wot#as-a-standalone-application) the necessary botstrapping procedure you are reffering to? I don't see how I wou

[2021-08-22 17:16] miguelrk commented on #471
Update: I could not find the root of the issue. After stumbling for a while I settled on simply installing `@types/node-fetch` on the root of my project, which got it working.

Thanks again for the help! Feel free to close this issue 👍🏼

[2021-08-23 07:40] relu91 commented on #471
That's right you don't need anything more. Sorry, I thought you were trying to build node-wot from source :).

I'm glad that you make it works! I'd keep the issue open cause I want to be sure that's not some misconfiguration from our side. Let's see if some else faces the same problem in different environments.

[2021-08-24 09:10] danielpeintner commented on #470
@maxim-s-barabash do you want to provide a PR resolving the issue?

[2021-08-24 10:03] maxim-s-barabash commented on #470
At the moment I want to limit myself to posting issues.

[2021-08-25 13:20] danielpeintner commented on #470
No problem. Please take a look at https://github.com/eclipse/thingweb.node-wot/pull/472

[2021-08-26 15:44] danielpeintner opened #475 "MBus tests failing"
see  https://github.com/eclipse/thingweb.node-wot/pull/473/checks?check_run_id=3433642871

2 failing tests

[code]

My first attempt was to increase timeout to 10 secs since I saw locally 2 seconds.
Note: Locally the tests run stable and fine on my machine.

Anyhow, not sure what is causing these issues, i skipped the failings tests, see https://github.com/eclipse/thingweb.node-wot/pull/474

@Lenn

[2021-08-27 07:36] miguelrk opened #476 "[binding-websockets] Current implementation missing certain functionality"
**TLDR:** currently, `binding-websockets` does not handle properties, actions, nor meta-interactions

**In general, I believe `node-wot` should strive to provide an equal, complete implementation across all protocols (despite their intrinsic differences). In other words, [this table](https://github.com/eclipse/thingweb.node-wot/issues/213) should have as many checks as possible.**

I'm aware that

[2021-08-27 09:25] danielpeintner opened #477 "Update package-lock files"
NPM _complains_ that our package-lock files have been created with older NPM version.

We should upgrade, maybe wait till v0.8.x landed....

[2021-08-28 16:06] miguelrk commented on #476
Update: I actually did just open-up a [PR](https://github.com/eclipse/thingweb.node-wot/pull/480) into the v0.8 branch to get this going in case you want to have a look.

[2021-08-30 13:51] danielpeintner commented on #477
resolved once https://github.com/eclipse/thingweb.node-wot/pull/478 is merged

[2021-08-30 13:55] danielpeintner opened #481 "NPM install shows oudated dependencies warnings"
running `npm install` for `v.0.8.x` shows

[code]

We should try to resolve these warnings...

[2021-08-30 17:34] danielpeintner opened #482 "Fix code/test for wotfirestore in v0.8.x"
see https://github.com/eclipse/thingweb.node-wot/pull/478#issue-721405412

Firestore tests skipped, see https://github.com/danielpeintner/thingweb.node-wot/commit/f992e4c808917a51e04ea93a890e90c9d7501ccd

[2021-08-31 10:09] relu91 commented on #477
Closing #478 has been merged

[2021-08-31 10:09] #477 closed

[2021-08-31 13:19] egekorkan commented on #481
I don't know where request is used now but we already have node-fetch and request is deprecated as the warning is shown

[2021-08-31 13:49] danielpeintner commented on #481
We use it in:
* HTTP: https://github.com/eclipse/thingweb.node-wot/blob/b3e8535394f04e59edca1c7b506d5056f8a940be/packages/binding-http/package.json#L33
* MQTT: https://github.com/eclipse/thingweb.node-wot/blob/b3e8535394f04e59edca1c7b506d5056f8a940be/packages/binding-mqtt/package.json#L23
* Examples: https://github.com/eclipse/thingweb.node-wot/blob/b3e8535394f04e59edca1c7b506d5056f8a940be/example

[2021-08-31 13:58] egekorkan commented on #481
Regarding where it is _used_:
- The example uses it for a normal HTTP request, to register a TD. This is a legit usage.
- HTTP and MQTT have it in their package.json but not in their actual code via import/require statements.

[2021-08-31 13:59] danielpeintner opened #484 "Show statistics in README.md"
Does it make sense to add some statistics in our README like
https://npmstats.org/@node-wot:td-tools

Q: Is there a good way how this can be nicely rendered on GitHub?

[2021-08-31 14:02] egekorkan commented on #484
Maybe like this?

<img alt="npm" src="https://img.shields.io/npm/dw/@node-wot/td-tools">

[2021-08-31 14:02] egekorkan commented on #484
I made it with this: https://shields.io/category/downloads

[2021-08-31 14:11] relu91 commented on #484
I like badges 👍🏻 we can use them and link back to https://npmstats.org/@node-wot:td-tools

[2021-08-31 14:13] relu91 commented on #481
I am working on the warnings, some of them are from `wot-firestore`. Our repo is getting havier and havier. We should start thinking about a better contribution procedure... something like webpack or rollup plugins.

[2021-08-31 15:11] egekorkan commented on #476
We can still support multiple subprotocols. This is invisible for consumer applications anyway but for Things built via node-wot, it would imply that the Thing code needs a way to choose a subprotocol. This issue will exist if sse would be implemented on the server side too.

[2021-09-01 08:00] danielpeintner opened #486 "Supported NodeJS Version"
At the moment we do support (and test) node-wot with NodeJS 10+.

I think it is time to lift the minimum requirement, at least for v0.8.x.
Note: LTS versions get updates for 30 months.

I recently setup GitHub actions to test against 14 and 16 only.
I think having less variations is better. Version 17 is coming soon and even 16 will become LTS soon.

Question: Do we still need to support 12 or can

[2021-09-01 08:12] danielpeintner commented on #482
@hidetak may I ask you to provide an update for the branch [v0.8.x](https://github.com/eclipse/thingweb.node-wot/tree/v0.8.x) ?

v0.8.x will become shortly the master and where the actual work takes place. Having said that, there were some breaking  Scripting API changes changes like
* [`readProperty(...)`](https://w3c.github.io/wot-scripting-api/#the-readproperty-method) etc does not report back

[2021-09-01 10:35] maxim-s-barabash commented on #486
for me 14 and up

[2021-09-01 11:09] relu91 commented on #486
Thank you for creating this issue. In principle, I think we could support 12 until its [end of life](https://endoflife.date/nodejs). If it is not causing issues I think it's ok!

[2021-09-01 11:58] danielpeintner commented on #486
Thanks for your comments 👍
Mhh, both comments seem to make me think we should still support v12, .. unless we run into actual issues...

Note: End of life for NodeJS v12 is May 2021, https://endoflife.date/nodejs

[2021-09-01 12:03] danielpeintner opened #487 "NPM CLI bug"
see https://github.com/eclipse/thingweb.node-wot/pull/483#issuecomment-910182589

revisit and check whether problem can be resolved in a _better_ manner

[2021-09-01 13:10] maxim-s-barabash commented on #450
npm will sort the dependencies once. Next Do not edit package.json dependencies manually and everything will be fine.

[2021-09-01 13:50] relu91 commented on #450
That's what I usually do, but I don't know how it was done before... since in 0.8.x I re-inited every package with `npm init -w _package_name`, it should be solved there...

[2021-09-02 12:00] danielpeintner opened #488 "[v.0.8.x] MBus problems with npm workspaces"
see https://github.com/eclipse/thingweb.node-wot/pull/483#issuecomment-910542922

[2021-09-02 12:05] danielpeintner opened #489 "WoT Firestore binding naming"
Currently we have all bindings named like this
* binding-coap
* binding-file
* binding-http
* ...

Recently we added two new bindings
* binding-wotfirestore
* binding-wotfirestore-browser-bundle

which seem to use a different naming convention by adding "wot".

Not sure if it is just me but I would rather choose the following:
* binding-firestore
* binding-firestore-browser-bundle

We can still ch

[2021-09-02 12:24] danielpeintner opened #490 "Clean-up ProtocolClient - use of start and stop"
We do have [ProtocolClient](https://github.com/eclipse/thingweb.node-wot/blob/7defa74c2e039c2dcbd2ae90810230a063abb140/packages/core/src/protocol-interfaces.ts#L24) which offers 2 methods I am unsure about the need (namely `start()` and `stop()`).

[code]

Question: Do we really need them?

As far as I can tell `start()` is not needed. Returns true always and that's it. It is also never called fro

[2021-09-02 18:38] hidetak commented on #489
@danielpeintner
I have no particular objection to changing the name to the following.
* binding-firestore
* binding-firestore-browser-bundle

I will change the names.

[2021-09-02 18:45] hidetak commented on #482
@danielpeintner
Thanks for letting me know.
I'll check it out.

[2021-09-08 08:32] danielpeintner commented on #489
I provided a PR, see https://github.com/eclipse/thingweb.node-wot/pull/494
@hidetak may I ask you take a look?

[2021-09-08 09:30] danielpeintner opened #495 "Make v0.8.x the *new* master"
TODOs for making [`v0.8.x`](https://github.com/eclipse/thingweb.node-wot/tree/v0.8.x) the *new* master

### Before merge
* [x] merge PR firestore, https://github.com/eclipse/thingweb.node-wot/pull/494
* [x] publish version 0.7.8 on NPM
* [x] create branch v0.7.x for possible fixes in the future, see https://github.com/eclipse/thingweb.node-wot/tree/v0.7.x
*  [x] fix wotfirestore naming issue in v0

[2021-09-08 11:31] alvarogar23 opened #496 "When I invoke an action it returns undefined"
Hi, in my project I have defined the following action handler that is used to pair two devices:

**Server servient.**
[code]

Then in my client Servient I invoke the action in the following way and it returns undefined when it should be returning true or false:

**Client Servient.**
[code]

I don't know if my code is wrong or if it is another error.

Thanks in advance

[2021-09-08 13:17] #489 closed

[2021-09-08 13:24] danielpeintner commented on #496
Questions:
* do you get an error? The issue does not say anything?
* I think you are missing `async` OR return `Promise`?
[code]

[2021-09-08 17:27] relu91 commented on #495
I think is a good idea to keep track of it 👍🏻 , but I also suggest that we defined and date when we drop the support for 0.7.x. We don't have so many resources... I am afraid it would be a mess handling issues for two versions. 🤔

[2021-09-08 22:44] alvarogar23 commented on #496
So i previously tried putting async and I have tried it again, the program works perfectly but the value I need still being undefined. This is a part of the messages I get:

[code]

As you can see, in the line where Pairing value is, it returns undefined even when making the actionhandler async.

[2021-09-09 09:42] danielpeintner commented on #495
I agree. I do not plan to propose to update the branch. In the past we created a branch for [v0.6.x](https://github.com/eclipse/thingweb.node-wot/tree/v0.6.x) also. However, we did not proceed to work on it. I expect to happen the same this time.
IF someone wants to take over the work we have a clean branch one can take a look at.

[2021-09-09 12:00] danielpeintner commented on #496
@alvarogar23 may I ask you to provide a [SSCCE](http://sscce.org/) for the use-case (client/server?)

I also suggest you to use an other binding like HTTP. Does this work?

[2021-09-09 15:36] alvarogar23 commented on #496
So this is the example of my code:

**Server Servient.**

[code]

**Client Servient.**

[code]

**Broker.**

[code]

I will also try with the HTTP binding, if I get anything I'll post it here.
Thanks.

[2021-09-10 06:26] danielpeintner commented on #496
Did not have the time to try it out but can it be its a scoping issue? Can you try to move the following line _outside_

`let allowedIDs = [1, 2];`

... meaning before

`servient.start().then((WoT) => {`

[2021-09-10 10:11] JKRhb commented on #463
I have only now managed to come back to this issue and I noticed that this approach:

it is not actually possible to implement solely within the MQTT package at the moment becaue all relative `href` URLs are converted into absolute URLs in the [`parseTD` function](https://github.com/JKRhb/thingweb.node-wot/blob/v0.8.x/packages/td-tools/src/td-parser.ts#L130). Therefore, I guess have to decide whet

[2021-09-10 11:50] alvarogar23 commented on #496
So I have tried putting allowedIDs outside and it keeps returning undefined, and with HTTP it gives me and error when invoking the action.

**HTTP Server Servient.**

[code]

**HTTP Client Servient.**

[code]

**Error.**

[code]

[2021-09-10 12:27] danielpeintner commented on #463
Related: The reason _why_ the `parseTD()` function converts all hrefs is to make it simple to pass along forms without any need to external knowledge (i.e., `base`).

The alternative would be to always need the combination of `form` and `base`.

In the past I encountered one another issue why we should not to this initial replacement (I just can't recall anymore what 🙈) .. mhh
Anyhow, if there are

[2021-09-10 12:29] LennyHEVS commented on #475
I modified the connection test file in the PR #504 . I'm not sure if this is going to work or not.
I'd like to see the result of the tests to be sure of the fix.

[2021-09-10 12:32] LennyHEVS commented on #488
Running the CI with the mbus binding seems to work locally on my windows machine. I'll try to run these steps again on a fresh machine.

[2021-09-10 13:11] JKRhb commented on #463
Sounds like a good workaround for now :) Would this constitute a breaking change, though? Or are the functions for the actual triggering of interaction affordances (like, for example, `invokeResource`)  only used internally?

[2021-09-10 13:29] danielpeintner commented on #496
There are several minor issues in your code

Server:
* mixing variable allowedIDs  vs. idPermitida
* no checking whether input in action is given .. id is always undefined in your sample since it is not given

Client:
* calls invokeAction without id argument

attached the modified samples..

Note: what I noticed is that return `false` somehow gets also interpreted as `undefined` ... safer to use `

[2021-09-10 13:36] danielpeintner commented on #463
You raised a good point. At the moment all calls in [protocol-interfaces](https://github.com/eclipse/thingweb.node-wot/blob/v0.8.x/packages/core/src/protocol-interfaces.ts) provide the form only.

Hence, this is a breaking change for all bindings. We could provide a helper that takes base+href and creates the correct absolute href but yes, it would still remain a breaking change!

[2021-09-10 15:46] miguelrk opened #505 "Question: why is /all/properties used instead of /properties?"
Note: this is not an issue, only something I've been wondering...

**Question:**

Why does node-wot use `/all/properties` and not `/properties` directly?

**Reasoning:**

Currently, `binding-http` [handles](https://github.com/eclipse/thingweb.node-wot/blob/56bbc544e964b369c1bdb57be540e96662c13114/packages/binding-http/src/http-server.ts#L271) `readallproperties` and `writeallproperties` under this

[2021-09-10 17:55] alvarogar23 commented on #496
So yes, for HTTP it works properly but I have adapted it for MQTT and it might be related with the protocol becasue it keeps returnning undefined:

**Server Servient**

[code]

**Client Servient**

[code]

**Broker**

[code]

I have been figuring out if I have an error but I dont´t see anaything so maybe it can be the protocol.

[2021-09-11 23:36] alvarogar23 commented on #496
So I have found the problem , and it is that read and write are not implemented in mqtt binding:

[code]

[2021-09-13 06:41] danielpeintner commented on #505
I think we have support for "all" in HTTP and CoAP.

I recall that I implemented the support at that time and _maybe_ I didn't think too much about the URL.
Having said that, I do not have a strong opinion and thinking about it more closely it makes sense to use purely `/properties`.

@relu91 @egekorkan do you see any reason for keeping the current way?

[2021-09-13 06:46] danielpeintner commented on #496
Yes, MQTT is rather limited at the moment
https://github.com/eclipse/thingweb.node-wot/blob/master/packages/binding-mqtt/src/mqtt-client.ts.

see also https://github.com/eclipse/thingweb.node-wot/issues/457

[2021-09-13 07:55] JKRhb commented on #463
That is unfortunate :/ Should this change be considered for version 0.9.0 (or even 1.0.0) then?

[2021-09-13 19:20] alvarogar23 commented on #496
So I guess there is no way to pass variables between clients with MQTT protocol. Am I right?

[2021-09-14 04:48] egekorkan commented on #496
You can do that as well, just not with properties. You can write a custom action that is used for setting variables.

[2021-09-14 05:49] egekorkan commented on #505
I would also support the proposal above

[2021-09-14 09:47] danielpeintner commented on #505
Okay, let's do the change then... I will provide a PR

[2021-09-14 11:13] alvarogar23 commented on #496
Yes, I can do for example the following action in the Server servient:

[code]

But the problem comes in the client Servient, when I invoke the action it returns undefined even if I return a variable and not a property.

[code]

Pairing value return Undefined:

[code]

I don´t know if I am not understanding what you are saying.
Thanks.

[2021-09-14 15:54] danielpeintner commented on #496
I am not 100% sure who worked on MQTT but it seems to report *nothing*

https://github.com/eclipse/thingweb.node-wot/blob/6b5b03bd86954d51c1592b058f6820b992f4d8ef/packages/binding-mqtt/src/mqtt-client.ts#L108-L109

[2021-09-15 16:07] alvarogar23 commented on #496
I will try to find a solution, thanks.

[2021-09-16 08:49] danielpeintner opened #507 "Codestyle and format"
Note: this is a takeover from https://github.com/eclipse/thingweb.node-wot/pull/493

Relates to #239 and #243

Goal: Use `eslint` and `prettier` as the main tools to achieve a consistent code style across the codebase.

Todos:
- [x] Since it is based on #491 first we need to fix the ci tests there
- [x] Create a ci script verifying that submitted code is well formated. Should we add a new workflow

[2021-09-16 09:31] danielpeintner opened #508 "Responsibility/Maintainer for each binding/package"
We are getting a longer list of supported bindings/packages (which is great by the way 👍 )

Having said that, we need to make clear *who* is responsible for each package to keep up with updates et cetera (and also the consequences).

I tried to create an initial list. Please comment and/or provide feedback.

core  thingweb team:
* core
* td-tools
* binding-coap
* binding-file
* binding-http
* cli

[2021-09-16 09:31] danielpeintner commented on #496
Note: need to calrify "who" is responsible, see https://github.com/eclipse/thingweb.node-wot/issues/508

[2021-09-16 10:43] relu91 commented on #496
yes this is something that I found weird when I was working on binding implementation a while ago. After thinking about it I ended up considering the fact that MQTT actually does not have responses for `publish` operations. You would need a "small protocol" to achieve something similar to a request-response (define special payloads and an algorithm involving probably multiple publishing and subscr

[2021-09-16 11:31] LennyHEVS commented on #508
This account is my school account. I'm finished with this school at the end of the month. I created the binding for a school project. My private account is  @Chxresubles . I think my student email will be removed after a few months so you can ping my private account when needed.

[2021-09-16 13:57] relu91 commented on #508
count on me for modbus 😃

[2021-09-16 15:18] #470 closed

[2021-09-16 16:58] hidetak commented on #508
I wish I could be responsible for the following.
* binding-firestore-browser-bundle
* binding-firestore

[2021-09-16 20:04] alvarogar23 commented on #496
But then if publish does not have responses, reading a property of a Server Servient from a client Servient is not possible? Because it would return nothing.

[2021-09-20 09:00] JKRhb opened #516 "Reenable failing for linting Action"
In #512 the linting Action was configured to succeed even if there are any linting issues present to avoid a failure in every CI run. Once all linting issues have been resolved, this change should be reverted.

[2021-09-21 14:15] danielpeintner opened #522 "CoAP Client not fully working"
using the counter sample shows the following errors for the CoAP client portion

[code]

Work should be started after merging https://github.com/eclipse/thingweb.node-wot/pull/513 since it fixed some other parts.

[2021-09-21 15:09] fatadel opened #523 "Commented out test in coap-client-test.ts"
https://github.com/eclipse/thingweb.node-wot/blob/fc359193faea478e6682946fbde79d35c73205c5/packages/binding-coap/test/coap-client-test.ts#L51

We need to decide either to remove the test completely or reimplement it without massive commented out blocks of code.
This issue was initiated by @relu91 while reviewing my PR - https://github.com/eclipse/thingweb.node-wot/pull/520.

[2021-09-21 15:34] JKRhb commented on #522
I am not sure but I think the problem might lie in this function which is called in the `invokeResource` function in `coap-client.ts`:

https://github.com/eclipse/thingweb.node-wot/blob/8d48f0e934a304fbc2cd9084a55f1808143d5e26/packages/core/src/protocol-helpers.ts#L254-L271

Maybe there could be check added that asserts that the `stream` is not `undefined` and otherwise lets the function return an

[2021-09-21 15:42] danielpeintner commented on #522
Thanks for the hint.
There were similar issues in the HTTP fixes for https://github.com/eclipse/thingweb.node-wot/pull/513

The question is whether `readStreamFully()` should be called if no response is expected.
Anyhow, I will try to take a look.

[2021-09-21 15:48] JKRhb opened #524 "Add code coverage indicator"
For the future it might be helpful to have an indicator for how much of each package is actually covered by tests. Using tools like `nyc` in the context of workspaces might take some time to figure out, however, so I would consider this a low priority issue for now.

[2021-09-22 08:27] danielpeintner opened #525 "Follow-up HTTP fixes/improvements"
based on https://github.com/eclipse/thingweb.node-wot/pull/513#issuecomment-924050531

 - [ ] improve readAllProperties() with piping in HTTP
 - [ ] fixing readAllProperties with contentType (e.g., XML SVG in counter)
 - [ ] content body required? see https://github.com/eclipse/thingweb.node-wot/pull/513/files/0a97293faf602bde03877dab53230529de19b31d#diff-0da1ff0559e462995232565a71f71095469341f25b

[2021-09-23 06:01] danielpeintner opened #529 "Clean-up of TS definitions in thing-description.ts"
The TS file https://github.com/eclipse/thingweb.node-wot/blob/master/packages/td-tools/src/thing-description.ts contains the TD definitions.

We do have https://www.npmjs.com/package/wot-typescript-definitions now also.

We should investigate whether we can remove them at least partially.

[2021-09-23 06:03] danielpeintner opened #530 ".eslintrc.json in some packages only"
I noticed that we do have the file `.eslintrc.json` in some packages only.

e.g., it is missing for
* binding-mbus
* binding-fujitsu
* binding-mqtt
* ...

Wouldn't it be possible to have it in the root directory only?
@JKRhb

[2021-09-23 11:01] danielpeintner commented on #530
I see.. I was just surprised that some packages *do* have  `.eslintrc.json`  while others *do not* have it..

[2021-09-23 11:26] relu91 commented on #530
Originally I planned to add all the packages under eslint validation, but due time constraints we merge the first PR before finishing it. With the current setup when we'll add new packages under eslint validation we must add also the relative `.eslintrc.json`

[2021-09-23 15:47] danielpeintner opened #532 "[websockets] Add tests"
follow-up work for websockets tests, see https://github.com/eclipse/thingweb.node-wot/pull/521#issuecomment-925844429

[2021-09-23 18:18] fatadel opened #534 "Track of ESLint Ignored Rules"
This issue is created to keep track of ignored eslint rules with respective justifications.

1) **Flie/Line:** `https://github.com/eclipse/thingweb.node-wot/blob/master/packages/td-tools/src/thing-description.ts`
**Ignored Rule:** `no-use-before-define`
**Reason:** Many circular dependencies where interface/type/class A uses interface/type/class B in its definition and interface/type/class B uses

[2021-09-24 11:47] JKRhb opened #536 "Github labels for each binding/package"
At the moment, binding or package related issues are often prefixed with the package they are referring to. I wanted to suggest the introduction of binding/package specific labels which could be used instead/additionally to better keep track.

[2021-09-25 10:07] JKRhb commented on #17
I wanted to revisit this issue as I think that it would be great if we could replace the current `console.debug` solution with something like the `debug` module as it was mentioned by @mkovatsc. At the moment, all the debug messages create a lot of noise when using `node-wot` in an actual application and it would be great if we had some mechanism for enabling or disabling them.

The `debug` module

[2021-09-25 11:12] danielpeintner commented on #17
I think it needs better documentation but I guess you can do quite a lot already.

See this example after line

https://github.com/danielpeintner/wot-demo-pv-ecar/blob/2724e56bb1f92c3ce5c6bfc036da989dc5923f6c/charge-spot/charge-spot.js#L24

[2021-09-26 13:00] hidetak commented on #482
@danielpeintner

Since 0.8.x seems to have changed the type of data exchanged, such as the `Content` type, I am trying to implement a fix for that.
I'm reviewing the `readProperty` first, and I'm assuming that the value returned by the `propertyReadHandler` in the figure below is determined by the data type, is that correct?
![image](https://user-images.githubusercontent.com/39742000/134808374-419

[2021-09-27 06:14] danielpeintner commented on #536
There is one downside with labels. Only team members can associate a label. Anyhow, I think having labels makes sense.

I suggest to create the following labels.

* binding-coap
* binding-file
* binding-firestore
* binding-http
* binding-mbus
* binding-modbus
* binding-mqtt
* binding-netconf
* binding-opcua
* binding-websockets
* browser-bundle
* cli
* core
* td-tools

No label since it is likely

[2021-09-27 06:18] #522 closed

[2021-09-28 08:39] relu91 commented on #490
In the recent PR, the stop method is used also in tests as a clean-up call. See #537. I think is a good practice to have a method to clean up resources, so I would keep it. About `start` I see the rationale behind it: maybe some protocol implementation needs to set up the connection before performing any operation. However, this could be done lazily: when the user requests an operation (e.g., read

[2021-09-28 09:23] danielpeintner commented on #482
Hi @hidetak

Thanks for looking into.
With  0.8.x we tried to align with the latest [Scripting API](https://w3c.github.io/wot-scripting-api/) changes which changed a lot the content that goes back and forth.

We still plan to rework some parts. Maybe it is good to wait a bit till we settle all edges to avoid additional workload on your side. I will try to ping you once I think it is stable, ok?

[2021-09-28 09:29] danielpeintner commented on #490
👍

[2021-09-28 12:30] #530 closed

[2021-09-28 18:06] hidetak commented on #482
@danielpeintner

I'm not in a hurry, so of course it's OK.
Thank you for your concern.

[2021-09-29 08:31] #524 closed

[2021-09-29 09:41] relu91 opened #544 "Improve ExposedThing - Binding comunication"
PR #543 introduced a new method for handling content between the core module and the binding level. We should restructure `ExposedThing` following the same approach for consistency and improving the overall handling of streams also at the exposed side.

A couple of open questions:
- How to handle the `response` parameter forms?
- A protocol binding must also provide the form where the request was

[2021-09-29 11:22] danielpeintner commented on #544
Even if we agree on keeping the methods I would argue to rename them to avoid confusion. It should be clear that `ExposedThing` no longer extends `ConsumedThing`.

[2021-09-29 13:19] relu91 commented on #505
+1 for `/properties`

[2021-09-29 13:21] relu91 commented on #496
No this is a possible cause in this case you can subscribe to a topic and receiving back the retained message. Actions are trickier because the outputs depend on the inputs, so you would need a "protocol" to remember who requested the action execution and with which input parameters.

[2021-09-29 14:50] danielpeintner opened #547 "Strict checking input values causes issues"
see use-case described in https://github.com/w3c/wot-thing-description/issues/1234.

use-case: Action should work with no value (default kicks in) or with a given value.

No matter what kind of data schema I set one or the other use-case doesn't work and fails with

`[binding-http] HttpServer on port 8080 got internal error on invoke '/countdown/actions/startCountdown': Invalid value according to

[2021-09-30 11:39] #441 closed

[2021-09-30 16:07] #505 closed

[2021-10-02 10:24] relu91 commented on #547
yeah, I would have imagined that this wouldn't work 😭 . The solution is to define a new keyword in the TD spec as @egekorkan is suggesting in w3c/wot-thing-description#1234 and disable ajv if no-value is passed AND it is optional.

[2021-10-02 22:33] JKRhb commented on #71
@blankm Do you think this issue can be closed as https://github.com/mcollina/node-coap/pull/204 has been merged?

[2021-10-05 11:43] danielpeintner commented on #486
At the moment we run tests for
* 12.x
* 14.x
* 16.x

I [updated the readme accordingly](https://github.com/eclipse/thingweb.node-wot/commit/9a0f90c987e2c20d64666bb2baf78c4a1c15ba37).

Hence, I think we can close this issue.

[2021-10-05 11:43] #486 closed

[2021-10-05 11:56] danielpeintner commented on #476
@miguelrk's PR https://github.com/eclipse/thingweb.node-wot/pull/521 helped to improve the situation (by adding handlers for properties and actions).

 Do we think more should be added like all or multiple operations?
@relu91 @egekorkan

[2021-10-05 11:57] danielpeintner commented on #471
It seems we can close the issue by now, right @relu91 ?

[2021-10-05 11:58] danielpeintner commented on #450
Solved by now.

[2021-10-05 11:58] #450 closed

[2021-10-05 11:59] danielpeintner commented on #434
It seems we have *stable* tests at the moment. Hence I close the issue.

[2021-10-05 11:59] #434 closed

[2021-10-05 12:00] danielpeintner commented on #421
duplicate of https://github.com/eclipse/thingweb.node-wot/issues/481

[2021-10-05 12:00] #421 closed

[2021-10-05 12:00] relu91 commented on #471
It should but we'll know for sure only once we publish 0.8.0. I would close it, but feel free to open it again if 0.8.0 still doesn't work.

[2021-10-05 12:00] #471 closed

[2021-10-05 13:03] danielpeintner commented on #332
Basic data validation is in place.

[2021-10-05 13:03] #332 closed

[2021-10-05 13:06] danielpeintner commented on #420
solved by now using `npm workspaces` and a *new* way to handle (and check) dependencies

[2021-10-05 13:06] #420 closed

[2021-10-05 13:08] #333 closed

[2021-10-05 13:11] danielpeintner commented on #199
`formIndex` option is defined in the scripting API and implemented by node-wot.

[2021-10-05 13:11] #199 closed

[2021-10-05 13:21] danielpeintner commented on #101
I don't think this is an actual issue for node-wot.

[2021-10-05 13:21] #101 closed

[2021-10-05 13:23] relu91 commented on #463
Is this somehow related to #496 ?

[2021-10-05 13:26] danielpeintner commented on #136
@egekorkan do you know whether this is still an issue or has been fixed by now?

We use `node-coap-client@1.0.8` at the moment.

[2021-10-05 13:27] danielpeintner commented on #147
@egekorkan still valid?

[2021-10-05 13:33] danielpeintner commented on #191
@relu91 solved by https://github.com/eclipse/thingweb.node-wot/pull/315 ?

[2021-10-05 13:38] danielpeintner commented on #412
I don't think there is any plan to add `const` values in data (payload), right?
Shall we close the issue?

[2021-10-05 13:41] relu91 commented on #412
+1 for closing as "won't implement".

[2021-10-05 13:42] danielpeintner commented on #507
Code style (format) is implemented.

related to https://github.com/eclipse/thingweb.node-wot/issues/516

[2021-10-05 13:42] #507 closed

[2021-10-05 13:45] relu91 commented on #382
Content interface is becoming stable. Once we close the implementation for ExposedThing, we might close this issue.

[2021-10-05 14:14] relu91 commented on #323
Since we are working on `ExposedThing` interface, I think we should also solve this issue @fillobotto

[2021-10-05 14:17] relu91 commented on #311
Fixed in #526

[2021-10-05 14:17] #311 closed

[2021-10-05 14:31] relu91 commented on #243
closing we now have a new fancy code-style system

[2021-10-05 14:31] #243 closed

[2021-10-05 14:40] relu91 commented on #200
Is this still relevant? did we add handlers for these events right?

[2021-10-05 14:44] relu91 commented on #183
I think now we have a pretty stable solution and `wot-servient` works pretty well also on windows. Feel free to re-open if you feel otherwise!

[2021-10-05 14:44] #183 closed

[2021-10-05 15:37] relu91 commented on #17
I have to be blamed for the current logging API. I choose the current spec because I had the feeling that at the time the consensus was not to use any library for logging. Here is what the current README is reporting:

So that's why I used a conservative approach and just define a `logging practise` for node-wot. The statement there still feels a little bit cryptic to me, cause I don't really unde

[2021-10-05 15:43] relu91 commented on #14
Currently, there's a lot of places where we can get inspiration from. To mention a few:
- Rollup
- Webpack
- Babel
- Eslint
- Prettier
- etc.

[2021-10-05 15:44] relu91 commented on #13
Is this still something desirable? I know that @danielpeintner prefers a more manual approach. We should get a resolution 😃

[2021-10-05 15:46] relu91 commented on #536
I did the fun part of defining the labels and tagging every issue 🤣 I hope everything got covered. Feel free to add missing labels or to label issues.

[2021-10-05 15:46] #536 closed

[2021-10-05 15:48] JKRhb commented on #536
Awesome! Thank you for this! :)

[2021-10-05 15:52] #412 closed

[2021-10-05 15:53] relu91 commented on #191
Just tested, yes solved!

[2021-10-05 15:53] #191 closed

[2021-10-05 15:54] #484 closed

[2021-10-05 15:58] danielpeintner commented on #200
Note: The handlers are there but they miss implementation

see for example
https://github.com/eclipse/thingweb.node-wot/blob/eb1c4a2187bedcb457e13248873de85b39efa341/packages/core/src/exposed-thing.ts#L267-L274

[2021-10-05 16:00] relu91 commented on #200
I changed the title just to easily understand the real issue here.

[2021-10-05 16:03] danielpeintner commented on #17
To be honest I do not *really* recall all aspects.

I recall that some people wanted to use library X and others library Y. We did not want to force anyone to use X or Y in production, meaning that in the end several logging libraries are needed for an application/system. I guess a plugin logging library like in Java was something what we were looking for.

Having said that, I still think our curr

[2021-10-05 16:05] danielpeintner commented on #13
At the moment we not really have *any* changelog.

Conventional commit messages might help to create "automated changelogs" but this also requires some proper checking.
My personal take on that is that we do *not* need it.

[2021-10-06 09:59] relu91 opened #553 "Http tests fails: timeouts"
It seems that sometimes CI tests fail for addresses already in use in the http-protocol binding. Probably, we are missing to clean up or close some resources. Refer to this https://github.com/eclipse/thingweb.node-wot/runs/3805137969

Additional resources:
https://github.com/eclipse/thingweb.node-wot/commit/eb1c4a2187bedcb457e13248873de85b39efa341

[2021-10-06 14:25] relu91 commented on #553
PR #519 might resolve the issue.

[2021-10-07 09:46] relu91 opened #555 "Better support for `subprotocols`"
Currently, node-wot only supports client-factories attached to a specific scheme, therefore delegating the subprotocol selection logic to the binding implementation. This means that the "father" protocol binding has to manually select the subprotocol logic when a particular operation is called. Maybe an example can help here. Suppose we a new subprotocol Y for the HTTP protocol. Implementers have

[2021-10-07 10:21] egekorkan commented on #555
I would vote for option 2 as well. This triggered something though:

I think this is a rather interesting discussion since it is not only related to node-wot but TD in general. Can there be subprotocols that are used in multiple protocols which can be implemented in an abstract way? So if there is subprotocol Z that can be used in HTTP and CoAP, should the implementation be duplicated in both prot

[2021-10-07 11:28] danielpeintner commented on #555
At the moment `ConsumedThing` has a utility function `getClientFor(...)` that tries to pick the *right* client and form.

https://github.com/eclipse/thingweb.node-wot/blob/eb1c4a2187bedcb457e13248873de85b39efa341/packages/core/src/consumed-thing.ts#L178

Having said that, I think we should allow registering a new client not only based on scheme (ie. `http`) but optionally also based on a given sub

[2021-10-11 08:20] relu91 opened #558 "Change default merge strategy"
On PR #519 @erossignon [suggested](https://github.com/eclipse/thingweb.node-wot/pull/519#issuecomment-938353707) changing the default merge strategy from "Allow merge commits" to "Allow rebase merging". Rebasing would allow having a more linear history in the master branch where the current approach is to have merge commits of different PRs. I work with both approaches in different repositories an

[2021-10-11 09:40] egekorkan commented on #558
There is also this part in the Contributing.md about this : https://github.com/eclipse/thingweb.node-wot/blob/master/CONTRIBUTING.md#pull-requests-and-feature-branches

It is not exactly the same but some might be doing this while others are not. It would be good to say that rebase is required so that we have a single style of PRs? Not a strong opinion though :)

[2021-10-11 10:36] egekorkan opened #559 "Having a full community profile"
In the community tab of the insights (https://github.com/eclipse/thingweb.node-wot/community) it is recommended to have:
-  Issue templates
-  Pull request template
-  Repository admins accept content reports

The last thing is managing when someone clicks the "Report Content" button and fills out the questions.

Regarding the other ones, I am not entirely sure:
- They make it a bit annoying for c

[2021-10-11 10:37] egekorkan commented on #558
Also see https://github.com/eclipse/thingweb.node-wot/issues/559

[2021-10-12 08:03] danielpeintner opened #561 "Different Form types"
https://github.com/eclipse/thingweb.node-wot/pull/550 brought to light that the ThingDescription differs between *different* forms for root, properties, actions and events (e.g., different `op`s).

* Property: https://github.com/w3c/wot-thing-description/blob/0600e4384c129bf1dc1fa4fa1a34074d6b684afa/validation/td-json-schema-validation.json#L254

* Root: https://github.com/w3c/wot-thing-descriptio

[2021-10-12 15:25] danielpeintner opened #563 "Support for Thing Models"
I think it is time to support [ThingModels](https://w3c.github.io/wot-thing-description/#thing-model) in node-wot.

What do I mean by that. An utility class that is able to create out of a TM a proper TD.

* [Placeholder](https://w3c.github.io/wot-thing-description/#thing-model-td-placeholder)
  - use of https://www.npmjs.com/package/json-placeholder-replacer ?
* [Extension and Import](https://w3c

[2021-10-12 16:36] egekorkan opened #564 "td-transformer has some misleading method names"
I think that it is time to clean up the td-transformer file (https://github.com/eclipse/thingweb.node-wot/blob/master/packages/td-tools/src/td-transformer.ts) since it has some really old TD conversions that even have misleading names like V2. It is not the same v2 I would have thought of, i.e. TD version after the 1.1.

[2021-10-13 06:14] danielpeintner commented on #564
The same issue goes for
https://github.com/eclipse/thingweb.node-wot/blob/master/packages/td-tools/src/td-repository.ts

I think both files are out-dated and should be removed from `td-tools`.

Note: What should come *new* is helpers for
* canonicalize TDs and
* TM support

[2021-10-13 06:24] danielpeintner commented on #563
Yes, added it to the list above

👍

Agree.

[2021-10-13 11:37] #564 closed, assigned to nobody

[2021-10-13 12:05] danielpeintner opened #566 "Clean-up commented code-lines"
A PR could handle all appearances like the following

https://github.com/eclipse/thingweb.node-wot/pull/554#discussion_r727885177

[2021-10-13 13:12] relu91 opened #567 "Refactor: keep only one IManagedStream"
I don't think we need two interfaces here. NodeJS.ReadableStream is a little bit controversial, I would prefer just having Readable.

_Originally posted by @relu91 in https://github.com/eclipse/thingweb.node-wot/pull/554#discussion_r725968406_

[2021-10-13 13:13] relu91 opened #568 "Using only non-default values in root tsconfig"
I prefer having only configurations that differ from the default, what do you think @danielpeintner ?

_Originally posted by @relu91 in https://github.com/eclipse/thingweb.node-wot/pull/554#discussion_r727900501_

[2021-10-13 13:21] relu91 commented on #457
After reviewing #562 I added another point to the list above:
- Refactor client implementation to have the same code style of other clients (e.g., it uses method = () => {} instead of public method(){})

Basically the client uses another style to define class methods:
https://github.com/eclipse/thingweb.node-wot/blob/82b97b186d3de0d04836f7dc3378b0b7c22580d3/packages/binding-mqtt/src/mqtt-client.ts

[2021-10-13 13:30] danielpeintner opened #569 "Promise async code style"
_input from @erossignon_

We have different code styles used throughout the code for promises.

[code]

or

[code]

Shall we leave it as is or go with one or the other?
The 2nd variant seems cleaner and less verbose. I don't believe there is any downside...

[2021-10-13 13:31] danielpeintner commented on #457
relates to https://github.com/eclipse/thingweb.node-wot/issues/569

[2021-10-13 14:35] relu91 commented on #553
Btw the original issue remains https://github.com/eclipse/thingweb.node-wot/runs/3882878266?check_suite_focus=true#step:7:938

[2021-10-13 14:39] danielpeintner opened #571 "Remove branch v0.8.x"
We use to have branches for *old* releases (e.g., [`v0.7.x`](https://github.com/eclipse/thingweb.node-wot/tree/v0.7.x), [`v0.6.x`](https://github.com/eclipse/thingweb.node-wot/tree/v0.6.x)).

While working one *recent* changes we created the branch [`v0.8.x`](https://github.com/eclipse/thingweb.node-wot/tree/v0.8.x).
I think it is time to delete the branch. Any pushback?

[2021-10-13 15:12] danielpeintner opened #572 "Parsing error: Cannot read file '.../tsconfig.json'.eslint"
Locally I do run into issues running
`npm run lint`

Similar to what is reported here
https://stackoverflow.com/questions/64933543/parsing-error-cannot-read-file-tsconfig-json-eslint

@JKRhb did you ever experience the same ?

![grafik](https://user-images.githubusercontent.com/11281461/137161446-9d031460-9fc9-452e-a874-5e6939d5131b.png)

I checked the CI run and there it seems to be the same
http

[2021-10-13 17:34] relu91 commented on #572
why is the lint step green if everything is failing? 🙈 it is probably related to #554, because it used the root configuration and it looking for a missing file. I didn't notice this during the review sorry...

[2021-10-14 08:34] relu91 opened #580 "Use `promisify` or `new Promise` pattern."
In some tests, we use `promisify` where the other places we use the `new Promise` pattern. Personally, I found `promisify` less verbose and more explicit, but we have to choose a consistent pattern for the codebase.

_Originally posted by @relu91 in https://github.com/eclipse/thingweb.node-wot/pull/579#discussion_r728727283_

[2021-10-14 11:57] danielpeintner commented on #482
Hi @hidetak.
I think we are getting close to stabilize the interfaces on `master`.

Hence, I think you can start looking at the existing bindings to get an idea how to align `binding-firestore`.

[2021-10-14 13:40] danielpeintner commented on #572
The issue has been fixed by https://github.com/eclipse/thingweb.node-wot/pull/574 👍

However, I wonder whether we should turn all errors into warnings as JKRhb has been proposing.
I think this gives us some hint what is going on. Opinions?

[2021-10-14 13:46] danielpeintner commented on #553
I might be wrong but this always seemed to be a Mac issue.

[2021-10-15 06:24] danielpeintner commented on #553
Sorry, missed that. Merged it just now.

[2021-10-15 08:52] relu91 opened #583 "`subscribeEvent` and `observerProperty` have wrong signature"
The current scripting API defines the signature of this two methods as follows:
[code]

But in node-wot we have:
[code]

Notice sadly we need to wait for https://github.com/w3c/wot-scripting-api/issues/343 before fixing this in node-wot

[2021-10-15 10:16] relu91 commented on #572
Oh, now I remember that allows success even of failure and we keep track of it here: https://github.com/eclipse/thingweb.node-wot/issues/516. I think that once we'll set `continue-on-error: false` everything will work properly.

My opinion is to leave them as errors, once we'll close #516 everything will be in place. I'd close this issue.

[2021-10-15 12:25] #572 closed

[2021-10-15 17:08] hidetak commented on #482
@danielpeintner

Thank you for contacting me !
I will start to modify the binding-firestore.

[2021-10-19 07:20] danielpeintner opened #586 "Resolve remaining eslint errors/warnings"
`npm run lint` still shows errors/warnings which we should fix:
Note: `npm run lint` can be run in a dedicated package only to the see the according infos.

* [x] `td-tools`, resolved by https://github.com/eclipse/thingweb.node-wot/pull/581/
* [x] `core`, initially resolved by https://github.com/eclipse/thingweb.node-wot/pull/582/ but I noticed recent updates broke it again, see https://github.com

[2021-10-22 09:20] danielpeintner opened #595 "ESlint does not work for package `examples`"
When we introduced `npm run lint` @JKRhb mentioned there is an issue with `packages/examples`.

The message is rather cryptic
`Oops! Something went wrong! :(`

I tried to look into but I do not understand the issue either.

The strange part is that running it for `examples` shows

[code]

while for other packages the printout looks different.

e.g., opcua does have a file .eslintrc.json
[code]

e.

[2021-10-23 15:15] miguelrk opened #596 "Ambiguity between readOnly/writeOnly for ExposedThings"
In spirit of documenting how node-wot handles the open issue [Undefined behavior for writeOnly and readOnly](https://github.com/w3c/wot-thing-description/issues/1005), I created the following table.

The table summarizes how node-wot handles `readOnly`/`writeOnly` values in a property affordance when exposing things:

| ExposedThing 'op' (for properties) |  readOnly: true  |          readOnly: fal

[2021-10-25 08:55] #571 closed, assigned to nobody

[2021-10-27 15:20] #488 closed, assigned to nobody

[2021-10-27 15:21] #475 closed, assigned to nobody

[2021-10-29 08:22] relu91 opened #599 "Opcua binding compile test files into dist folder"
In our setup, it does not really make sense to compile test files into the dist folder, for two reasons:
- It pollutes the distributed npm packages with files that will never be used
- Tests are executed using ts-node

I think that also opc-ua binding should follow the same setup of other packages.

_Originally posted by @relu91 in https://github.com/eclipse/thingweb.node-wot/issues/598#issuecomme

[2021-10-29 23:03] egekorkan commented on #596
There were two reasons for this:

1. JSON Schema uses readOnly and writeOnly
2. People make typo mistakes when writing writable or writeable. Even in the WG, people were writing it differently. These two completely different words for a machine.

On the other hand, I also do not like these keywords. JSON Schema defines them only as meta annotations, i.e. keywords that do not have an influence in t

[2021-11-02 17:50] hidetak commented on #482
@danielpeintner

Please let me know if you have any questions about the implementation.
When I want to write a property of Object type on the server side, I think I call `writeProperty` of `ExposedThing`, but I cannot handle it properly.
I think the following part of the `writeProperty` process converts the value of Object into Readable type.
https://github.com/eclipse/thingweb.node-wot/blob/maste

[2021-11-03 09:10] relu91 commented on #555
I would spare binding implementations to implement the logic of choosing which subprotocol to use. I would prefer that they just focus on communication leaving all the rest to node-wot core.

[2021-11-03 09:33] relu91 opened #606 "Misalignment with TD OAuth 2.0 flows"
Thing Description spec suggests using the term [client](https://w3c.github.io/wot-thing-description/#oauth2securityscheme) for OAuth 2.0 client credential flow, whereas http-binding is using [client_credentials](https://github.com/eclipse/thingweb.node-wot/blob/9dcab14f9698301f7d6d35ba31e59a73a59eb2c9/packages/binding-http/src/http-client.ts#L242)

[2021-11-03 11:28] relu91 opened #607 "Npm link not working"
If you follow the readme instructions the optional link step does not work with the current setup.

[2021-11-04 07:00] erossignon commented on #607
In fact npm link is probably not neded
We could simply extend  "workspace" section of the main package.json file  to point to the respectif project .

[2021-11-04 10:54] #607 closed

[2021-11-04 15:10] relu91 commented on #599
Fixed in #600

[2021-11-04 15:10] #599 closed

[2021-11-04 15:11] relu91 commented on #580
Actually, promisify is a nodeJS module to transform callback programming style in Promises. I don't think is an artifact...

[2021-11-04 15:32] egekorkan commented on #580
By an artifact, I meant that the module was used since the baked in Promise was not available and simply stayed there even though that the new promise pattern became available. I think we should simply use the baked-in way since new Node.js developers probably do not even hear about the promisify way :)

[2021-11-08 11:51] lukesmolo opened #611 "binding-opcua does not handle arrays properly"
As shown in node-opcua/node-opcua#1074 the _node-opcua_ is not properly handling arrays while converting a _datavalue_ to a javascript object. This translates into the fact that the binding-opcua cannot handle property properties that have an array as value. According to the author of the _node-opcua_ library, this should be fixed in another version of the opcua binding. Nevertheless, since at the

[2021-11-08 14:24] danielpeintner commented on #482
Sorry for the late reply, I was on vacation.

Note: with the latest version of ExposedThing there is no writeProperty or a like. For an exposed thing the developer needs to take care. See for example the revised [counter](https://github.com/eclipse/thingweb.node-wot/blob/master/packages/examples/src/scripts/counter.ts) sample.

One needs to register handlers for reading/writing et cetera

e.g.,
ht

[2021-11-08 16:30] hidetak commented on #482
@danielpeintner

![image](https://user-images.githubusercontent.com/39742000/140777730-d4bc6797-beb0-41f3-a2b1-067e2d9f913e.png)

As shown in ②, I'm using `propertyWriteHandler` as you mentioned .
I think the `writeProperty` will be removed, shown in ①. How will the binding(server) call the `propertyWriteHandler` in that case?

I have checked `binding-http` and `binding-coap`, and it seems to be c

[2021-11-09 07:33] danielpeintner opened #614 "[binding-http] ReferenceError: alparser is not defined"
running `node packages\cli\dist\cli.js examples\scripts\counter.js` and trying to load http://localhost:8080/counter fails with

[code]

[2021-11-09 08:22] #595 closed

[2021-11-09 08:38] danielpeintner commented on #482
Sorry for the confusion. The implementation of the server can still access `thing.writeProperty(...)` since `thing` in this case is of  type *internal* node-wot `ExposedThing`.

https://github.com/eclipse/thingweb.node-wot/blob/4cb5fb1b2d9aa2edef219c8b21f48788f8f73b8c/packages/core/src/exposed-thing.ts#L31

Note: `WoT.ExposedThing` no longer has such a call (it used to have), see
https://github.co

[2021-11-09 10:22] danielpeintner opened #616 "[core] Critical warning - uuid@3.4.0"
`npm WARN deprecated uuid@3.4.0: Please upgrade  to version 7 or higher.  Older versions may use Math.random() in certain circumstances, which is known to be problematic.  See https://v8.dev/blog/math-random for details.`

`npm list uuid` shows

+-- @node-wot/core@0.8.0 -> .\packages\core
| `-- uuid@7.0.3
`-- nyc@15.1.0
  `-- istanbul-lib-processinfo@2.0.2
    `-- uuid@3.4.0

Hence it comes from "

[2021-11-09 10:27] JKRhb commented on #616
This seems to be a known issue over in the `istanbul-lib-processinfo` repository (see https://github.com/istanbuljs/istanbul-lib-processinfo/pull/21).

[2021-11-09 11:31] relu91 commented on #580
It seems that `promisify` does something more. Read this [best practices](https://dev.to/somedood/best-practices-for-es6-promises-36da)

[2021-11-09 11:33] relu91 commented on #553
It seems we finally tackled this issue, re-open if it happens again!

[2021-11-09 11:33] #553 closed

[2021-11-09 11:37] relu91 commented on #523
After #538 and #602 we should probably re-evaluate this issue. @danielpeintner can you give it a look?

[2021-11-11 13:01] danielpeintner opened #624 "Husky - Pre-Build / Pre-Test"
Hi,

while working with the *new* husky functionality to push partly ready stuff (even in my private repo) it is a bit annoying if something does not fully work yet. It is not possible to push without tweaking around... same if I want to continue the work on another machine etc.

Is it just me thinking that this is somehow a undesired overkill?

Comments welcome!