[2018-06-14 14:08] danielpeintner opened #2 "Running example script fails with "Unexpected token export" error"
The tsc command fails to create a correct JS file.
When running for example "`node packages\cli\dist\cli.js  examples\scripts\counter.js`" I get

[code]

[2018-06-20 09:21] mkovatsc opened #3 "Allow to add static addresses via wot-servient.conf.json"
Add a field to wot-servient.conf.json, which is passed to the Helper to statically add them to the getAddresses function.

[2018-06-20 09:22] mkovatsc opened #4 "Improve servient management Thing"
Property things currently returns null

[2018-06-20 12:47] mkovatsc opened #5 "Make config file configurable via command line flag"

[2018-06-28 10:15] mmccool opened #6 "Document version of Node.js used"
It was unclear to me whether 8.x or 10.x was necessary.  I assume you are using a recent version but it's not clear how recent it has to be.  I installed 10.5.0 and got the following error when trying to run the examples/scripts:
[code]
Alternatively, fix the above so node-wot works with 10.x (of course, something *else* could be wrong here...)

[2018-06-28 10:17] mmccool commented on #6
Since the exact problem noted seems to be related to logging the hint you gave about that (https://gist.github.com/spmason/1670196) may be relevant.

[2018-06-28 21:02] mkovatsc commented on #6
You need at least 8.0.0 for the console functions. Can you recheck installed node version?

[2018-07-01 00:59] mkovatsc opened #7 "How to configure API key in HTTP header field?"
[code]

[code]

[2018-07-01 01:25] mkovatsc opened #8 "How to configure CoAPS security?"
Note: The CoAPS library (node-coap-client) is unfortunately very limited, e.g., it does not even support Uri-Query.

[code]

[code]

[2018-07-12 15:02] danielpeintner opened #10 "# Python needed for binding-coap (crypto?)"
A recent update made the requirements of Phyton executable required.

If this is going to stay ( @mkovatsc ?) we may need to mention it here https://github.com/eclipse/thingweb.node-wot#prerequisites

[2018-07-12 15:29] danielpeintner opened #11 "Node.js 10 requirement and more issues?"
A recent update related to coap-binding seems to require Node.js 10 to successfully run `npm run bootstrap`...

With version 8 I get lots of issues (e.g. also related to https://github.com/eclipse/thingweb.node-wot/issues/10) while  with Node.js 10 everything seems to work fine again.

1.  I am not sure if it is already the time to switch
2. There are more issues with binding-websockets package

[2018-07-14 13:52] mkovatsc commented on #11
The AddressInfo bug came from `@types/ws`: https://github.com/DefinitelyTyped/DefinitelyTyped/issues/25890
It is fixed in 5.1.2, which is now the dependency for node-wot (5e68104).

[2018-07-14 14:01] mkovatsc commented on #11
NodeJS 10.* does not need the crypto polyfill (see https://github.com/AlCalzone/node-dtls-client/blob/master/install/postinstall.js), so no local compilation is needed then.

For versions < 10.* it should still work properly, given the prerequisites for node-gyp: https://github.com/nodejs/node-gyp#installation -- which is covered on Windows with the buildtools:
* Python 2.7
* make
* GCC

I will ad

[2018-07-14 23:42] mkovatsc opened #12 "Intro / slide deck"
Copied from https://github.com/thingweb/node-wot/issues/24

TODO:
* we use https://gitpitch.com/
* we add a PITCHME.md
* we link the rendered version from the README

POC:
* https://gitpitch.com/harald-mueller/node-wot/issue_24_Pitchme?grs=github&t=white
* https://github.com/harald-mueller/node-wot/tree/issue_24_Pitchme
* `[![GitPitch](https://gitpitch.com/assets/badge.svg)](https://gitpitch.com/h

[2018-07-14 23:50] mkovatsc opened #13 "Automated changelog"
Copied from https://github.com/thingweb/node-wot/issues/26.

We already use conventional commit messages for thingweb.node-wot. What is missing is an automated changelog.

Options:
* commitizen & conventional-changelog: https://commitizen.github.io/cz-cli/
* https://github.com/semantic-release/semantic-release

[2018-07-14 23:59] mkovatsc opened #14 "Configuration of Protocol Bindings for the cli (`wot-servient`)"
Copied from https://github.com/thingweb/node-wot/issues/38.

The cli already uses a `wot-servient.conf.json` for configuration. This should in future also be used to include protocol binding implementations by including entries such as:
[code]
There can then be required, but we would need standardized class names, I guess.
Is there a better way to do such dynamic dependencies?

[2018-07-15 00:25] mkovatsc opened #15 "Investigate Yarn to reduce memory footprint"
Copied from https://github.com/thingweb/node-wot/issues/57

A node-wot development installation takes more than 500 MiB because of the node_modules copies. Would be nice to reduce this footprint for less powerful devices such as old Raspberry Pis, Edisons, etc.

TODO:
* Create a target `production` with something like `sudo lerna exec -- npm prune --production`
* Try out https://yarnpkg.com/

[2018-07-15 00:39] mkovatsc opened #16 "Documentation"
@egekorkan You wanted to create more documentation: https://github.com/thingweb/node-wot/issues/68

Can you please outline what exactly you wanted to create?
Also see https://github.com/eclipse/thingweb.node-wot/issues/12.

[2018-07-15 00:50] mkovatsc opened #17 "Logging"
Copied from https://github.com/thingweb/node-wot/issues/77

On the way to production, we need to include proper logging. We could use the [debug](https://www.npmjs.com/package/debug) module, which is good for library modules and frameworks (e.g., used by express):

[code]

[2018-07-15 01:35] mkovatsc opened #18 "How to install new/different versions of NodeJS, e.g., on Raspberry Pi?"
Using NPM, you can install NodeJS independent from the usually outdated package managers such as apt. This is nicely done by [n](https://www.npmjs.com/package/n):

[code]

To get the "stable" version:
[code]

To get the "latest" version:
[code]

Finally, make the `node` command available through:
[code]

[2018-07-15 01:39] mkovatsc opened #19 "Add more media types, in particular +json sub-types"
Copied from https://github.com/thingweb/node-wot/issues/97.

See https://github.com/thingweb/node-wot/pull/96 for a quick fix.

TODO:
* think of a good way to do it

[2018-07-15 17:10] h0ru5 commented on #15
Can confirm `yarn` works fine with this, problem is: some scripts call npm explicitly

[2018-07-15 18:34] mkovatsc opened #21 "subscribe() for ConsumedThingProperty"
Needs to be implemented...
`ExposedThingProperty` needs a `Subject` and `next()` calls.

[2018-07-16 13:01] danielpeintner opened #22 "Setup (re-activate) Travis"
It is desired to setup Travis testing again (see https://github.com/eclipse/thingweb.node-wot/issues/11).

Unfortunately I do not have sufficient rights to do so..
https://travis-ci.org/eclipse/thingweb.node-wot

Who has sufficient rights?

[2018-07-16 13:47] danielpeintner commented on #11
The recent updates resolved the afore mentioned issues for node v10.

Running `npm install -g --production windows-build-tools` in CMD shell as administrator, as described in https://github.com/eclipse/thingweb.node-wot#windows, did NOT work for me with node v8.

Maybe an issue on my machine/installation. Do others experience the same issue?

[code]

For the last issue about Travis I opened anothe

[2018-07-16 13:48] danielpeintner commented on #10
Running `npm install -g --production windows-build-tools` in CMD shell as administrator, as described in https://github.com/eclipse/thingweb.node-wot#windows, worked with node v10.

Node8 still caused issues but let's discuss them here https://github.com/eclipse/thingweb.node-wot/issues/11

[2018-07-16 13:48] #10 closed

[2018-07-16 15:59] egekorkan commented on #16
I wanted to create a documentation which is basically a copy of the scripting api spec that you can find in this repository.

[2018-07-16 21:24] mkovatsc commented on #11
Works for me on the "good" *old* Windows 7.

I remember an issue with the free Visual Studio compilers for Windows 10 and the need to manually install a specific version.

Which Windows and for 10 which build do you have?

[2018-07-17 08:46] danielpeintner commented on #22
request to webmaster, see https://bugs.eclipse.org/bugs/show_bug.cgi?id=537076

[2018-07-17 08:50] danielpeintner opened #23 "Flag "writeable" for properties seems to be broken"
How to reproduce:
Run counter example `node packages\cli\dist\cli.js examples\scripts\counter.js` and retrieve the TD which reports a property `count` with `"writeable": true`.

The property is not writable and reports 500 error on PUT.

[2018-07-17 14:02] sebastiankb opened #24 "Proposal for a new td-generator.ts implementation in @node-wot/core"
To face the issue that was mention in PR https://github.com/eclipse/thingweb.node-wot/pull/9 (getAddress()) we should think about to make the td-generator.ts more generic for any protocol bindings.

So far, if there is a new protocol binding such as MQTT with remote broker address assignment or specific protocol handling such as http long poll some if statements have to be added within generateTD(

[2018-07-17 16:40] mkovatsc commented on #23
It should be `writable` without e.
Will check why there is writeable in the TD.

[2018-07-18 12:37] danielpeintner commented on #24
I agree.

The core `module` should not contain any information (or knowledge) from a given binding to allow for future extensions (bindings) we don't know about.

[2018-07-18 13:20] danielpeintner commented on #11
I am on Windows7 too.

Anyhow, node10 works... might really an issue n my side and I think we can close the issue

[2018-07-18 13:20] #11 closed

[2018-07-18 13:31] danielpeintner commented on #23
The only mentioning of `writaeble` is here:  https://github.com/eclipse/thingweb.node-wot/blob/master/examples/scripts/counter.js#L36

I fixed this minor issue right away in  https://github.com/eclipse/thingweb.node-wot/commit/8125173022a32afe81390892e5dabd7477062e36

[2018-07-18 13:31] #23 closed

[2018-07-18 16:02] mkovatsc commented on #2
This was a problem caused by using enums from the wot-typescript-definitions.

The wot-typescript-definitions have  not been build, i.e., no .js has been created, so it crashes whenever they are used as dependency instead of a dev dependency for its types only.

The enums have been removed and the wot-typescript-definitions now use  discriminated unions.
Closing.

[2018-07-18 16:02] #2 closed

[2018-07-19 07:17] fcapello opened #26 "Error in coap-servient example"
Running the coap-servient example provided produces an error:

adding double quotes to `type` (lines with `{ type: "string" }`) resolves it.

Its probably due to the way ExposedThing handles the schemas.

[2018-07-19 14:08] mkovatsc commented on #26
Note that this example is to illustrate how to use node-wot as library (from NPM) to build your own Servient.

The problem is that this example, to work straight-forward, requires published node-wot modules on NPM. As they are intrinsicly under development, though, this example does not work in development phases.

To develop you own Servient on development code, it makes much more sense to extend

[2018-07-20 07:21] danielpeintner commented on #2
I wonder whether we should post an issue at [TypeScript](https://github.com/Microsoft/TypeScript).

To me it would seem more natural (and better) to use enums...

[2018-07-23 15:06] mkovatsc commented on #2
But it is not an issue with TypeScript. When you want to use Enums, you need to instantiate them in node-wot, and hence require a build step for the wot-typescript-definitions and make them full dependencies.

Discriminated unions are quite common to my understanding.

[2018-07-23 15:09] mkovatsc commented on #6
Now documented fully in README.md

[2018-07-23 15:09] #6 closed

[2018-07-24 06:05] #16 closed

[2018-07-27 08:04] danielpeintner commented on #22
FYI: travis is setup again.

Note: at the moment there are build errors, see https://travis-ci.org/eclipse/thingweb.node-wot

[2018-07-27 08:04] #22 closed

[2018-08-01 11:12] mkovatsc commented on #5
Done with `-f` flag for cli.

[2018-08-01 11:12] #5 closed

[2018-08-01 12:10] 6d77 opened #31 "binding-file: replace deprecated new Buffer"
When using the file binding I get the following warning on the console:

[code]

The reason is the following line:

https://github.com/eclipse/thingweb.node-wot/blob/b4bcbd5a22bbab74c88a3df7a39e6ef970909348/packages/binding-file/src/file-client.ts#L55

I propose to follow the recommendation given in the warning and replace the constructor by one of the factory methods.

[2018-08-06 10:59] danielpeintner opened #32 "Update correct namespace content in TD (parser)"
TD parser has default namespace context.

REMINDER: Depending on the outcome of https://github.com/w3c/wot-thing-description/issues/185 (and whether it will be part of the next release) we need to align also...

[2018-08-06 11:52] mkovatsc opened #33 "Breaking rename within 0.5.0-SNAPSHOT versions: get/set -> read/write"
In the Scripting API call we decided to align the get/set vs read/write terms used also in the TD and Binding Templates to a uniform read/write.

See https://github.com/w3c/wot-scripting-api/issues/127

[2018-08-07 07:57] danielpeintner commented on #33
Note: The same issue exists for actions: "run" in node-wot vs. "invoke" in Scripting API (see https://rawgit.com/zolkis/wot-scripting-api/master/index.html#the-thingaction-interface)

[2018-08-07 11:03] 6d77 opened #34 "core/content-serdes.ts: provide more information to ContentCodecs"
Currently the converter methods of `ContentCodec` just have the following simple signatures:

[code]

It would be helpful to provide more information to these methods to help them doing the correct encoding and decoding.

For `bytesToValue` it would be helpful to have the following additional information:

* "type" of the expected result, as e.g. specified for a property in the TD
* additional par

[2018-08-11 10:28] mkovatsc commented on #34
Done in 955f67d463c6bd52a71ebc49468c09600fb06192

`bytesToValue()` now also gets the DataSchema and the parameters part of the content type.

[2018-08-11 10:29] mkovatsc commented on #33
Was done in 19db385514a9947d3cee1398bd5798962a6f0274

Examples are updated.
Scripts at other locations based on v0.5.0* need to be updated.

[2018-08-11 10:29] #33 closed

[2018-08-11 10:29] mkovatsc commented on #32
Merged.

[2018-08-11 10:29] #32 closed

[2018-08-11 10:29] mkovatsc commented on #31
Done in c6d966dda3f5d3c6b04625f1bf43de9f9ea08d39

[2018-08-11 10:29] #31 closed

[2018-08-11 10:30] mkovatsc commented on #21
For now at least a placeholder that provides a meaningful error ("not implemented").

[2018-08-14 14:20] jplaui opened #37 "http-client-factory.js null check missing"
Line [35](https://github.com/eclipse/thingweb.node-wot/blob/master/packages/binding-http/src/http-client-factory.ts#L35) of the thingweb.node-wot/packages/binding-http/src/http-client-factory.ts file does not check if `this.config` is `null` . The this.config.proxy access results in an error if no configuration is set during HttpClientFactory initialization.

Line which caused the error: `servient

[2018-08-16 09:45] danielpeintner commented on #37
I opened a PR for this. Thanks for reporting this issue!

[2018-08-16 09:59] #37 closed, assigned to nobody

[2018-08-28 08:13] danielpeintner opened #40 "Align DataSchema with Scripting API changes"
* `type`  in `DataSchema` must not be required (see https://github.com/w3c/wot-scripting-api/issues/133)
* `DataSchema` has now `IntegerSchema` and `NumberSchema`

[2018-09-18 14:00] mkovatsc opened #42 "Provide version flag for wot-servient"
`-v` should show node-wot version.

[2018-09-19 13:55] mkovatsc commented on #42
Fixed in 0e98242

[2018-09-19 13:55] #42 closed

[2018-09-19 13:56] mkovatsc commented on #3
For now added field `staticAddress` for a single manual address used for all servers.

Please comment with use cases for multiple manual addresses.

[2018-09-19 14:04] mkovatsc commented on #40
Both Schemas have always been available.

type was made optional in e551d25 for wot-typescript-definitions.

[2018-10-05 05:10] cStorm opened #43 "Updating name and description"
I've been perusing the latest W3C documents and combing through various implementations for a while, and have yet to find a way to update the name or description of a thing.

The various bindings seem to reject update methods to the root resource of each thing where these fields are defined, and the properties collection seems to be for more tangible/real-world properties and not for friendly name

[2018-10-09 10:33] mkovatsc commented on #43
I assume you try to change the TD from the outside via a request to the TD resource on the Servient. This behavior is not intended. To modify a Thing, you must own it, that is, have access to the runtime sandbox which originally exposed the Thing.

Straight-forward, this means you can only do this from within the script that you run. You can add Actions to the Thing that allow an update via reques

[2018-10-10 12:59] franckOL opened #44 "[question] Is there any servient for browser ? (pure client in fact, build according a Thing Description)"

[2018-10-14 02:15] cStorm commented on #43
OK, great.  I appreciate the link to that issue.  That's very much what I was looking for with that part.

On the subject of changing things after the server is running, would the idea be to make your modifications (either to the name, set of properties, etc) and then recall its expose() method?  This seemed to work fairly well, but it required changing my ProtocolServer.expose() implementation to

[2018-10-15 10:29] mkovatsc commented on #43
Originally, we did not require any specific function call and updates to Things became available instantly. Recently, I refactored to make use of `expose()`, in particular, for special bridge bindings (binding-oracle, binding-fujitsu) that require some form of handshake to make Things available.

We are still collecting implementation experience how the behavior on updates should be. My assumption

[2018-10-15 10:31] mkovatsc commented on #44
We know that other participants in the W3C WoT WG have such an implementation, but did not make it public.

If someone has time, we would definitely add such an implementation to Eclipse Thingweb.

[2018-10-30 14:09] danielpeintner opened #46 "Change contenttype to contentType"
The latest [ThingDescription spec](https://w3c.github.io/wot-thing-description/) uses `contentType` again (it used to be `contenttype`, lower-case).

[2018-10-30 19:42] rolandma commented on #18
I run
`$ curl -sL https://deb.nodesource.com/setup_10.x | sudo -E bash -`
to update the package repository then the Rpi was able to find and install the latest version of Node Js, and that also resolved my problem when I run npm install which I had problem with on npm v1.x.x

[2018-10-30 20:06] rolandma opened #47 "error when running build"
When running `npm run build` I got this error

lerna ERR! npm run build exited 2 in @node-wot/demo-servients
lerna ERR! npm run build stdout:

src/bridge-cli-servient.ts(23,30): error TS2307: Cannot find module @node-wot/binding-oracle.
src/oracle-festo-proxy.ts(20,30): error TS2307: Cannot find module @node-wot/binding-oracle.

lerna ERR! npm run build stderr:
npm ERR! code ELIFECYCLE
npm ERR! er

[2018-10-31 10:40] cdh4u opened #48 "No matching format found error when sending CoAP GET"
When I am sending a CoAP GET message, I get the following error:

[code]

When I am sending the same request with the coap-shell app, everything works.

Below is the response I get with coap-shell:

[code]

I am using the Leshan LWM2M Client (prebuilt) as CoAP server.

(Note that, due to firewalls, the IP address of the CoAP server above is not reachable from the Internet, so you will unfortunatel

[2018-10-31 12:56] cdh4u commented on #48
Ok, I found the reason. When looking in Wireshark, the CoAP response indicates a Content-Format value that node-wot does not understand.

To solve this, the CoAP request sent from node-wot would have to indicate that it accepts text/plain.

[2018-10-31 13:14] cdh4u commented on #48
I have the following in my TD:

"forms":[{"href":"coap://193.234.219.199:5683/3303/0/5700","mediaType":"text/plain"}]

But, it does not have any impact on the request.

[2018-10-31 14:15] 6d77 commented on #48
Just talked to him. There was another CoAP server implementation which could not cope with `Accept` headers, so he removed it to make this working. Until a final solution is found to fit both requirements you might just uncomment the line again locally.

[2018-10-31 17:50] cdh4u commented on #48
I think the master branch should be based on endpoints behaving correctly - in this case being able to process the Accept header :)

Anyway, I will see Matthias this weekend, so I can discuss it with him then. Short term I will uncomment the line.

[2018-11-01 15:15] rolandma commented on #47
I was running on a raspberry pi 3 b+ and the memory became a problem when running the build, that was solved by disabling the UI which saved several hundred MB memory.

[2018-11-01 15:15] #47 closed

[2018-11-01 17:06] rolandma commented on #18
Somehow I installed the latest version of NodeJS, v11.0.0, which is not supported for to build, I had to remove the whole v11 and delete the file in usr/local/bin/node for the run build to continue.

[2018-11-02 18:55] hasbel opened #49 "op field in generated Thing Descriptions"
In the TDs automatically generated by node-wot, the op field in the forms of a properties is always an array that contains both "readproperty" and "writeproperty". (even if writable is set to false.)

This field is defined as a string and not an array according to the spec draft.
So the expected behaviour is for it to be set to "readproperty" if the property is not writable and to be set to "write

[2018-11-05 17:48] egekorkan opened #51 "[question] How to send images (contenttype:image/jpeg)"
How can I create a property with a contenttype equal to image/jpeg? In general, is there a way to change the contenttype of the created forms?

[2018-11-07 16:25] franckOL opened #53 "package @node-wot/core@0.5.0 on npmjs is empty (missing dist directory)"

[2018-11-13 09:01] mkovatsc commented on #53
Thanks for the report. I will track down what went wrong.
Probably there will need to be a 0.5.1...

[2018-11-13 09:07] mkovatsc commented on #51
This is more a topic for https://github.com/w3c/wot-scripting-api/issues

[2018-11-13 10:00] egekorkan commented on #51
I have commented on the issue [#112](https://github.com/w3c/wot-scripting-api/issues/112) of the scripting api specification.

[2018-11-13 10:00] egekorkan commented on #51
[](url)

[2018-11-15 11:46] mkovatsc commented on #53
Fixed in new 0.5.1:

https://www.npmjs.com/org/node-wot

[2018-11-15 11:46] #53 closed

[2018-11-28 10:02] danielpeintner commented on #51
@egekorkan can we close this issue given that https://github.com/w3c/wot-scripting-api/issues/112 is closed too?

[2018-11-28 14:13] egekorkan commented on #51
Actually I have written another issue in the scripting API ( [156](https://github.com/w3c/wot-scripting-api/issues/156) ). The ambiguity is the fact that the scripting API says to accept a TD for the expose method but actually the algorithm should decide how to init the exposed thing. In this case it is not clear whether not having this feature is the "fault" of node-wot or scriptiing API

[2018-11-29 09:00] egekorkan commented on #51
From the discussion in Scripting API on issue [156](https://github.com/w3c/wot-scripting-api/issues/156), at the moment it is up to the implementation to figure out how to interpret the form field of a given TD for the produce() method. This means that we can (and I think we should) use the information provided in the form field. At the moment it is completely ignored.

[2018-11-29 16:28] hasbel opened #54 "ExposedThingProperty.write() does not handle rejected promises"
The `write(value)` method of the `ExposedThingProperty` class which is called when a request is received to change the value of a property,  returns a promise.

It checks if a property `writeHandler` is defined, and if so, get's the promise this handler returns, waits for it to resolve, does some logging and internal state updating, and then resolves it own promise accordingly.

However, if the pr

[2018-12-03 09:32] wiresio commented on #15
I tried:
-	yarn init
-	yarn add [packages]
-	npm run build
-	lerna exec 'npm prune --production'
and checked functionality by running the counter.js example - which worked. The size of compiled node-wot w/ all packages was reduced from 786 MByte down to 182 MByte.
A TODO would now be to add a respective rule to package.json.

[2018-12-08 23:38] h0ru5 commented on #15
@wiresio not necessary.
you can also just reuse the existing package.json (and npm lockfiles to be correct).
just remove the existing `node_modules` and run `yarn` (== `npm install`) and you will have the modules.

Also instead of running `npm run build` you can run `yarn build` (works for all scripts in package.json)

downside of yarn is, its one more step to install and document and AFAIK there

[2018-12-11 13:44] danielpeintner commented on #15
Mhh, I tried the following

0. removed all `node_modules` folders  etc
1. Installed yarn
2. run `yarn`
3. run `yarn build`

and I was back at 700MB :-(

[2018-12-11 13:49] wiresio commented on #15
This is also my experience. That's why 'pruning' is necessary to reduce the size. When you prune without having run yarn before, node-wot will not work.

[2018-12-18 17:24] #54 closed

[2018-12-18 20:52] h0ru5 commented on #15
ahh, ok.
I guess that's b/c of prod vs. dev.
https://yarnpkg.com/lang/en/docs/cli/install/#toc-yarn-install-production-true-false

try `yarn --production` instead or set env variable `NODE_ENV=production` (probably only latter one will work with lerna)

above, you install devDeps with yarn, then prune them away with npm, leaving only prod.

the same is for npm by the way: https://docs.npmjs.com/cl

[2018-12-18 20:53] h0ru5 commented on #15
Ok, seems installing & pruning is the right way here, because lerna has an issue regarding production flags:
https://github.com/lerna/lerna/issues/721

[2018-12-19 13:01] danielpeintner opened #56 "TD alignments for F2F Princeton"
TD alignments for F2F Princeton

This is meant to b a sticky placeholder to keep track of missing alignments (with https://w3c.github.io/wot-thing-description/).

- [ ] TODOs (Look into)
  - [ ] Eventing in general: `cancellation`, `subscription`, ...
  - [ ] `ExpectedResponse` (@wiresio)
- [x] `uriVariables` (https://github.com/eclipse/thingweb.node-wot/commit/df9ecdd7aa972e7be7a9b9386b7270f8177b

[2019-01-09 12:20] sebastiankb commented on #56
I can take care of it

[2019-01-11 07:13] #49 closed

[2019-01-11 07:14] danielpeintner commented on #56
Great. Please check also outcome of https://github.com/w3c/wot-thing-description/issues/236#issuecomment-449293523

[2019-01-18 09:42] sebastiankb commented on #56
I can take over 'uriVariables'.
@danielpeintner  Is there already a decision about the way how should be this implemented in the TD API?

[2019-01-18 12:36] danielpeintner commented on #56
No decision yet (see https://github.com/w3c/wot-scripting-api/issues/149#issuecomment-452640908)

[2019-01-18 12:51] sebastiankb commented on #56
@danielpeintner do you have a web meeting on Monday? Would be cool to have a decision there. Please let me know.

[2019-01-21 08:59] danielpeintner commented on #56
Yes, we do have a scripting meeting on Monday but I don't expect a definite answer given that there was no feedback yet...

[2019-01-22 07:13] danielpeintner commented on #56
w.r.t. uriVariables I like the latest Proposal 3 by @zolkis (see https://github.com/w3c/wot-scripting-api/issues/149#issuecomment-456122569).

I think for now it is best to implement this approach given that it seems the way JS libraries are *generally* build...

[2019-01-24 13:08] sebastiankb opened #63 "bug: securityDefinitions is missing"
`securityDefinitions` is mandatory (https://w3c.github.io/wot-thing-description/#thing), however, a Thing Producer does not generate a TD with this term at top level.

[2019-01-25 09:38] danielpeintner commented on #63
https://github.com/eclipse/thingweb.node-wot/commit/5f198e95d77f6b07e5d668c6e96f20b964e382f8 should resolve the issue with the default security definitions

[2019-01-25 09:38] #63 closed

[2019-01-29 18:30] sebastiankb opened #68 "Usage of 'uriVariables' do not generate the URI pattern in href"

[2019-01-31 14:31] danielpeintner commented on #68
fixed in https://github.com/eclipse/thingweb.node-wot/commit/df9ecdd7aa972e7be7a9b9386b7270f8177b7327

Please check and provide feedback.

[2019-02-21 16:16] blankm opened #71 "CoAP binding (Client) blocks in case of no answer from server"
When using the CoAP binding in clients and the server does not send any answer to a request, no timeout is triggered. The promise is never fulfilled or rejected, means using "await" results in an endless waitstate.

[2019-02-22 15:29] blankm commented on #71
Wireshark logs show that this seems to be an issue of the CoAP stack used, no retries are sent in case a request is left unanswered nor any timeout is emitted.

[2019-02-25 17:32] blankm commented on #71
It's definitely a bug in the coap stack, see
https://github.com/mcollina/node-coap/issues/202

[2019-03-16 16:34] hasbel opened #73 "WoT.fetch(): contentType check always returns false"
In the current `wot-impl.ts` implementation, when a `fetch()` operation is performed, the `contentType` of the response is checked to make sure it is either `"application/td+json"` or `"application/ld+json"`.

[code]

However this check always returns false when using a http client right now.
this is because the http client uses the function checkResponse() to generate the content object, and this

[2019-03-18 14:38] wiresio opened #74 "node-wot metrics"
It might be of use to find out about node-wot performance to check where there are possible bottlenecks if node-wot is part of a complete end-to-end setup. For that I'd like to have a module carrying out such measurements, like _counters of samples sent in the last 5 minutes_, _rate_, _throughput_, _total 5min-bytes_, _overall total bytes_ , etc.

[2019-03-22 10:05] yagizyalcintas opened #76 "In API.md writeable is still in use"
In `Add a Property definition to the Thing` examples, the `writable` is still in use. Only readOnly and writeOnly should be used.

[2019-03-22 10:26] yagizyalcintas opened #77 "Thing level forms does not include op"
Thing level forms is used for reading/writing all properties but the TD generated by node-wot doesn't include the readAllProperties value for op in forms.
https://github.com/eclipse/thingweb.node-wot/commit/cd99e8f33f77f067afd644e62b8c57e8c68ee2af doesn't add this feature.

[2019-03-26 14:00] hasbel opened #78 "CORS pre-flight requests are rejected"
When trying to access a node-wot Thing (server mode) from a browser application hosted on a different domain, a Cross-Origin Resource Sharing (CORS) pre-flight request is needed [in certain cases](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS).

This is an HTTP OPTIONS request, and currently it always returns with a 405 Error, making the Thing inaccessible from a browser when it sends aut

[2019-03-27 15:33] yagizyalcintas opened #80 "http client assumes http:methodName and does not look at @context"
All the new examples of the TD standard uses:
[code]
First problem is that the default assumption should be for `htv:methodName` and not `http:methodName` (or both). However, the recommended way would be to find the term that links to http context from `@context`. So even if someone uses:
[code]
node-wot should be able to use the correct HTTP method.

http-client.ts looks for this at line 339.

[2019-03-29 17:01] sebastiankb commented on #80
the prefix name should actually be independent. The actual namespace behind the prefix (= http://www.w3.org/2011/http#) is important. We need a generic processing of this.

[2019-03-29 17:02] #78 closed

[2019-03-29 17:03] #73 closed

[2019-04-01 06:51] danielpeintner commented on #76
@yagizyalcintas thanks for pointing us to this issue. It should be fixes now (see https://github.com/eclipse/thingweb.node-wot/commit/e5c1c0ed4f515f694cb19ee397363faa0769a508)

[2019-04-01 06:56] danielpeintner commented on #77
FYI: the scripting API works on the *next* API which introduces this capability and node-wot will implement this...

[2019-05-06 12:16] hasbel opened #83 "CLI does not correctly read config files"
Loading a configuration from the command line in the CLI does not work as documented.

In the help, the function is documented as:
[code]

Doing this does not work.

[2019-05-06 12:26] hasbel opened #84 "wot-typescript-definitions should be in dependencies"
Currently, the `wot-typescript-definitions` dependency is listed as a `devDependency` in the `core`module even though many of its type definitions are re-exported. (for example in `wot-impl.d.ts`)

When trying to use `@node-wot/core` as a dependency in a typescript project, an error occurs due to missing type definitions.

As we export some of the types it defines, `wot-typescript-definitions` sho

[2019-05-07 08:55] danielpeintner commented on #84
Mhh, correct. I think `wot-typescript-definitions` is a *core* dependency.

Hence, I assume this needs to be fixed for other packages (e.g., binding-coap etc) also.

I will provide a fix.

[2019-05-07 09:03] danielpeintner commented on #84
Related question: in `package.json` of binding-fujitsu there is the following case

[code]
`@node-wot/core` refers to `@node-wot/td-tools` as default dependency. Hence this is broken also, I believe.

According to my understanding `devDependencies` should be used only if the dependency
* is used for building the code (TypeScript dependencies) or
* if it is necessary for tests only

In any other ca

[2019-05-07 15:54] hasbel commented on #84
There is no need to add the typescript definitions to the `dependencies` of the bindings. They have `core` as a dependency and `core` should provide the type definitions for them.

Your understanding of `devDependencies` is correct, but types are a bit special in the sense that they may only be needed during development, but may also be exported as well in some cases.

In general, if a type defini

[2019-05-08 15:34] danielpeintner commented on #84
I will look into that more closely but I think in this case we can even safely remove "@node-wot/td-tools" from "devDependencies" without the need of adding it to "dependencies".

i.e. `@node-wot/core` depends on `@node-wot/td-tools`

Doing so in all `package.json` would clean-up the dependencies...

[2019-05-08 15:42] #15 closed

[2019-05-09 06:44] danielpeintner opened #86 "Clients seems to want open port 8080 also"
The client part of node-wot seems to try opening server ports.

e.g.,

CMD Shell1 // start server
`node packages\cli\dist\cli.js examples\scripts\counter.js`

CMD Shell2 // start client
`node packages\cli\dist\cli.js examples\scripts\counter-client.js`

Client fails with

[2019-05-09 09:11] wiresio commented on #44
Since version 0.6.1 there is a browser bundle of node-wot implementing core functionality, TD parsing, and http client binding. This provides the functionality of using the WoT Scripting API within a web page.

[2019-05-09 09:11] #44 closed

[2019-05-09 10:23] wiresio commented on #18
Resolved by updating Readme

[2019-05-09 10:23] #18 closed

[2019-05-10 06:57] danielpeintner commented on #86
There is also the CLI option `--clientonly`.

I will update the readme to reflect this.

[2019-05-10 07:00] #86 closed

[2019-05-11 18:19] h0ru5 opened #87 "`writeProperty` and `writeMultipleProperties`"
in the `wot-typescript-definitions` there are shortcut-methods from the `thing` to write its properties.

[2019-05-11 18:21] h0ru5 commented on #87
[code]

[2019-05-11 18:32] h0ru5 commented on #87
Forgot the options, I will send a PR, but need to sync my fork...

[code]

[2019-05-11 19:11] h0ru5 commented on #87
Hmm... seems the `-definitions` from npm are not the `master` of w3c/wot-scripting-api
https://github.com/w3c/wot-scripting-api/blob/master/typescript/index.d.ts

But these:
https://github.com/danielpeintner/wot-scripting-api/blob/next-api-2019/typescript/index.d.ts

this is where I had the methods from

[2019-05-11 21:46] h0ru5 commented on #87
found it on branch next

[2019-05-11 21:46] #87 closed

[2019-05-13 11:52] danielpeintner opened #88 "ToDo's for W3C Workshop / F2F in Munich"
Sticky placeholder to keep track of items we need to work on for upcoming [W3C workshop](https://www.w3.org/WoT/ws-2019/cfp.html) and F2F in Munich, June 2019.

- [ ] Update node-wot with *latest* Scripting API definitions (see https://w3c.github.io/wot-scripting-api/)
  - [ ] FYI: Work takes place in dedicated [`next-api-2019`](https://github.com/eclipse/thingweb.node-wot/tree/next-api-2019) bran

[2019-05-13 11:53] danielpeintner commented on #56
open issues were taken over to https://github.com/eclipse/thingweb.node-wot/issues/88

[2019-05-13 11:53] #56 closed

[2019-05-15 12:59] danielpeintner opened #95 "Fix vulnerabilities"
`npm install` shows vulnerabilities

found 45 vulnerabilities (17 moderate, 28 high)
  run `npm audit fix` to fix them, or `npm audit` for details

ToDo fix them

[2019-05-16 06:55] danielpeintner commented on #95
Question: Does anyone know *why* `npm install` shows vulnerabilities when run in this github repo and does _NOT_ show them if I ran the same command in a forked repository?

[2019-05-16 07:07] danielpeintner commented on #95
see PR https://github.com/eclipse/thingweb.node-wot/pull/96

[2019-05-16 07:07] #95 closed

[2019-05-16 13:04] danielpeintner commented on #84
I pushed a commit (see https://github.com/eclipse/thingweb.node-wot/commit/20ce754f429b0296dec499bc5d3dd166e0a86b9a) that cleans-up some dependencies and fixes the problem from @hasbel

Unfortunately *implicit* dependencies need to be put as an additional dependency if the types are used. I did not find another good solution for it..

@hasbel @h0ru5
Shall we do some more changes or leave it like t

[2019-05-17 08:53] danielpeintner commented on #80
The TD (per default) has now `htv` bind to `http://www.w3.org/2011/http#`.

Hence I think
1. `htv:methodName` can be used without an additional `@context` definition
2. An additional `@context` definition such as `"abc": "http://www.w3.org/2011/http#"` should be still possible/allowed and needs to be processed properly by node-wot

[2019-05-20 08:00] 6d77 opened #97 "URI variables do not work when base is used"
When using a base URL in a TD, URI parameter substitution does not work any longer.

During TD parsing, the url module is used to perform URL resolution. During this process, the curly braces `{}` are already replaced by their %-escapes. So the URI variable substitution is no longer able to detect the placeholders and to insert the proper value.

Without base URL the curly braces are passed untouc

[2019-05-20 09:19] danielpeintner commented on #97
I wonder *what* is better
* revert the `%7B` and `%7D` back to `{` and `}`
* remove uriVariables before passing it to the url module

@6d77 any opinion, proposal? see PR https://github.com/eclipse/thingweb.node-wot/pull/98

[2019-05-20 10:19] 6d77 commented on #97
Third option: implement own URL resolver or try to find one which does not %-encode the braces.
I would not recommend option 2, as this might also lead to errors. Consider a base URL like

[code]

After removing the variable two consecutive `//` will remain which are likely to be replaced by a single slash, so that you can no longer re-insert the template variable. This is just one complication, m

[2019-05-20 12:37] danielpeintner commented on #97
Third option makes sense.

I updated PR https://github.com/eclipse/thingweb.node-wot/pull/98 by using [url-toolkit](https://www.npmjs.com/package/url-toolkit) library.

@6d77 please approve if you think the fix is ok.

[2019-05-20 14:17] danielpeintner commented on #97
fixed https://github.com/eclipse/thingweb.node-wot/pull/98

[2019-05-20 14:17] #97 closed

[2019-05-20 14:18] danielpeintner commented on #76
No further feedback -> seems ok

[2019-05-20 14:19] danielpeintner commented on #77
https://github.com/eclipse/thingweb.node-wot/commit/f013e33119aadc1c35554e99bd88e83ca05712f7 introduces op on thing level

[2019-05-20 14:19] #77 closed

[2019-05-20 14:20] #76 closed

[2019-05-20 14:20] #68 closed

[2019-05-20 14:23] danielpeintner commented on #46
resolved by now

[2019-05-20 14:23] #46 closed

[2019-05-20 14:25] danielpeintner commented on #40
implemented -> resolved

[2019-05-20 14:25] #40 closed

[2019-05-20 14:28] danielpeintner commented on #83
@hasbel do you have time to look into that issue?

[2019-05-20 15:14] hasbel commented on #83
@danielpeintner I looked into this when I created the issue and I think I have a fix. I'll create a PR as soon as I get some time.

[2019-05-21 06:23] danielpeintner commented on #71
@blankm do you want to propose a PR/Fix in mcollina/node-coap as suggested in the issue?

[2019-05-21 06:41] sebastiankb commented on #88
Maybe this here (from TD spec): 'Another possibility to set the default language is through a language negotiation mechanism, such as the Accept-Language header field of HTTP. In cases where the default language has been negotiated, an @language member MUST be present to indicate the result of the negotiation and the corresponding default language of the returned content. '

[2019-05-21 06:49] blankm commented on #71
I did that months ago, they seem not to be very interested in my PR. They ask for a way to test for this problem. I gave some input and but there was no reaction after that.

[2019-05-22 07:22] #83 closed

[2019-05-22 07:25] danielpeintner commented on #34
@6d77 is this issue still relevant or resolved by now?

[2019-05-22 07:28] danielpeintner commented on #26
@fcapello @mkovatsc I believe this issue has been solved by now. correct?

[2019-05-22 07:31] danielpeintner commented on #43
No further feedback/comment.

[2019-05-22 07:31] #43 closed

[2019-05-22 07:33] danielpeintner commented on #51
@egekorkan any update?

[2019-05-22 08:34] 6d77 commented on #34
is already solved

[2019-05-22 08:34] #34 closed

[2019-05-22 09:02] egekorkan commented on #51
Nothing from my side...

[2019-05-23 14:29] danielpeintner opened #100 "Full `@language` support in `@context`"
`@language` support has different "layers":

1. One Map contained in an `@context` Array SHOULD contain a name-value pair that defines the default language for the Thing Description, where the name is the Term `@language` and the value is a well-formed language tag as defined by [BCP47] (e.g., en, de-AT, gsw-CH, zh-Hans, zh-Hant-HK, sl-nedis).
Basically, we can put by default `@language:en` in the

[2019-05-26 11:45] egekorkan commented on #88
@danielpeintner regarding:

It seems that the current version doesn't add `htv:methodName` in forms at all. Before it was at least adding `http:methodName` ?

[2019-05-27 08:16] danielpeintner commented on #88
@egekorkan Please have a look at the recent commits. Does this resolve the issue?

However, `htv:methodName` is somewhat limited. Let's assume one uses op field with `[readproperty, writeproperty]` one cannot set a *single* htv:methodName.

Hence I only set
* `GET` for htv:methodName in case of readproperty only
* `PUT` for htv:methodName in case of writeproperty only
* `POST` for htv:methodName i

[2019-05-27 09:23] egekorkan commented on #88
@danielpeintner the last commit has fixed the issue, thanks! The new issue you wrote also points out to something interesting :)

[2019-05-27 11:47] danielpeintner opened #101 "Split/expand forms with multiple (conflicting) op attributes"
see https://github.com/w3c/wot-thing-description/issues/712#issuecomment-496149253

[2019-05-27 13:37] yagizyalcintas opened #102 "coap URI created by wot-servient uses pr and ac"
Default wot-servient uses
`http://<ip>/servient/properties/<property_name> ` and
`http://<ip>/servient/actions/<action_name> `  for http
but for coap it uses:
`coap://<ip>/servient/pr/<property_name>` and
`coap://<ip>/servient/ac/<action_name>`

The way servient creates the uri s should not differ for different protocols.

[2019-05-29 15:44] danielpeintner commented on #102
The current behavior is technically not wrong but I agree that it would be better to _harmonize_ CoAP URIs and HTTP URIs.

@mkovatsc, others:  were there any good reasons for the current behavior?

If there is no strong counter argument I would do that change...

[2019-05-30 14:01] egekorkan opened #104 "wot-servient.conf is "misleading" for mqtt"
There is no documentation when used `wot-servient -h` on how to use it for mqtt. If someone builds node-wot and does the initial tests with `counter.js` it will not work out of the box since the configuration uses username, password and client id. None of these are necessary to set up a connection.
I would suggest to remove username, password and client id from the default configuration but docume

[2019-05-30 14:22] egekorkan opened #105 "Reading all properties doesn't return application/json in the header"
This results in the response not being displayed as JSON. It is valid JSON though.

[2019-05-31 09:42] danielpeintner commented on #105
@egekorkan please take a look at https://github.com/eclipse/thingweb.node-wot/commit/8917ee5a0aff3c9b06e20129d4235362d6023925.

It should resolve the issue.

[2019-05-31 10:25] egekorkan commented on #105
seems to be fixed

[2019-05-31 10:25] #105 closed

[2019-05-31 11:49] danielpeintner commented on #104
@egekorkan can we close this issue?
(fixed in your commit https://github.com/eclipse/thingweb.node-wot/commit/e9dde20590bbcf353dfca528f0005969aceeb8fb ?)

[2019-05-31 12:36] egekorkan commented on #104
fixed by https://github.com/eclipse/thingweb.node-wot/commit/e9dde20590bbcf353dfca528f0005969aceeb8fb

[2019-05-31 12:36] #104 closed

[2019-06-01 15:39] egekorkan opened #108 "Incorrect URI construction with base uri"
I have uploaded the code for the following issue in the following gist: https://gist.github.com/egekorkan/f4de93b4317eb028d23afd997abce35f

I have a TD with a base URI. One of the actions called "set_state" has a relative URI.
Once this action is invoked, node-wot sends the request to the wrong URI.

In the console log, I see:

but the request should be sent to:
`http://Philips-hue.local/api/R6D7C

[2019-06-02 15:51] egekorkan commented on #108
This is not a bug but actually how relative URIs are resolved. Closing

[2019-06-02 15:51] #108 closed

[2019-06-06 15:03] danielpeintner opened #109 "Byte Order Mark assertion"
add this to node-wot for the Byte Order Mark assertion:

[code]

..it is about the .replace(...) which removes a potential BOM
https://stackoverflow.com/questions/24356713/node-js-readfile-error-with-utf8-encoded-file-on-windows

see https://github.com/w3c/wot-thing-description/issues/721#issuecomment-499531695

[2019-06-06 16:50] mkovatsc opened #110 "Language Negotiation"
node-wot provides a Web server that hands out the TDs of the Things hosted by the node-wot Servient. The code is in the http server binding, in the handler for GET requests.

At the level for serving TDs, we need to add support for the `Accept-Language` header field. It must be checked, and then we need code that transforms multi-lang TDs into a single-lang TD with `@language` set accordingly.

[2019-06-12 12:08] danielpeintner commented on #109
resolved by https://github.com/eclipse/thingweb.node-wot/commit/c2278c7fabd80dd0eb3c54d072020814781513e6

[2019-06-12 12:08] #109 closed

[2019-06-12 15:03] danielpeintner opened #111 "@language tag gets added twice"
when creating a thing with a `@language` tag another default one is added

[code]

results in

[code]

[2019-06-12 16:24] danielpeintner commented on #110
The idea is to replace `"title"`/`"description"` with the matching language field in `"titles"`/`"descriptions".`

This works fine for `"description"` but I do believe this might cause issues with `"title"` given that `"title"` is used for URI building (e.g., `"http://192.168.178.24:8080/counter/properties/count"`);

Any thoughts/opinions?

[2019-06-12 18:20] mkovatsc commented on #110
Well, actually I remember writing some code that resolves name conflicts within the Servient when there are multiple Things with the same name/title. In that sense, there has not been any strict coupling to the URI -- which should never be expected by anyone anyway.

I don't see a problem, as the mapping to a free URI path is done upon exposing a Thing, a unique event within its life cycle. The ma

[2019-06-13 08:26] danielpeintner commented on #110
OK.

Language Negotiation has been implemented in  https://github.com/eclipse/thingweb.node-wot/commit/e037e64f7b1f2a2847d5a97cb9a525fc96e91c14.

As discussed, we may want to add a a config option (wot-servient.conf.json) to switch off language negotiation given that it might surprise people when using a browser (e.g., fetching a TD from a browser might return the requested TD in the configured br

[2019-06-13 08:30] danielpeintner opened #115 "root URL returns "undefined" resource"
a GET on the root or node-wot is meant to return a list of available resources.

I noticed that it returns a list with `undefined`

see for example `["http://192.168.178.24:8080/undefined","http://192.168.178.24:8080/counter","http://192.168.56.1:8080/undefined","http://192.168.56.1:8080/counter"]`

I think this is due to the change of `name` to `title`.
There seems to be still a remaining pointer

[2019-06-13 09:28] danielpeintner commented on #115
A *real* fix is missing why the list of resources still contains `null`

[2019-06-13 10:00] #111 closed

[2019-06-14 07:38] danielpeintner commented on #100
Support was added by https://github.com/eclipse/thingweb.node-wot/commit/e037e64f7b1f2a2847d5a97cb9a525fc96e91c14 (see https://github.com/eclipse/thingweb.node-wot/issues/110)

[2019-06-14 07:38] #100 closed

[2019-06-14 07:43] danielpeintner commented on #84
No response and I assume issue is fixed by now.

Feel free to re-open the issue if this is not the case.

[2019-06-14 07:43] #84 closed

[2019-06-14 08:42] #102 closed

[2019-06-14 16:22] erkann-sen opened #116 "WoT title with spaces in between creates problem with http link"
If the title of thing is "TheMachine" everything works correct and link created is
http://localhost:8080/TheMachine but if you put a space in between ("The Machine"), created link is http://localhost:8080/The%20Machine and it can be seen in the logs too. but when this link or related links is opened via a browser is returns 404 not found, and writing it like  http://localhost:8080/The Machine has

[2019-06-14 16:29] erkann-sen opened #117 "Problem creating 2 wot servers (nice to have)"
when creating two servers after each other, 2nd one gives problem saying port is used,
I know it can be done by changing default port 8080 to sth else and creating 2nd one or creating it at the same time with 2 files in argument
But it will be nice to have having an argument like "--httpport 8081" or in small version "-hp 8081" to assign port when creating the server
example command: wotservient s

[2019-06-17 09:51] mkovatsc commented on #110
Was also interop tested with Hitachi. Closing.

[2019-06-17 09:51] #110 closed

[2019-06-19 11:08] 6d77 opened #118 "[binding-http] Improve proxy support"
The current proxy support in `binding-http` is rudimentary and does not support some often used scenarios, e.g. `https` requests over a `http` proxy as often used in corporate scenarios.

In this case, the client first has to send an unencrypted `CONNECT` request to the proxy and the use the established connection to setup the TLS encryption and make the `https` request to the target host.

Such u

[2019-06-25 15:55] anismek opened #121 "Troubles Installing on Windows"
After a successful _npm install_ I got the following error trace when trying _npm run build_.
Could you please help me ?

`0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'run',
1 verbose cli   'build' ]
2 info using npm@6.9.0
3 info using node@v10.16.0
4 verb

[2019-06-25 18:32] wiresio commented on #121
Did you install the Windows build tools?

`npm install -g --production windows-build-tools`

[2019-06-26 09:13] anismek commented on #121
Mea culpa ! I did run that command indeed but unfortunately not with administrator privileges part: so it did not succeed and I missed that.
Now things seem to work as expected.

Thanks a lot.

[2019-06-26 17:36] #121 closed

[2019-07-24 07:42] danielpeintner opened #123 "Outdated examples"
In the `examples` folder we seem to have some outdated examples that refer to *old* node-wot versions.

Do we plan to update them, or asked differently do we actually need them?
(e.g., https://github.com/eclipse/thingweb.node-wot/blob/master/examples/servients/coap-servient/package.json links to version `"0.4.0"`)

IF we need (or want) them we might need to spend some time to update them.

Any opi

[2019-07-28 21:53] egekorkan opened #124 "writemultipleproperties and writeallproperties are generated even if no property is writeable"
If I have an exposer that has multiple properties but all are readOnly, in the forms array in the root level, the op still has `writeallproperties` and `writemultipleproperties`. The counter example already shows this issue

[2019-07-28 21:57] egekorkan opened #125 "Writing for all properties do not work"
In the counter example, if I change the script such that the properties are not readOnly, I still cannot write using `writeallproperties`. So doing a PUT or POST request to `counter/all/properties` returns method not allowed. Is this the intended way of doing it?

[2019-07-29 09:45] danielpeintner commented on #125
I don't think writeAll methods and other recent updates are part of the master branch.

Instead there is a `next-api-2019` branch that is still WIP that has support for these features and is  also backed with some test-cases.
see https://github.com/eclipse/thingweb.node-wot/blob/next-api-2019/packages/core/test/ClientTest.ts#L331-L353

[2019-07-29 09:47] danielpeintner commented on #124
@egekorkan can you create a a test-case that shows the issue?

[2019-07-29 16:28] egekorkan commented on #124
Sure! Just for precision, the test would be at `thingweb.node-wot/packages/core/test/ServerTest.ts` and I would create a Thing with two readOnly properties. In the exposedThing, I would then check to make sure that the root forms don't have writeallproperties or writemultipleproperties?

Just for now, you can see this happening with counter.js example.

[2019-07-30 15:01] alexbrdn commented on #21
It seems to me that `subscribe()` did [get implemented](https://github.com/eclipse/thingweb.node-wot/blob/master/packages/core/src/consumed-thing.ts#L243) in the meantime, but it fails to work with coaps (I'm using good old Trådfri lamps).

Here's what I was able to figure out: [`ContentSerdes.contentToValue()`](https://github.com/eclipse/thingweb.node-wot/blob/master/packages/core/src/content-ser

[2019-08-01 13:56] sebastiankb commented on #21
quick question: which node-wot version are you using?

[2019-08-01 15:20] alexbrdn commented on #21
* 7ff8cdd (HEAD, tag: v0.6.2) chore: update version tag for 0.6.2 node-wot release

[2019-09-05 13:58] egekorkan opened #126 "[question] MQTT properties are only observable by behavior"
When we generate a servient via `wot-servient` command and by allowing only MQTT in the configuration, the TD generated has the following snippet:
[code]
It seems wrong since I should be able to read this property due to `readOnly:true` but `readproperty` is not present in the `op` values.
Also as a side note, what if we actually want to say that this property is `observeOnly`?

[2019-09-06 08:54] danielpeintner commented on #126
Do you mean that
`"op": ["observeproperty", "unobserveproperty"]`

should be
`"op": ["readproperty", "observeproperty", "unobserveproperty"]`

?. That would be *my* expectation.

This seems to be a question for the TD specification, right?

[2019-09-06 09:23] egekorkan commented on #126
"op": ["observeproperty", "unobserveproperty"]

"op": ["readproperty", "observeproperty", "unobserveproperty"]

Yes, sorry for the confusion.

[2019-09-06 09:40] MuthuramanCT opened #127 "readAllProperties in client is not available"
Correct me if its already available.

- readAllProperties is possible by http request but we don't have specific function to readAllProperties option in the client. Like read() and invoke().

[2019-09-06 13:38] danielpeintner commented on #127
This is partly correct.

The code in the master branch does not contain `readAllProperties()` given that it belongs to an *older* style of API.

However, we are currently working on the updated API (see https://w3c.github.io/wot-scripting-api/) which contains `readAllProperties()`. The work is done in a "next-api-2019" branch (see https://github.com/eclipse/thingweb.node-wot/blob/next-api-2019/pac

[2019-09-06 13:48] MuthuramanCT commented on #127
@danielpeintner Thanks for your update.

[2019-09-06 13:48] #127 closed

[2019-10-15 08:43] sebastiankb opened #128 "Multiplexing with WebSocket"
This problem is a placeholder that takes care of multiplexing with WebSockets.

[2019-10-23 13:24] danielpeintner opened #131 "Update Hands-on Tutorial according new API"
Once the  [next-api-2019 ](https://github.com/eclipse/thingweb.node-wot/tree/next-api-2019) branch is merged into master we need to update the [hands-on tutorial](http://www.thingweb.io/hands-on.html).

* no `addProperty()`,` addAction()` calls anymore
* replace `WoT.fetch()` with `WoTHelpers.fetch()`
* `thing.properties.count.read()` --> `thing.readProperty("count")`
* more to be updated?

[2019-10-24 07:54] egekorkan commented on #128
A Data Schema based forwarding would be problematic when the Data Schemas are the same for multiple events. It is sadly quite common that people do not describe the payload detailed enough and simply say `"type":"string"` for all of them...

[2019-10-24 08:04] 6d77 commented on #128
We should look on some real-world examples. @sebastiankb , @wiresio could you provide something?

[2019-10-24 08:24] egekorkan commented on #128
Not the only reference but one is the Mozilla WebThing Websocket API: https://iot.mozilla.org/wot/#web-thing-websocket-api

[2019-10-30 13:45] danielpeintner commented on #117
Question: Wouldn't we need a *similar* argument for CoAP and such then?

[2019-10-30 13:47] danielpeintner commented on #88
workshop is over by now
https://www.w3.org/WoT/ws-2019/cfp.html

[2019-10-30 13:49] danielpeintner commented on #26
no reply -> close

[2019-10-30 13:49] #26 closed

[2019-10-30 14:56] danielpeintner commented on #125
@egekorkan  the `next-api-2019` branch has been merged into `master` and [writeMultipleProperties(...)](https://github.com/eclipse/thingweb.node-wot/blob/master/packages/core/src/consumed-thing.ts#L246-L263) should work as expected now.

Please reopen if you encounter any issues

[2019-10-30 14:56] #125 closed

[2019-10-30 15:02] danielpeintner commented on #115
resolved by https://github.com/eclipse/thingweb.node-wot/commit/d7d61076552770f16a474a62378c4d39992c7199

cli servient was still using "name" instead of "title"

[2019-10-30 16:40] relu91 opened #133 "Missing dependency in the latest release"
Trying to install the latest version of CLI module results in the following error:
[code]
It seems that `@node-wot/binding-mqtt` version has not been bumped or updated.

[2019-10-30 17:57] danielpeintner commented on #133
Sorry, MQTT has not been properly published on NPM.

Please try again. It should be available now, see https://www.npmjs.com/package/@node-wot/binding-mqtt

[2019-10-30 20:29] relu91 commented on #133
Perfect! thank you, problem solved 👍

[2019-10-30 20:29] #133 closed

[2019-11-04 09:59] adriankast opened #136 "[binding-coap] node-aead-crypto package not being installed for node 10+ leads to problems"
# Setup
* node 10.16.3
* npm 6.12.1
* Windows 10 (but also found on macOS and Linux)
* Vue project with electron-builder addon
* @node-wot/binding-coap 0.6.2 (also found with 0.6.3-SNAPSHOT.2)

# Doing
* `npm install`
* `npm run electron:build` (calls vue-dev tool script that launches the electron-builder in production mode)

OR

* `npm install`
* `npm run electron:serve` (same as above, but in de

[2019-11-04 11:02] adriankast opened #137 "[binding-coap] Name conflict "interface" in coap@0.21.0 causes problem"
# Setup
* node 10.16.3
* npm 6.12.1
* Windows 10 (but also found on macOS and Linux)
* Vue project with electron-builder addon
* @node-wot/binding-coap 0.6.2 (also found with 0.6.3-SNAPSHOT.2)

# Doing
* npm install
* npm run electron:build (calls vue-dev tool script that launches the electron-builder in production mode)

# Problem
The build fails with the error message:

# Notes
The Problem appea

[2019-11-05 10:00] #137 closed

[2019-11-05 10:01] danielpeintner commented on #137
I updated the coap dependency to the latest version `0.23.1` (see https://github.com/eclipse/thingweb.node-wot/commit/ca50a2df47c5032467ceefe426e05f0185440f2b).

Please reopen it it still not resolves the issue.

Note: If you depend on the API version 0.6.x we need to apply this fix also to the [v0.6.x](https://github.com/eclipse/thingweb.node-wot/tree/v0.6.x) branch.

[2019-11-05 10:22] danielpeintner commented on #136
There have been issues in the past around `node-aead-crypto` (see https://github.com/eclipse/thingweb.node-wot#trouble-shooting).

We do not depend on `node-aead-crypto` directly (at least I cannot find it in *our* package.json's). It is pulled through `node-coap-client` -> `node-dtls-client` -> `node-aead-crypto`.

Hence, I am not sure what is the best solution.
Any opinion/proposal?

There is a

[2019-11-05 11:49] adriankast commented on #136
I don't think the latest version of `node-coap-client` will help, because it still depends on `node-dtls-client` in Version 0.5.6 (which is the latest). I guess the problem is caused by the way `node-dtls-client` "includes" the optional dependency and can be only solved there. So I would suggest waiting (or contributing to node-dtls-client) until it can be fixed by updating, in order to make the i

[2019-11-05 11:59] AndreMaz commented on #136
Sorry to intrude, updating to latest version of `node-coap-client` should solve the issue.
[From Changelog](https://github.com/AlCalzone/node-coap-client#101-2018-11-04):

(AlCalzone) Rework the installation procedure. `node-aead-crypto` is now optional.

___

Anyway, @danielpeintner it would be awesome if you and WoT Working Group could get in contact with Nodejs devs and ask them to implement DT

[2019-11-05 12:20] adriankast commented on #136
Thanks for the hint, but I think the changelog refers to the fact, that they changed the `node-dtls-client` dependency from `^0.5.4` to `^0.5.6`. Still we could of course give it a try.

[2019-11-05 12:52] danielpeintner commented on #136
I updated `node-coap-client` dependency, see https://github.com/eclipse/thingweb.node-wot/commit/ff40db589f46431b95a7ac901f80d2b4658ede98

Let's give it a try.

Anyone can open an issue on their side/repo or work on a PR. Feel free to go ahead!

[2019-11-05 13:24] adriankast commented on #137
Just checked with `binding-coap` Version `0.7.0-SNAPSHOT.2` at least on my setup the Issue is solved ✔️

[2019-11-05 13:27] adriankast commented on #136
With `binding-coap` Version `0.7.0-SNAPSHOT.2` that uses `node-coap-client@1.0.2` the Issue still exists

[2019-11-05 14:03] AndreMaz commented on #136
Well, at least we tried :slightly_smiling_face:

Been there, done that... but didn't get any positive response. I though that maybe WoT WG's authority could move things forward.... Anyway, it was just an idea.

[2019-11-05 15:09] danielpeintner commented on #136
I don't think there is anything *we* can do right now.
I guess the best way to move forwards is to get a PR prepared for the desired updates...

[2019-11-06 15:06] egekorkan opened #139 "[binding-mqtt] MqttBrokerServer crashes when there is no payload"
Disclaimer: Currently testing in 0.6.3 version but this didn't seem to change in the 0.7.0

In [the line 144 of the MqttBrokerServer.ts](https://github.com/eclipse/thingweb.node-wot/blob/a00cc12e3cf31bdb36affd770111c2b788dc8bcc/packages/binding-mqtt/src/mqtt-broker-server.ts#L144) there is a direct `JSON.parse` code that automatically tries to parse the payload while assuming that payload exists i

[2019-11-06 18:19] egekorkan commented on #126
One way to implement this would be to pass the retain option with the publish option as can be seen [here](https://www.npmjs.com/package/mqtt#publish)

[2019-11-07 10:39] danielpeintner commented on #139
@wiresio may I ask you to look into the issue and propose a fix?

[2019-11-07 16:47] egekorkan opened #140 "[question] How to return 400 Bad Request status code or similar"
For an Exposed Thing implementation, what are different errors we can return from an action invoke, property write etc. that is supported in node-wot?
At the moment, I have the following for an Action Handler:
[code]
where ajv is a JSON Schema validator that validates the input payload to the input DataSchema. This code returns a 500 error in the case of HTTP Binding which means that there was som

[2019-11-08 08:16] danielpeintner commented on #140
As you mentioned, besides the generic `Error` constructor there are other more specific error types: `EvalError`, `TypeError`, `URIError`, ...

Having said that, I think in all cases the errors expect string messages and  I do not see a good way to report an error code like `400`.

I am not sure if it makes sense but what we could do is to create a dedicated `WoTError` class extending `Error` with

[2019-11-08 12:14] egekorkan commented on #140
I would totally agree with the last point. The script should be able to pass a generic Error code that would be then translated in the binding to the protocol-specific error code.

[2019-11-11 11:16] egekorkan opened #141 "[binding-mqtt] MQTT binding forces adding properties as events"
I have an Exposed Thing with both MQTT and HTTP servers, i.e.:
[code]
For the WoT.produce, I add a TD with no Events but with a property interaction called `panPosition`, i.e.:
[code]
Upon running this script, I get the following errors:
[code]
This means that it is expecting an event for the property I have added. I have added no events.
If I remove the addition of the mqttServer, the problem is

[2019-11-11 13:17] danielpeintner commented on #141
The problem is this code part (see https://github.com/eclipse/thingweb.node-wot/blob/master/packages/binding-mqtt/src/mqtt-broker-server.ts#L105-L131)

we walk over properties and try to `subscribeEvent()`.
I think it should be `observeProperty()`.

Let me look into it more closely and I will provide a fix

[2019-11-11 13:40] danielpeintner commented on #141
Please test and close if it resolves the issue

[2019-11-11 18:35] egekorkan commented on #141
seems to be fixed :) Could you push to npm as a snapshot

[2019-11-11 18:39] egekorkan opened #142 "[binding-http] Observable properties result in error"
I have the counter.js example and run it with `wot-servient` command. This results in the count property being observable and having `observeproperty` operation for an HTTP form. However, when the longpoll request is done, the counter servient throws the following error but keeps working, i.e. does not crash the servient:
[code]

As can be seen from the error codes, if done in a browser, we get an

[2019-11-11 19:00] egekorkan opened #143 "Cannot use TD.x in Typescript files"
I have the following Typescript file:
[code]
When I run tsc to build the .js files, I get the following error:
[code]
I get the same error for all the actions, events, properties that I use in the same way.
When I look in the wot-typescript-definitions, ThingDescription is defined as the following:
`export declare type ThingDescription = object | { [key: string]: any; };`

Is this the source of th

[2019-11-12 12:31] danielpeintner commented on #143
`this.td.actions` does not exist anymore with the latest scripting API.

What you need to do is to call  [`getThingDescription()`](https://www.w3.org/TR/2019/WD-wot-scripting-api-20191028/#the-getthingdescription-method) and get the information and/or metadata from there...

[2019-11-12 13:00] danielpeintner commented on #141
0.7.0-SNAPSHOT.3 has been published

[2019-11-12 13:00] #141 closed

[2019-11-12 13:00] egekorkan commented on #143
I have tried this as well since the td is actually obtained from getThingDescription() but during build time, it says that ThingDescription does not have actions. In runtime this is not an issue, it works and gets the actions element.

[2019-11-12 13:09] danielpeintner commented on #143
Can you please share the full sample so that we can reproduce the issue.

[2019-11-12 18:06] egekorkan commented on #126
Also an additional issue about this, the TD generated says observable:false but the forms with MQTT have an op value with `observeproperty`

[2019-11-13 14:47] egekorkan commented on #124
The issue is in the http-binding in [this line](https://github.com/eclipse/thingweb.node-wot/blob/master/packages/binding-http/src/http-server.ts#L193) where these op values are always added

[2019-11-13 14:52] egekorkan opened #144 "[question] How to get the TD with MQTT Subscribe"
For HTTP and CoAP, the TD is always found at `http://myIP:port/myDevice`. Where is this for the MQTT? I can think of the servient publishing its TD upon successful connection to the broker with retain set to true. A python example with the paho library from Eclipse would be:
[code]

[2019-11-13 17:32] egekorkan opened #145 "[binding-http] readXproperties still use the old API"
After doing a GET request to a form with `readallproperties` the following error shows:
[code]
In the GitHub, it can be see [here](https://github.com/eclipse/thingweb.node-wot/blob/master/packages/binding-http/src/http-server.ts#L457).

To reproduce, run the counter.js example and do a GET request to `localhost:8080/counter/all/properties`

[2019-11-13 18:12] egekorkan opened #146 "[exposed-thing] Not handling unknown names in emitEvent"
In the scripting API spec, in the Exposed Thing interface, one has the the [emitEvent method](https://w3c.github.io/wot-scripting-api/#the-emitevent-method) where it says:

I find this pattern good but sadly it is not implemented in node-wot. I can try to emit an event with an unknown name and all the information I get in the console is `HttpServer on port 8080 got internal error on invoke '/count

[2019-11-13 18:32] egekorkan opened #147 "External Testing"
I think that for node-wot developers, it would be good to have an external test environment as well. I have created a Postman collection to test the counter example. I will improve it in the future but first I would like to have your opinions.

https://gist.github.com/egekorkan/a301f148311df69efb4c13e9e09a3989

You can simply import it and run as a Postman collection. The last one is listening to

[2019-11-14 15:54] #145 closed

[2019-11-14 15:55] danielpeintner commented on #145
The commit should fix the error. If not please reopen.

[2019-11-14 16:06] danielpeintner commented on #146
commit should resolve the issue. Please reopen if this is not the case....

[2019-11-14 16:14] danielpeintner commented on #143
According to my understanding this is a TypeScript issue.
`object` without any additional information should be able to be "any" object.

Changing `object` to `any` might be a temporary solution for now but I don't think it is correct given that it could be a `number` in the end which is surely wrong.

I wonder whether we can change the existing definition `type ThingDescription = object | { [key:

[2019-11-14 16:24] egekorkan commented on #145
It is indeed fixed, thank you!

[2019-11-14 16:39] egekorkan commented on #146
I am not authorized to reopen the issue but the fix has only silenced the issue by checking if the name exists and emitting, however, it should throw the error NotFoundError if the name does not exist. Now the event is never emitted and the script is not aware of the mistake at all.

[2019-11-15 07:51] danielpeintner commented on #146
I believe there is no such error named `NotFoundError`..
Good enough to throw the following?

`throw new Error("NotFoundError for event '" + name + "'");`

[2019-11-18 08:20] egekorkan commented on #146
I think for the developer it is fine to throw this error but in order to respect the Scripting API spec, a new error type should be created since if one uses node-wot as a dependency they will not necessarily understand this string of error description and will need to parse and filter the string.

[2019-11-18 08:28] egekorkan commented on #143
I think this is the way to go but I cannot contribute to what it should be :(

[2019-11-18 10:30] danielpeintner commented on #146
for the time being let's throw a default error (see https://github.com/eclipse/thingweb.node-wot/commit/06e3236a7d8b151959b97ced86441048b6bc53f5)

[2019-11-18 17:29] egekorkan opened #148 "[question] Forcing writeable for readOnly properties"
The implementation of [setPropertyWriteHandler](https://w3c.github.io/wot-scripting-api/#the-setpropertywritehandler-method) in node-wot makes a property writeable even if it was specified to be readOnly in the TD given in the argument of `produce()` method. This can be seen [here](https://github.com/eclipse/thingweb.node-wot/blob/master/packages/core/src/exposed-thing.ts#L136).

I don't see why t

[2019-11-19 07:44] danielpeintner commented on #148
I believe the [reference](https://github.com/eclipse/thingweb.node-wot/blob/master/packages/core/src/exposed-thing.ts#L136) you are pointing to comes from a time where a TD was programmatically created (e.g., `addProperty("name", handler, ..)`).

I think with the current API I tend to agree with @egekorkan that readOnly attributes should not allow for setting write handlers.

Note: There is a *rel

[2019-11-19 21:04] relu91 opened #149 "[question] Should a property value serilized inside exposed thing descriptor?"
Hi, we are doing some tests with thingweb.node-wot. In particular, we are creating a simple thing that virtualizes an accelerometer. After exposing the thing and retrieve his description from the HTTP endpoint, we receive this JSON (simplified):
[code]
My question is: should the current value of the Acceleration be exposed inside the TD?
Or am I missing something and the JSON retrieved by the serv

[2019-11-19 22:28] egekorkan commented on #149
The value, which is usually dynamically changing, shouldn't be inside the TD. If it is a constant value, I think the best way is to use the `const` keyword, i.e.:
[code]
Normally, the acceleration should be read upon executing a readproperty operation.

[2019-11-20 09:03] egekorkan opened #150 "[binding-coap] observeproperty is not generated for CoAP forms"
When creating an exposed thing, in the generated forms for an observable property, no CoAP form with an op value of `observeproperty` is created. I think this is not a bug but something unexpected.
To reproduce:
- Run `wot-servient counter.js`
- Check its TD via `http://localhost:8080/counter/`
- The count property has the following coap forms:
[code]
- In the forms, there is no `observeproperty`

[2019-11-20 12:12] relu91 commented on #149
That's exactly my point. So why does the value being serialized there? My lab co-workers pinpointed this [line](https://github.com/eclipse/thingweb.node-wot/blob/06e3236a7d8b151959b97ced86441048b6bc53f5/packages/core/src/exposed-thing.ts#L169). Is it a bug or a feature? 😄

[2019-11-20 12:46] egekorkan commented on #149
I am not 100% sure but @danielpeintner can confirm? This part of the code is actually not visible to the Consumer of the Exposed Thing, thus has nothing to do with the TD. This basically reads the property value but internally.
I think another way to look at it is with writeproperty() on an Exposed Thing. Even if the property is not writeable, you can still call this method as seen [in the counter

[2019-11-20 17:01] relu91 commented on #149
Thanks @egekorkan.  Just to clarify a little bit the problem. I'm reading the property through an HTTP GET not from the js APIs. That line of code posted above should be called each time a `readproperty` operation is called.

[2019-11-20 17:13] egekorkan commented on #149
For an HTTP based readproperty request (defaults to HTTP GET), you would be interacting with a ConsumedThing and [this line in consumed-thing.ts](https://github.com/eclipse/thingweb.node-wot/blob/master/packages/core/src/consumed-thing.ts#L159) would be executed. This has then calls the readResource method from the specific client (HTTP, CoAP etc.) at [this line](https://github.com/eclipse/thingwe

[2019-11-20 18:03] egekorkan commented on #149
I have understood the issue which is actually a rather important bug. If one sets their own read handler for a property, with the call of the read handler, the TD is changed by node-wot and the `value` key is added with the value gotten from the custom property handler.

To reproduce:
- Take the counter.js example
- Add the following lines to the very beginning:
[code]
- Add the following line aft

[2019-11-20 18:03] egekorkan commented on #149
Thank you for finding it @relu91 !

[2019-11-21 09:03] danielpeintner commented on #149
Mhh, I wonder whether we really need to store the value internally like the comments says

If so the alternative would be to *clean* the TD once `getThingDescription()` is called. Essentially removing all `value` in properties.

Other "clean-up" is done already.. see https://github.com/eclipse/thingweb.node-wot/blob/master/packages/td-tools/src/td-parser.ts#L189-L200

I would tend to change `seria

[2019-11-21 12:53] egekorkan commented on #149
I would not try to clean anything with getThingDescription since the programmer is allowed to put extra keys into the TD.

[2019-11-21 13:03] danielpeintner commented on #148
@egekorkan  does https://github.com/eclipse/thingweb.node-wot/commit/faf786ea8d28712036495e4f50671bb309e3f57c resolve the issue for you?

[2019-11-21 13:23] danielpeintner commented on #150
We could report `observeproperty` in a CoAP form just like we do for HTTP. However, the actual observe code is not implemented yet (see https://github.com/eclipse/thingweb.node-wot/blob/master/packages/binding-coap/src/coap-server.ts#L238-L243).

Hence I do not think it makes sense, do you?

[2019-11-21 13:35] danielpeintner commented on #149
With https://github.com/eclipse/thingweb.node-wot/commit/b4ead67ef8b7e7c1aacb3c43bd0976bc89c74851 we do not store the value internally anymore. If we encounter any issue we can bring back the *old* behavior....

[2019-11-21 13:35] #149 closed

[2019-11-21 13:47] danielpeintner commented on #142
@egekorkan can you confirm that https://github.com/eclipse/thingweb.node-wot/commit/7f361c47032f65d04b485d914ce9d5ed32de0514 resolves the issue...

[2019-11-21 14:01] danielpeintner commented on #124
https://github.com/eclipse/thingweb.node-wot/commit/7d0858614ec0833439caa4349c4a2013a80911a4 should resolve the issue. Can you confirm?

[2019-11-21 15:13] adriankast commented on #143
For me using only `{ [key: string]: any}` works, which is in my opinion preferable (because that should match exactly what we are trying to constrain, at least I don't understand the advantage of `| object`, maybe somebody can share thoughts regarding this?). But also `object & { [key: string]: any}` would work (as [intersection type](https://www.typescriptlang.org/docs/handbook/advanced-types.htm

[2019-11-21 15:25] danielpeintner commented on #143
@egekorkan  can you please check whether `object & { [key: string]: any}` works for you?
This seems like the best approach to me.

@adriankast  the rational to use also `object` is to match with the Scripting API that types it as `object` (see
https://www.w3.org/TR/wot-scripting-api/#dom-thingdescription)

[2019-11-21 17:26] egekorkan commented on #143
Sadly I still get the same error :( However `{ [key: string]: any}` works

[2019-11-21 17:37] egekorkan commented on #149
I confirm that this is resolved now

[2019-11-21 17:38] egekorkan commented on #142
I can confirm that this is resolved now

[2019-11-21 17:38] #142 closed

[2019-11-21 17:42] egekorkan commented on #124
I can confirm that this issue is solved, now read/write for multiple properties are added according the the readOnly/writeOnly property keys

[2019-11-21 17:42] #124 closed

[2019-11-21 17:44] egekorkan commented on #150
Ah ok, I would vote to leave this issue here until it is implemented? Binding templates have improved regarding this issue, see a preview [here](https://pr-preview.s3.amazonaws.com/w3c/wot-binding-templates/pull/80.html)

[2019-11-22 07:51] egekorkan commented on #148
I confirm that this is fixed but the other way around, i.e. setting a read handler for a writeOnly property still works. I think the same should be done for this case as well.

[2019-11-22 13:25] danielpeintner commented on #148
Good catch, fixed with https://github.com/eclipse/thingweb.node-wot/commit/3b24497f53f256fb15a95c109d178ca00489cf61

[2019-11-22 13:30] egekorkan commented on #148
I can confirm that this is implemented now as well, closing :)

[2019-11-22 13:30] #148 closed

[2019-11-22 14:05] danielpeintner commented on #143
with https://github.com/eclipse/thingweb.node-wot/commit/d6f5ee13e41675df9d769fe2cb519b0456796eee the definition is changed to `ThingDescription = { [key: string]: any; };`

[2019-11-25 11:26] adriankast opened #151 "[binding-http] Unsubscribing from an Event does not work"
# Setup
- thingweb.node-wot v0.7.0-SNAPSHOT.3
- consumed Thing with http form
# Doing
- subscribe to an Event with the `subscribeEvent(name, listener, options?)` function of a consumed Thing
- trying to unsubscribe from the mentioned Event with the `unsubscribeEvent(name)` of the same Thing
# Expected Behavior
The given `listener` should not be called anymore and no further http `GET` requests bei

[2019-11-25 12:31] egekorkan commented on #151
This issue is also present in CoAP. In order to stop observing, the client should send a GET request with Observe option set to 1. At the moment it sends a DELETE request, like in HTTP, which is semantically incorrect since we don't want to delete the resource itself but just the observation.

[2019-11-26 10:30] relu91 commented on #149
Hi, sorry for catching up a little bit late! Thank you @egekorkan for pinpointing the problem! and also thank you @danielpeintner for fixing the issue. I'd just add my two cents about the chosen solution.

In general, I prefer to not store values of properties automatically inside the thing state. It feels like an early optimization problem. Users could decide to create caching mechanisms for prop

[2019-11-26 16:22] egekorkan commented on #146
This is implemented, closing

[2019-11-26 16:22] #146 closed

[2019-11-26 19:31] egekorkan commented on #143
This fix works :) Closing

[2019-11-26 19:31] #143 closed

[2019-11-26 20:27] egekorkan opened #152 "[proposal][binding-mqtt] Adding writeable property feature"
For a node-wot exposed thing:
In the current state, there is no way to write to a property through MQTT since only `observeproperty` and `unobserveproperty` are added for the forms no matter what, as mentioned in #126. In addition to `readproperty`, we can add the writeproperty functionality where a separate form is created with an `href` like `mqtt://myBroker/myThing/properties/myProperty/writepr

[2019-11-27 07:54] danielpeintner commented on #149
fair arguments https://github.com/eclipse/thingweb.node-wot/commit/15c344eb5b239fc8f537c275f5a9b644157322ed

[2019-11-27 07:59] danielpeintner commented on #152
@wiresio any opinion/proposal?

[2019-11-27 12:39] wiresio commented on #152
I do not like the fact that we introduce the "deeper" level _writeproperty_. Isn't it sufficient to evaluate the "op" key to find out about the actual operation?

[2019-11-27 12:54] egekorkan commented on #152
In this case it is not possible since if I have two subscribers to the property of the exposed thing (publisher) and when one of them also publishes to the topic, then the other subscribers will think that the exposed thing has published a new property value. Maybe the exposed thing was offline but the broker will still notify the subscribers. In the end, all we are doing with a TD is describing t

[2019-11-27 13:04] wiresio commented on #139
I just tested having no issues with examples/script/mqtt-publish.js and examples/scripts/mqtt-subscribe.js where I changed in mqtt-publish.js:
`thing.emitEvent("counterEvent", counter);`
to
`thing.emitEvent("counterEvent", /*counter*/);`
Am I missing something?

[2019-11-27 13:08] wiresio commented on #152
I wasn't aware of this. So, then your proposal makes sense.

[2019-11-27 13:08] egekorkan commented on #139
The issue happens not when the Exposed Thing publishes something but when it receives something in a subscribed topic.

[2019-11-27 13:09] egekorkan commented on #139
And also the issue may not present itself when the Consumer is also implemented in node-wot since it might always send a JSON payload

[2019-12-10 14:37] danielpeintner commented on #152
@egekorkan could you add  an `else if (segments.length === 5 ) {` after line https://github.com/eclipse/thingweb.node-wot/blob/master/packages/binding-mqtt/src/mqtt-broker-server.ts#L150 and handle it accordingly

[2019-12-10 14:52] danielpeintner commented on #144
@egekorkan let's do the same as for http and coap, report td based thing `title`

[2019-12-11 04:05] mjkoster commented on #126
The binding information (op values) should be the ultimate source of truth for what operations are supported on a particular URL. The meta0properties readOnly and writeOnly are more of hints.

I guess we include observe as a type of read, but I agree readOnly could be confusing.

Looks like another reason to structure the hints as readable, observable,  and writable instead of read-only and write-

[2019-12-15 22:18] hyperloris opened #155 "[question] Is there any plan for a stopScript action?"
Hi, I recently had the need to stop a running script. Digging inside the code I realized that such functionality is not yet implemented, so I was wondering if there is any plan to add this in the near future and if you have already thought how to do that.

I think that the stop of a script should:
- Destroy all the exposed things "linked" with it
- Detach all the handlers
- Free memory resources

[2019-12-16 12:04] wiresio commented on #155
It would be great to have such functionality in node-wot. The best point to start is probably `packages/cli/src/cli-default-servient.ts`. Please feel free to come up with a PR.

[2019-12-16 16:29] relu91 commented on #155
Hi all, after my latest PR (see #129), @hyperloris and I talked a lot about how to improve WoT script life cycle and management. We would be glad to start working on this new feature, but first, I would like to discuss with the community about a couple of things.

Currently, scripts are not actually "runned" but they are "evalueted". This means that the caller have no mean to control the computati

[2019-12-18 17:33] zolkis commented on #155
FWIW the `start()` and `stop()` were part of the `ExposedThing` API object not long ago.
If there is a need for that, we could re-discuss, please file an issue at WoT Scripting API.

[2019-12-19 16:46] relu91 commented on #155
I've just checked the WoT Scripting API document and it seems that the [destroy method](https://www.w3.org/TR/wot-scripting-api/#dom-exposedthing-destroy) fits pretty well with point 1. However, it seems that is not yet implemented in this implementation (check [here](https://github.com/eclipse/thingweb.node-wot/blob/00bbb0df8ba377767ca61e1175c6b5b4a7dee613/packages/core/src/exposed-thing.ts#L109)

[2019-12-19 17:17] zolkis commented on #155
We will likely discuss scripts lifecycle in Scripting calls starting in January. Welcome to attend them on Mondays 1pm CET.

Indeed, there are 2 ways to approach this, starting from a Thing and a script.

1. Right now a TD specifies one Thing, so a Thing is a first class entity. In addition to a TD, developers can augment Thing functionality by using a script that uses the Thing interactions (`Con

[2020-01-07 15:21] danielpeintner opened #157 "Create README.md for each "package""
We should have at least a minimal description in each package (core, td-tools, binding-http, binding-coap, ...)

The readme may contain
* some basic information
* server and client scripts (if applicable)
* ...

The readme would also show up nicely on NPM (currently it lacks information, e.g., [td-tools](https://www.npmjs.com/package/@node-wot/td-tools))

I will try to come up with a template and

[2020-01-17 15:54] egekorkan opened #160 "[Enhancement] Using Links vocabulary to describe the TD location"
It is possible to describe in which resource of the servient the TD is served by using the Links vocabulary, i.e. in the Thing level, the TD can have:
[code]
I think it can be a good addition since there is the implicit assumption that a node-wot TD is stored at `IP/ThingName` but this is not communicated anywhere. When the TD is communicated to others (in Plugfests for example), it would be good

[2020-01-17 17:32] egekorkan opened #161 "[testing] mqtt test is not working/old"
The mqtt testing file is using skip (so not testing anything?) but at the same time, using the old API. I have tried the following but I haven't managed to call done() the way Mocha wants. Some more information available [here](https://blog.revathskumar.com/2016/11/javascript-testing-promises.html)
[code]

[2020-01-17 17:41] egekorkan commented on #144
PR available at #162

[2020-01-20 08:10] danielpeintner commented on #160
Mhh, not sure if I understand the issue.

In node-wot one can pass these information to the `ExposedThing`.

Hence, if one ass for the TD the `links` array should be also reported.
Is there anything not working properly here?

[2020-01-20 08:31] egekorkan commented on #160
It could be passed down if the developer also knows that the TD is at that address and the IP address(es). I meant as a default feature, each TD resulting from the `expose()` method, automatically comes with the links array, similar to default TDs having always the forms array on the top level.

[2020-01-23 08:23] danielpeintner commented on #139
fixed with https://github.com/eclipse/thingweb.node-wot/pull/159

[2020-01-23 08:23] #139 closed

[2020-01-23 16:26] relu91 commented on #155
Hi @zolkis, sorry for the huge delay and thank you very much for your invitation to the calls. Unfortunately, I don't think I will be able to attend them any time soon 😞.

I think that WebAssembly has a lot of potential inside the WoT environment. Therefore, I agree with you that this solution should be at least evaluated and taken into consideration for scripts.

We may do some experiments with i

[2020-02-03 14:05] danielpeintner opened #165 "setPropertyWriteHandler allowed even though property is readOnly"
The outcome of https://github.com/w3c/wot-scripting-api/issues/199 seems to allude that setting a write handler for a `readOnly` property is legal and should be allowed. The consequence seems to be that a write handler needs tp follow the policy though (e.g., not writing the property) which can not be checked by node-wot.

Note: follow the outcome of https://github.com/w3c/wot-scripting-api/issues

[2020-02-10 13:16] danielpeintner commented on #157
https://github.com/eclipse/thingweb.node-wot/pull/166

[2020-02-10 13:16] #157 closed

[2020-02-10 16:09] danielpeintner opened #167 "Updating dependencies"
// running `npm outdated` in each folder shows outdated dependencies.. //

Issues with _latest_ dependencies

### rxjs
Updating rxjs dependency from "5.4.3" to "6.x.x" (e.g., 6.5.4) fails due to breaking changes.

https://stackoverflow.com/questions/50176029/rxjs-subscription-has-no-exported-member-subscription

Look into whether "rxjs-compat" might be a solution OR try the migration path.

### mo

[2020-02-13 04:26] Citrullin opened #168 "Timeline for CBOR implementation?"
Hey, I just wanted to know, if there is a timeline for the CBOR implementation and if so, what is it?
Thanks :)
Have a nice day/week.

[2020-02-13 07:54] danielpeintner commented on #168
Hi @Citrullin,

there is no decided milestone or date we can share when CBOR (and likely other content types) are available.
Having said that, you are encouraged and welcome to support us.

A good entry point is `ContentSerdes` (see https://github.com/eclipse/thingweb.node-wot/tree/master/packages/core/src/codecs).

Thanks!

[2020-02-13 09:22] Citrullin commented on #168
Thanks, I will take a look, when I implement something for WoT. :)

[2020-02-13 09:22] #168 closed

[2020-02-18 13:08] danielpeintner opened #169 "Fix OPCUA tests"
OPCUA tests cause issues

see https://travis-ci.org/eclipse/thingweb.node-wot/builds/651908408?utm_source=github_status&utm_medium=notification

[code]

So far all tests are skipped (see https://github.com/eclipse/thingweb.node-wot/blob/master/packages/binding-opcua/test/opcua-client-test.ts#L30)

@lukesmolo can you look into it

[2020-02-18 15:51] danielpeintner opened #170 "package "integration-tests" needed?"
The package [`integration-tests`](https://github.com/eclipse/thingweb.node-wot/tree/master/packages/integration-tests) contains a single test file w.r.t. basic TD parsing.

Do we need this package?
TD parsing should be part of `td-tools`...

Any comments/opinions?

[2020-02-18 16:28] egekorkan commented on #170
+1 ,i.e. could be removed

[2020-02-19 08:25] wiresio commented on #170
+1 Please remove.

[2020-02-19 08:26] lukesmolo commented on #169
ok, it perfectly works on my machine, with node v13.6.0. By the logs it seems it is not able to instantiate the opcua server simulator. Let me check with different nodejs versions, I'll let you know

[2020-02-19 09:10] danielpeintner opened #171 "Improve set of examples and example scripts (and keep them up-to-date)"
At the moment examples and example JS scripts are spread over the various bindings and `/examples` folders. Moreover, some examples tend to get out-of-sync due to API changes.

I think it would be beneficial to have a *single* place where people getting started can look at to find suitable examples.

Another downside of JavaScript examples is that there is no *check* that a given example is still

[2020-02-19 10:38] egekorkan commented on #171
+1 from my side. The [exposed thing template](https://github.com/eclipse/thingweb.node-wot/tree/master/examples/templates/exposed-thing) would be a good starting point for converting them into Typescript.

[2020-02-19 15:13] lukesmolo commented on #169
Ok, solved. For some reason, in the third configuration of travis the OPC UA server requires a lot of time to start, so I needed to increment the timeout.

[2020-02-20 07:38] danielpeintner commented on #169
solved by https://github.com/eclipse/thingweb.node-wot/pull/172.

Thanks!

[2020-02-20 07:38] #169 closed

[2020-02-20 08:30] egekorkan commented on #144
Available on master branch, closing

[2020-02-20 08:30] #144 closed

[2020-02-20 08:31] egekorkan commented on #152
Available on master branch, closing

[2020-02-20 08:31] #152 closed

[2020-02-20 08:31] egekorkan commented on #126
Available on master branch, closing

[2020-02-20 08:31] #126 closed

[2020-02-20 08:39] jenlincode opened #173 "setActionHandler() should support GET and PUT actions"
Hello all!

For our setActionHandler() use cases, though we can use POST, technically it's syntax-wise incorrect for some of the methods we intend to use the setActionHandler on (some of them are GET requests to get sensor values or PUT requests to update values).

May I get support for this to be updated?

[2020-02-20 08:57] egekorkan commented on #173
Some remarks:

- setActionHandler is after the protocol handling so the code that would need to support this has to happen in the produce() stage.

- When you say "some of them are GET requests to get sensor values or PUT requests to update values", why don't you use a property to read the sensor values (HTTP GET) and have an action called updateSensorReading that will (probably) start communicati

[2020-02-20 10:07] jenlincode commented on #173
Let me know if my understanding of the property usage is incorrect. I was hesitant to use it since the value would only update when the sensor calls a setHandlerAction() to update it -- but since the data associated with this value is large, I only wanted it to update if the frontend/client is requesting for it.

So essentially, I didn't want the sensor to just broadcast updates unless it was requ

[2020-02-20 10:23] egekorkan commented on #173
Sorry that this was not clear, it was more meant for the person who would implement the update. If there would be way to do this as the user, it needs to happen at produce() stage. You haven't overlooked anything.

Now I understand the issue better. You can do something like the following:
https://github.com/eclipse/thingweb.node-wot/blob/0385fd9b456388348b9107028124de19f6b83231/examples/templates

[2020-02-20 13:12] jenlincode commented on #173
Thank you for explaining that Ege! Also, can you share with me a more detailed example of how to use setPropertyReadHandler()? Admittedly, I find myself wishing there were more code snippets in the WoT API descriptions, as sometimes I find I learn better when the descriptions read a bit less clear for me.

Also, in retrospect, after thinking about it longer, I guess there's really nothing wrong wi

[2020-02-20 15:01] egekorkan commented on #173
You are right, there are explanations (https://www.w3.org/TR/wot-scripting-api/#the-setpropertyreadhandler-method) but no examples most of the time.

The way to use it would be like in the previous comment where you can assign a function that will return a simple return value
[code]
or a promise

[code]

[2020-02-23 09:55] jenlincode opened #174 "TypeError: thing.addAction is not a function"
When I run:

`node packages/cli/dist/cli.js examples/scripts/example-event.js`

I get the error:

[code]
There's likely something obvious that I'm forgetting, as this is one of the default example files that's included with node-wot. Just curious what I may be missing.

[2020-02-23 09:58] jenlincode commented on #174
I get the same type of error when I try to call:

thing.setPropertyReadHandler() on the client side. Let me know if there's a dependency I may be missing?

[2020-02-23 11:01] jenlincode commented on #173
Thank you, Ege!

[2020-02-23 14:15] jenlincode commented on #174
Also when I try to run the client script:

[code]
{"title":"servient","description":"node-wot CLI Servient","properties":{"things":{"type":"object","description":"Get things","observable":false,"readOnly":true,"writeOnly":false}},"actions":{"log":{"description":"Enable logging","input":{"type":"string"},"output":{"type":"string"},"idempotent":false,"safe":false},"shutdown":{"description":"Stop ser

[2020-02-24 07:44] egekorkan commented on #173
@danielpeintner I would prefer to not close the issue since it is not possible to override the default protocol methods for the exposed things. This would however imply a substantial code structure change where the use case is not that wide spread.

[2020-02-24 07:50] egekorkan commented on #174
There are two subproblems here:
- The example-event-client example is old. It is being updated and is tracked at issue https://github.com/eclipse/thingweb.node-wot/issues/171
You would need to use WoTHelpers instead of WoT, remove anything like `addAction`, `addProperty`  etc. If you ever see an example that is outdated, you can refer to [this](https://github.com/eclipse/thingweb.node-wot/tree/mas

[2020-02-24 09:32] danielpeintner commented on #173
@egekorkan  What you are saying is that we should allow overriding the default protocol methods for exposed things?

[2020-02-24 09:47] egekorkan commented on #173
I meant changing the invokeaction from POST to PUT if the user needs it. It could be relatively easy as a build option but maybe not so easy to specify it for different exposed things

[2020-02-24 09:48] egekorkan commented on #173
At least it should be documented, maybe at the [Readme of the HTTP binding](https://github.com/eclipse/thingweb.node-wot/tree/master/packages/binding-http#server-example)?

[2020-02-24 10:10] danielpeintner commented on #173
A easy way I can think of is to work on some *extensions* in form of a `nw` (node-wot) namespace. The node-wot runtime could be configured to listen to such settings.

Let's assume adding an action like this to a thing when producing it...

[code]

The "flag" `"nw:opMethod": "PUT"` indicates to node-wot (`nw` namespace) that the action should be accepting PUT instead of POST for this specific acti

[2020-02-24 10:54] egekorkan commented on #173
I would say that node-wot specific information should not be passed from the scripting level but somehow in a config or before the WoT object is created. Otherwise, as @danielpeintner said, the same script would exhibit different behaviors in different implementations.

I think creating the custom TD would not be that difficult and can be done with some little changes to the code. However, handlin

[2020-02-24 14:47] #170 closed

[2020-02-24 14:59] #165 closed

[2020-02-24 15:29] #116 closed

[2020-02-24 16:25] jenlincode commented on #174
So for example-event.js, addAction should be replaced with setActionHandler()? Just curious, but can the action be dynamically defined in example-event.js without the action being set up in "actions" part?

And I presume for example-event-client.js, replacing WoT with WoTHelpers would make it work?

Thanks for explaining some methods should only be set up on the server side -- I feel like some of

[2020-02-24 16:58] egekorkan commented on #174
Yes :)

You don't need to replace it with something, you can simply remove it. Before, we were adding each interaction with a method but now you just put a TD in the `produce( )` method and it adds all the interactions you have put in the TD.

[2020-02-25 13:20] egekorkan opened #175 "Explaining how to use the CLI"
At the moment, in order to understand how to use the `wot-servient` based CLI, one has to use the `-h` option and read on the terminal, which has limited place for explanations.

There should be explanation in the Readme (or another document like CLI.md) that explains what each option does in a verbose manner.

[2020-02-25 14:14] egekorkan commented on #175
It also doesn't show that you can use the serverKey and certificate which are implemented and "documented" in the typescript definitions

In help:
[code]
in http.d.ts
[code]

[2020-02-25 14:18] egekorkan opened #176 "Explaining how to implement new protocols"
In the main readme there are the following sentences:

However, it would be good to explain via examples how this would be done.

P.S. This showed up in the discussion with @jenlincode on 25.02.2020

[2020-02-25 18:06] egekorkan opened #177 "Unusual behavior when configuring HTTPS from config file"
Summary: We need strict validation of the security-related configuration in the config file passed to wot-servient CLI. The code expects a very strict config file where empty or wrong fields are not filled by defaults or any error reported, even with log level equal to debug (even for info level, there should be error messages).

Long version:
I want to have basic auth on an HTTP Thing that I inst

[2020-02-26 07:25] danielpeintner commented on #175
@egekorkan I started by creating a README.md for CLI.

Feel free to improve. Thanks!

[2020-02-26 07:29] danielpeintner commented on #176
W.r.t. *new* protocols ans *new* mediatypes I would suggest looking at existing bindings and code. Creating its *own* binding is a bit more work than purely running a script and one needs to explore and work on code anyway.

Do you agree?
How can we improve the situation?

[2020-02-26 07:40] danielpeintner commented on #177
Mhh, in general this tends to go into the direction that we *try* to figure out what the users intends to achieve (e.g., providing `serverKey` and forgetting `serverCert`. Shall we ask the user whether he wants to setup TLS?). I think this gets very complicated and tricky.

After starting a servient we could show some *easy consumable* table that shows which options have been set due to the config

[2020-02-26 08:07] egekorkan commented on #177
As you said there could be multiple solutions:
- Asking the user: We can do prompts with the inquirer package. This way, we can also find the id of the things that will be ran and ask credentials per id, if they are not provided. This can be extended in the future to create a config file by asking questions.
- Doing a validation of the config file that does not start the servient if security is ba

[2020-02-26 08:14] egekorkan commented on #176
I do agree that it is an advanced documentation but by showing how it is already done in one binding could already make it more friendly. At the moment, if someone is interested in node-wot but it doesn't have a protocol he/she wants, like AMQP, we are saying _Go look in the source code to figure out how to do it_. I am pretty sure that he/she would say "oh whatever".

The minimum could be somethi

[2020-02-26 15:54] danielpeintner opened #179 "Remove node-wot specifics in scripts"
`thing.title`

should be changed to

`thing.getThingDescription().title `

given this is the Scripting API compliant way.

This is used for example in
* https://github.com/eclipse/thingweb.node-wot/blob/master/packages/binding-http/README.md
* https://github.com/eclipse/thingweb.node-wot/blob/master/packages/binding-coap/README.md
* ???

[2020-02-27 07:34] #179 closed

[2020-02-27 15:35] jenlincode commented on #174
Thanks for all the support, Ege! Closing this issue now.

[2020-02-27 15:35] #174 closed

[2020-02-27 15:49] jenlincode opened #180 "Following the README.md steps to set up `wot-runtime` doesn't seem to work"
Hello! I followed the steps on the README.md at https://github.com/eclipse/thingweb.node-wot/blob/master/README.md and it seems calling `wot-runtime` doesn't work:

[2020-02-27 16:48] danielpeintner commented on #180
Note:
`wot-runtime` and `node packages\cli\dist\cli.js` are interchangeable.

There is following description in the README.md

@jenlincode is this the pitfall?

[2020-02-27 17:06] egekorkan opened #181 "[binding-http] Cannot explicitely configure no security in HTTP"
The http configuration part of the configuration file cannot accept `nosec` for the security scheme, i.e.:
[code]
results in the error message `HttpServer does not allow security without TLS (HTTPS)`
This is happening due to the logic in [this line](https://github.com/eclipse/thingweb.node-wot/blob/a2f1bed088804cdc388d3db73625f06d2efbbbed/packages/binding-http/src/http-server.ts#L79).

I think tha

[2020-02-27 17:26] danielpeintner commented on #174
FYI: we are working on a PR to update all examples.

* https://github.com/eclipse/thingweb.node-wot/blob/216ef64f9cb7f9564bdfd6637bd6bf4c7b53932f/examples/scripts/example-event.js
* https://github.com/eclipse/thingweb.node-wot/blob/216ef64f9cb7f9564bdfd6637bd6bf4c7b53932f/examples/scripts/example-event-client.js

[2020-02-28 07:45] jenlincode commented on #180
So I've typed:

`npm install @node-wot/core`
`npm install @node-wot/binding-http'
`npm install @node-wot/cli --save-dev`

And that didn't work, so I added:

`npm run link`

But then I ran into the issue `package.json` doesn't exist. (This is an empty directory.) So I moved the package.json over from my cloned node-wot directory.

But I ran into another error:

0 info it worked if it ends with ok
1

[2020-02-28 08:22] danielpeintner opened #182 "Install & run netconf/opcua cli examples"
We are about to clean-up the examples and to add appropriate documentation.

Looking at
`examples\servients\netconf-cli` OR
`examples\servients\opcua-cli`

I failed to even install the cli.

For example running
`npm install `
in folder` examples\servients\netconf-cli` fails with the following message.

[code]

What is the correct way of installing and running?
Shall we add documentation?

@lukesmo

[2020-02-28 08:31] danielpeintner commented on #180
node-wot can be run in 2 different ways.
1. as a command-line-interface (cli)
   * via `wot-runtime` or `node packages\cli\dist\cli.js`
2. as a Node.js dependency
   * via `npm install @node-wot/core`, `npm install @node-wot/binding-coap`, ...

If this is not clear I ask you to suggest changes to the readme so that we can improve.

May I also ask you which of the 2 ways you try to run your code. A

[2020-02-28 09:14] lukesmolo commented on #182
It sounds quite strange, I actually used them till the last PR. Let me check.

[2020-02-28 10:28] relu91 commented on #180
Exactly as @danielpeintner is suggesting you are supposed to choose between using node-wot as a CLI command **or** as a library. Mixing the two processes described above might create problems.

if you are targeting production I think you should go with the first option.

Maybe just add a statement right after "How to get the library" saying "choose one of the following modes: " and create a list o

[2020-02-28 12:42] lukesmolo commented on #182
Regarding the instructions, for installing the cli:
`$ npm install`
`$ npm run build`

The `npm install` command actually uses `npm link` in order to link the local packages of _node-wot_ installed globally through `sudo npm run link` as described in the Installation guide in the README.

I do not have your warnings, they could depend on (maybe) the node version. I am currently using the 13.6.0. A

[2020-02-28 13:18] danielpeintner commented on #182
Ahh, I see that might be the problem.

Let me check next week but think it is *safer* NOT to use npm link...

We could publish a snapshot soon and get rid of npm link.
 @lukesmolo What do you think?

[2020-02-28 13:42] jenlincode commented on #180
Just to be more clear, I've never been able to get `wot-runtime` to work, and I was asking what the steps are to get it to run. I understand it's the same as `node packages\cli\dist\cli.js` -- which is the command-line-interface I was able to run.

[2020-02-28 13:43] jenlincode commented on #180
Yes, but as a Node.js dependency, how do you get node-wot to run?

[2020-02-28 14:58] lukesmolo commented on #182
That would be perfect. Please let me know as soon as it has been published, so I can adjust the dependencies properly.

[2020-02-28 17:33] relu91 commented on #180
I've just tried these steps:
[code]
Maybe it is just a naming issue; in the latest public cli package the entry point is called `wot-servient` not `wot-runtime`.

I am not quite sure of what you mean here, but you could check the example folder (which is now under refactoring) and see that WoT and WoTHelpers are injected and available inside the script ([see here](https://github.com/eclipse/thingw

[2020-02-29 03:40] jenlincode commented on #180
Thank you! That was exactly the issue! In the README.md, the step said:

[code]

It should be renamed to:
`wot-servient script1.js ./src/script2.js`

I had run `wot-servient` before, but I was wondering what `wot-runtime` was. Much appreciated for the clarification!

Thank you! 👍

[2020-02-29 03:40] #180 closed

[2020-03-02 07:40] danielpeintner commented on #180
Thanks @jenlincode and @relu91
fixed with https://github.com/eclipse/thingweb.node-wot/commit/c91674ac9123744b66a850b1d3e5fec725681cc7

[2020-03-02 07:45] danielpeintner commented on #123
PR https://github.com/eclipse/thingweb.node-wot/pull/178 should resolve this issue

[2020-03-02 07:49] danielpeintner commented on #48
The code
`req.setOption("Accept", form.mediaType);`
is activated again.

@cdh4u  Can we close the issue?

[2020-03-02 07:50] danielpeintner commented on #3
No more use-cases -> closing

[2020-03-02 07:50] #3 closed

[2020-03-02 07:53] danielpeintner commented on #4
I am not sure about this issue and what it was for.

Please re-open if I am wrong..

[2020-03-02 07:53] #4 closed

[2020-03-02 07:58] danielpeintner commented on #17
I suggest collecting  *frequently asked questions* instead of keeping issues open.

Any opinion
@egekorkan @sebastiankb @wiresio

We could also link the label from README.md
see https://github.com/eclipse/thingweb.node-wot/labels/FAQ

[2020-03-02 08:03] danielpeintner commented on #24
@sebastiankb  is this issue still valid?

I did not find any references from core module to binding modules?
Did I overlook any dependency?

If not I propose closing.

[2020-03-02 08:06] danielpeintner commented on #21
Is this issue still unresolved even after the *new* Scripting API changes/updates?

[2020-03-02 08:08] danielpeintner commented on #17
I noticed we do have a [question](https://github.com/eclipse/thingweb.node-wot/labels/question) label also.

I think we need to decide what to do here

[2020-03-02 09:06] danielpeintner opened #183 "[Question] Do we need wot-servient command/shortcut"
The commands `wot-servient` (with additional link) and `node packages\cli\dist\cli.js` are interchangeable.

In recent issues and discussions having 2 possibilities to achieve the same caused some issues.

I wonder whether we actually need `wot-servient`.

Cons
* Confuses people (stick to *one* possibility)
* requires additional link step (with Windows issues)
* makes README.md a lot more verbose

[2020-03-02 09:09] danielpeintner commented on #183
@relu91 @jenlincode others?

[2020-03-02 09:20] danielpeintner commented on #182
snapshot versions have been pushed on NPM
https://www.npmjs.com/package/@node-wot/binding-netconf
https://www.npmjs.com/package/@node-wot/binding-opcua

[2020-03-02 09:30] relu91 commented on #183
I'd vote for leaving it. Using command aliases is a common way to use packages in node. For example, mocha is always used through its alias. Taking from a user perspective, he should never use `node node_packages/@node-wot/cli/dist/dist/cli.js`.  Just my two cents.

[2020-03-02 09:33] wiresio commented on #183
Would also leave both, although I'm only using cli.js.

[2020-03-02 14:10] lukesmolo commented on #182
Ok, it should be fixed by this [PR](https://github.com/eclipse/thingweb.node-wot/pull/184).

[2020-03-03 08:46] danielpeintner commented on #182
Thanks @lukesmolo. Building works!

I did give it a try and I would like to add a README.md so that everyone knows what he/she can do like the following (any improvements are welcome):

======
## Installing and building the CLI
[code]

## Running script
e.g.,
[code]
======

Everything seems to work first. The counter example creates statement
`counter ready`

However the server stops working right

[2020-03-03 08:52] lukesmolo commented on #182
Yes, it is meant to be only client side. I already wrote some instructions to run the example [here](https://github.com/eclipse/thingweb.node-wot/tree/master/packages/binding-opcua#optional-opc-ua-server-simulator). Maybe we can re-use them. Please let me know if you need something more.

[2020-03-03 09:03] danielpeintner commented on #182
Thanks, I will link the instructions and the additional information...

https://github.com/eclipse/thingweb.node-wot/commit/8c35fd1664d710ab173e18beba9474e1a2be1d60

[2020-03-03 09:03] #182 closed

[2020-03-05 10:36] danielpeintner opened #185 "Fully automate generating examples from TypeScript to JavaScript"
@egekorkan mentioned the following in PR https://github.com/eclipse/thingweb.node-wot/pull/178#issuecomment-595154554

[2020-03-05 15:18] egekorkan commented on #183
I would also vote for leaving the wot-servient.

Similar to @relu91, I would also say that cli.js should never be used directly and be used only through the alias.

The advantage of wot-servient is that it is shorter but also that the path to cli.js is very cryptic and very unfriendly for a beginner. I would remove the cli.js information from the README.md and move it to a section like FAQ so that

[2020-03-05 15:24] egekorkan commented on #17
I would leave it open since it doesn't seem to have an answer if someone were to look at it, coming from an FAQ page.

[2020-03-05 16:40] jenlincode commented on #183
^^ This -- other than the syntax differences between wot-serient and using cli.js, it would be good to get a clear description on the differences so people can make the right choice for their set up needs.

[2020-03-06 08:11] danielpeintner commented on #17
As mentioned, I would like to solve it as follows.

Add a link in the main README.md to https://github.com/eclipse/thingweb.node-wot/labels/faq to make it more prominent/visible.
However, I suggest closing the issue because it is not an issue and we avoid going over checking unresolved issues that will never be closed.

However I am fine either way...

[2020-03-06 08:24] danielpeintner commented on #183
Mhh, I think this is a rather strong statement. I tend to rather not make such statements due to
* at least on Windows it causes issues (at least on my machine. not sure about others?)
* it requires an additional step
* it makes it difficult if one explores with different branches/versions on the same machine

[2020-03-06 10:40] egekorkan commented on #183
I do agree that it is a strong statement :) Regarding its negative effects:
- Windows issues: These should be then fixed and should not be a limitation
- I think the additional step is justified. Making it optional, like it is at the moment, confuses more people.
- Exploring different branches and so on is an advanced requirement that is still possible by using the cli.js. We are not expecting new

[2020-03-07 17:04] egekorkan commented on #17
I see now, all good by me :)

[2020-03-09 08:37] #8 closed

[2020-03-09 08:37] #7 closed

[2020-03-10 08:43] relu91 commented on #183
I agree with @egekorkan. As a user of node-wot (i.e. if I npm install @node-wot/cli) first I don't need additional step, because the wot-servient is already generated, second I wouldn't explore branches or more dev related stuff.

[2020-03-10 16:09] egekorkan commented on #51
There is also a need/usecase for this by @jenlincode

[2020-03-10 16:45] sebastiankb commented on #51
I think the produce() should provide a way to override the default assumptions in node-wot (also in forms). E.g.,

[code]

The contentType should override the application/json.

[2020-03-11 15:02] relu91 commented on #51
If no one is on this issue, I could give a hand and propose an implementation for merging form configurations with the defaults. I am wondering what will happen if the codec for the contentType specified in the form is not defined? Should we raise an error immediately?

[2020-03-11 15:44] egekorkan commented on #51
There is #187 so I would wait the progress there :)

[2020-03-12 08:10] danielpeintner commented on #51
Thanks @relu91,

as @egekorkan mentioned I did started exploring a bit how it could be done.

It seems a bit *hacky* so please comment or make suggestions in the PR https://github.com/eclipse/thingweb.node-wot/pull/187

[2020-03-18 22:51] egekorkan opened #188 "[installation] Reevaluate whether Python 2.7 is necessary for node-gyp"
I think that there is some old requirements about node-gyp in the installation instructions of the main README.md

It says:

However, the node-gyp repository says that Python 3.x is supported. See [here](https://github.com/nodejs/node-gyp#installation)

[2020-03-19 03:27] philiptran opened #190 "How to use environment variables in WoT script?"
Our WoT script needs to access some configuration via environment variables. When using the _process.env_ to get the environment variable, the following error is thrown:

[code]

[2020-03-19 03:53] philiptran opened #191 "How to import utils script from the same folder of WoT script?"
We need to import some utility script from the same folder of WoT script using the `require` function. But the local script file can not be resolved correctly.

## To reproduce

The counter.js is copied to a separate folder and to be run using @node-wot CLI as `As a Node.js dependency` mode.

1. Create config.js file in the same folder of the WoT script with the following content:

[code]

1. Edit

[2020-03-19 03:53] philiptran commented on #191
A workaround is to import the `config.js` as follow.

[code]

[2020-03-19 08:43] danielpeintner commented on #190
Question: How do you use node-wot?
* via the CLI interface (calling `wot-servient` / `node packages\cli\dist\cli.js`) OR
* via NPM package dependency (`npm install @node-wot/core` etc.)

[2020-03-19 10:22] egekorkan commented on #191
For similar issues I had before, this is due to the fact that CLI runs the script but the directory it uses is actually its own. You can run process.cwd() to understand where it is running from.

Another workaround would be specifying the full path but this is a dirty solution.
Could you try to use the scriptDir option? (I am not very sure about it though)
[code]
  AUTORUN is a path string for the

[2020-03-19 11:50] philiptran commented on #190
I use it via NPM package dependency and run the script using `node @node-wot/cli/dist/cli.js counter.js`. The process.env is being used in the `counter.js` script.

[2020-03-19 12:29] danielpeintner commented on #190
Mhh, this reads a bit contradictory to me.

You should either
1. use CLI without *explicit* NPM package dependency (CLI brings it own dependencies with it) and run `node packages\cli\dist\cli.js examples\scripts\counter.js`
 OR
2. Use NPM package dependency and run simply run `node sample-script.js` (e.g., [HTTP](https://github.com/eclipse/thingweb.node-wot/tree/master/packages/binding-http#http-p

[2020-03-19 12:58] relu91 commented on #190
Anyway, I've just checked and it seems that environment variables are not exported to CLI scripts. I am opening an issue. https://github.com/eclipse/thingweb.node-wot/blob/b428faae483b3a8dce937a02ce8255365e8b71b3/packages/core/src/servient.ts#L104-L141

[2020-03-19 13:02] relu91 opened #192 "Export environment variables to WoT scripts"
As mentioned in #190 environment variables are currently not exported to the WoT script context. I guess they might be exported only to privilege scripts since there could be system-specific information there.

[2020-03-19 13:04] philiptran commented on #190
Thanks to today's webex call that we have a better idea on using node-wot as npm dependency. However, we are using the CLI in an independent project without cloning the node-wot code repository. The root cause of this issue is the `process` is not exported to CLI script as @relu91 has rightly pointed out.

Attached is a sample project that demonstrates our usage:

[test-wot.zip](https://github.com

[2020-03-19 13:07] relu91 commented on #190
For the record, I don't know if it is the case to export the entire process object to scripts...  Are you using `process` for something else? 😀

[2020-03-19 13:37] philiptran commented on #190
I need to use `process.env` and `process.cwd()` currently. Can you share the security concerns if the entire process object is exported to WoT scripts? I thought it is no different from initializing the Servient object directly in a nodejs application.

[2020-03-19 13:41] philiptran commented on #191
Yes, it was trying to run `process.cwd()` to figure out the current working directory but the `process` object is not exported to WoT script hence I did the workaround using `path.resolve` as above.

Please see issue #190 for issue with `process` object.

[2020-03-19 15:24] egekorkan opened #193 "Logging level 0 does not suppress logging messages"
I set the log level to 0 or error in the wot-servient.conf.json by
[code]

and I use a consumer implementation. However, I still get log messages such as

[2020-03-19 18:49] relu91 commented on #190
Well. with `process` you can basically do whatever you want. For example, create a new process, kill it, get info about memory, PID etc. They are all considered low-level API and I am not sure that a WoT script should be able to fiddle with that stuff. Surely, not a normal script.

Script sandbox is still under development so I guess there is no consensus on much a script "can do". For now, I thin

[2020-03-20 10:50] egekorkan commented on #190
I also agree with @relu91 . If this is really needed, you should look into using node-wot as a dependency.

[2020-03-20 11:05] philiptran commented on #190
Agree with @relu91. Thanks for the explanation.

[2020-03-20 12:42] danielpeintner commented on #193
@egekorkan while I think having support for setting log level makes perfect sense I was trying to find code dealing with the following option

[code]

The only thing I found was mentioning in https://github.com/eclipse/thingweb.node-wot/blob/master/packages/cli/wot-servient.conf.json.md.

Do I miss anything here? Does anyone know?
There should be something in https://github.com/eclipse/thingweb.no

[2020-03-20 13:22] relu91 commented on #193
I agree that is a very welcomed feature! However, it seems not implemented. As you pointed out the "enable log" action simply does not do anything.

https://github.com/eclipse/thingweb.node-wot/blob/b428faae483b3a8dce937a02ce8255365e8b71b3/packages/cli/src/cli-default-servient.ts#L131-L153

[Stackoverflow](https://stackoverflow.com/questions/1215392/how-to-quickly-and-conveniently-disable-all-cons

[2020-03-23 20:10] fillobotto commented on #181
Moreover I'm not able to use any other security scheme expect for Basic auth.
I'm trying to use Bearer auth but the serialized TD overwrites both `security `and `securityDefinitions ` with [basic auth](https://github.com/eclipse/thingweb.node-wot/blob/f6a814b0231951ded560ba3abb13c818b8a99fff/packages/binding-http/src/http-server.ts#L259)

[2020-03-23 20:51] egekorkan commented on #136
The implementation where we faced this issue is now open source: https://github.com/tum-esi/wade and the problem still persists...

[2020-03-24 08:08] danielpeintner commented on #181
@fillobotto May I ask you to provide a simple test in [http-server-test.ts](https://github.com/eclipse/thingweb.node-wot/blob/master/packages/binding-http/test/http-server-test.ts) so that
1. We know your input
2. We can fix the issue and have a test for it

If you don't feel comfortable enough please provide some pseudo code to show what you do and what your input looks like.

@egekorkan may I as

[2020-03-24 10:03] egekorkan commented on #181
In order to reproduce,, use the following wot-servient.conf.json with the counter.js script:
[code]

[2020-03-24 10:40] egekorkan commented on #181
The following added to http-server.ts causes the test to fail:
[code]
which requires a function to get the security scheme in the http-server.ts

[code]

If this function is not wanted, the expect can be changed to:
[code]
since the fail happens in starting anyways

[2020-03-24 11:46] fillobotto commented on #181
I simply use the following servient.conf.json:

[code]
If I expose a Thing through a servient with the following configuration, the resulting TD outputs:

[code]

[2020-03-24 13:24] egekorkan opened #195 "[feature] Having option to not host the TD"
Currently, the generated TDs by an Exposed Thing are always hosted by the Servient. It is a bit of a security concern if the TD is guaranteed to be on the device. I would say that there should be an option settable somewhere (in the servient level?) that disables the hosting of the TD. This would have to be implemented for all the bindings though.

[2020-03-24 17:39] relu91 commented on #195
It is a nice feature! but I do not completely understand the security concerns you have about hosting the TD on the device. Could you please extend a little bit to that point? Do you imply that the TD could be stored inside a super-secure facility, while the device might have a less constricted security requirements?

[2020-03-24 17:49] relu91 commented on #181
@danielpeintner This week I am trying to implement oAuth2.0 for node-wot as discussed with @sebastiankb. I can look at this. I'd probably need to fix this to test oAuth2.0 anyway... 😄 of course if are not already solved it.

[2020-03-24 21:06] egekorkan commented on #195
From one point of view, TD removes "security by obscurity" which is not a good security choice anyways but somewhat justifiable. It should be possible that the developer of the Thing wants to hide the TD for every user who wants to communicate with the device or maybe provide only a part of the TD to some users.

It could be also seen from a usability perspective where a TD has a lot of interactio

[2020-03-25 08:25] danielpeintner commented on #195
Note: having an option to report *no TD*  for node-wot would not be a big deal I believe.

However, I wonder which consequence it would have on the scripting *IF* the TD is no longer reported by the thing itself. At the moment `ConsumedThing`/`ExposedThing` has the method call [`getThingDescription()`](https://w3c.github.io/wot-scripting-api/#dom-consumedthing-getthingdescription).

At the moment

[2020-03-25 08:28] danielpeintner commented on #181
@relu91 great. I started a PR yesterday that fixed the issue from @egekorkan  but I did not look into the case reported by @fillobotto.
Is it ok for you if we merge the first part of the fix and you look into the rest?

[2020-03-25 08:38] relu91 commented on #181
Sounds perfect! 👍

[2020-03-25 08:57] relu91 commented on #195
Thanks @egekorkan it is much more clear now and I agree with your considerations.

Just to make an example in a real use-case. In our lab, we are using two different TDs for each sensor. One contains only "read" operations and it is designed with a low-security level, while the other is used for sensor configuration and it is protected with higher level of security. Ask @filobotto for more details

[2020-03-25 10:24] egekorkan commented on #195
I also agree with @relu91, all this would be after a successful fetch of the TD and does not have any influence on the Scripting API

[2020-03-26 08:08] danielpeintner commented on #181
I merged https://github.com/eclipse/thingweb.node-wot/pull/196 which fixes the first part of this issue reported by @egekorkan.

@relu91 feel free to go ahead with your planned updates. Thanks!

[2020-04-01 15:27] wiresio opened #197 "Run node-wot in docker container"
@hyperloris - @relu91 pointed me to: https://github.com/hyperloris/dockerfiles/blob/master/node-wot/Dockerfile which looks good to me. Would you mind submitting a PR such that we can add your code? Thanks!

[2020-04-01 17:40] hyperloris commented on #197
No problem, I'll submit a PR as soon as possible.

[2020-04-01 22:52] wiresio commented on #197
Great, thank you!

[2020-04-03 15:52] franckOL opened #199 "Question: How to choose the binding to use on client side when thing description has several ?"
For exemple i get a TD  by http request by want To interact with websocket.  Aldo i m not able To get the TD by websocket channel

[2020-04-03 16:40] egekorkan commented on #199
This is not possible at the moment but there are discussions on it in the Scripting API task force. For now, I would suggest to etiher:
- fetch the TD and remove the  unwanted forms
- do not include other bindings than websockets

Regarding use of WS, it seems that the client side is not implemented at all. All the methods [here](https://github.com/eclipse/thingweb.node-wot/blob/master/packages/bi

[2020-04-04 16:16] erkann-sen opened #200 "Missing `EventSubscribeHandler` and `EventUnsubscribeHandler` implementation"
I have needed to make an action when an event in exposed thing is subscribed. But normal api only allows me to subscribe to an event unsubscribe or emit an event. To make it happen I dive deep in exposed_thing.js and it triggers an action when somebody is subscribed an event.

So my proposal is to have a callback for any developer to have knowledge if somebody subscribed to event. Something like

[2020-04-06 11:46] egekorkan commented on #200
Copied over to the Scripting API: https://github.com/w3c/wot-scripting-api/issues/210

[2020-04-06 15:00] egekorkan commented on #200
Note: This is also valid for observable properties

[2020-04-06 18:15] zolkis commented on #200
Just for clarification, I am raising a question here at the source :).
I see 2 variants / use cases of the above:
1. modify behavior of remote Things (client API)
2. modify behavior of local exposed Thing (server API).

The first use case is usually not handled by generic mechanisms on client side.
IMHO we should not provide a client side hook in Scripting that would modify how events are dispatch

[2020-04-13 11:11] erkann-sen commented on #200
Yes we agree, I guess I was not clear enough in the original issue.
I propose a function which is triggered in the local exposed thing like  `thing.on_subscribed_to_event(eventName, subscribedCount)` which can be useful for a developer to see the subscriber count or if any subscription to any event occurred. Or any logic can be built upon this information like ifttt (if someone subscribed to this

[2020-04-13 12:10] erkann-sen opened #202 "[consumed-thing]observeProperty creates infinite request loop"
I have tried observeEvent and observeProperty, both have similar logic but it creates an issue with property for http-binding.
In events observe command creates a GET request and response returns only if a new Event occures, when event is emitted from consumed thing it also unsubscribes every device, and consumer starts observing event again by sending a GET request.
The same logic happens in prop

[2020-04-14 10:52] relu91 opened #204 "[binding-http] Support multiple security schema"
Currently, the HTTP server supports only one security schema at the time. it would be more flexible if the user can configure multiple different schemas. I am not sure about a use-case, but since a TD could have a list of security definitions, I guess also the server must be able to handle such a scenario.

[2020-04-14 12:06] egekorkan commented on #204
I would guess that a use case could be to provide two authentication mechanisms so that Consumers can choose the one they can use

[2020-04-14 16:11] relu91 commented on #204
@egekorkan  I guess this issue is a nice candidate to have a "good-first-issue" label.

[2020-04-14 16:24] egekorkan commented on #204
Yes I agree, @danielpeintner could you create such a label?

[2020-04-15 09:01] danielpeintner commented on #204
The label existed already.

Do you want to add it to the "useful labels" section in [README.md](https://github.com/eclipse/thingweb.node-wot/blob/master/README.md) also ?

[2020-04-15 09:04] egekorkan commented on #204
Ah I see, I have no means to see the possible labels since I am not an official contributor. It would be nice to see them in Readme I guess :)

[2020-04-15 12:12] danielpeintner commented on #204
done

[2020-04-16 10:05] fatadel opened #205 "[examples/couter.ts] Incorrect uriVariables handling"
In the counter thing example the actions increment and decrement support uriVariables (i.e. step variable in this case). However, it is being handled incorrectly. This is the piece of code:

[code]

The problem is that options['uriVariables'] is not an array, but an object.

[2020-04-16 10:14] egekorkan commented on #205
While you are working on this example, I would suggest to remove this uriVariables or move it to another interaction or example, since I don't think that this should be encouraged, especially for a POST request pattern in the actions where there is already the dedicated input field. They make more sense for property affordances

[2020-04-16 12:22] fatadel opened #206 "uriVariables are not passed into setPropertyReadHandler callback"
Consider the following example:

[code]

[2020-04-16 13:46] fatadel commented on #205
I would ask for advice @sebastiankb to help on deciding how we should proceed.

[2020-04-16 14:43] danielpeintner commented on #205
@fatadel good catch!

https://github.com/eclipse/thingweb.node-wot/commit/191bb6be9bb26fe117d70256e3f7f2aea32499a6 should fix the problem.

[2020-04-16 15:26] sebastiankb commented on #205
@egekorkan

The idea is to have a tutorial that explains all variations what can be done with properties, actions and events. This is kind of missing in node-wot to see the full features that can be implementd. E.g., the counter examples shows only how to use actions with uriVariables. There are no explanations somewhere how to use with input...

[2020-04-16 16:07] fatadel commented on #205
@danielpeintner Works great now, thank you!
Please take a look at issue #206 as well.

[2020-04-16 16:07] #205 closed

[2020-04-17 17:54] fatadel commented on #206
The problem is this function definition (the same for `writeProperty`):
[code]

The `let options = null;` is overriding the actual `options` parameter. I guess, the TODO comment there is not unintentional.
@danielpeintner, Git blames you, please take a look :)

[2020-04-17 17:56] fatadel commented on #206
The functions are inside `packages/core/src/exposed-thing.ts`.

[2020-04-17 18:12] fatadel commented on #206
The problem is this function definition (the same for `writeProperty`):
[code]

The `let options = null;` is overriding the actual `options` parameter. I guess, the TODO comment there is not unintentional.
@danielpeintner, Git blames you, please take a look :)

The functions are inside `packages/core/src/exposed-thing.ts`.

[2020-04-17 18:51] joshco opened #207 "WSL Install Issues"
Hi,
I'm running Windows 10 with Windows Services for Linux (WSL) v1.
I couldn't make the npm run build step work until I upgraded from node 10 to node 12.
I'm working from current master (commit 191bb6be9bb2)

With node 10 (and 11), I got the error below.
I tried directly installing lerna, bootstrap, and node-gyp (for the dependencies).  I also tried moving to a directory in the native WSL filesys

[2020-04-17 20:27] egekorkan commented on #207
@lukesmolo Could you have a look?

[2020-04-20 08:43] fatadel commented on #207
I am also using WSL 1 on Windows 10. But I initially installed the latest LTS version of Node.js, which is v12.16.1 as of now. Everything worked (and works) like a charm.

[2020-04-20 10:12] fatadel commented on #206
@danielpeintner I can fix this myself just making the `options` work the same as they do for actions. Shall I or you already started working on it?

[2020-04-20 10:24] danielpeintner commented on #206
I started to work on it already and will provide a PR soon...

[2020-04-20 10:56] danielpeintner commented on #206
PR https://github.com/eclipse/thingweb.node-wot/pull/208 fixes the issue.

I was trying to find a good way to "test" the behavior but failed. Any idea appreciated!

[2020-04-20 11:48] fatadel commented on #206
Thank you, @danielpeintner!

In my humble opinion, you could also rename the property `redDotImage` to just `dotImage` and add a `fill` (or `color`) uriVariable to it, instead of doing it with `countAsImage` property. But your example also seems legitimate to me.

[2020-04-20 12:04] fatadel commented on #206
Since the initial problem is eliminated now, can I close the issue? @danielpeintner @sebastiankb

[2020-04-20 12:34] egekorkan opened #209 "Updating API.md file"
The API.md file that is in the root directory is not up to date with the latest API. (https://github.com/eclipse/thingweb.node-wot/blob/master/API.md).

It also does not show some features like adding security, uriVariables.

[2020-04-20 14:23] danielpeintner commented on #206
Unfortunately I cannot change the redDotImage to produce any other colored dot given it is a fixed base64 encoding (see https://github.com/eclipse/thingweb.node-wot/blob/1628714a22a3f8d6f7831c91d02e17fae0828dc5/examples/scripts/counter.js#L151).

On the other side the countAsImage is SVG which we can precisely tune as we like...

[2020-04-20 14:24] danielpeintner commented on #206
Yes, sure.

[2020-04-20 14:27] danielpeintner commented on #209
@egekorkan do you plan to take a look and provide a PR or shall I try to look into?

[2020-04-20 15:24] fatadel commented on #206
@danielpeintner No worries, anyway I am working on a new, more exhaustive tutorial right now, which will also, among other things, exploit the uriVariables.

[2020-04-20 15:24] #206 closed

[2020-04-20 16:24] lukesmolo commented on #207
Unfortunately I do not own Windows. But from what I see, it seems a problem related to the version of node. Maybe @joshco you can try as suggested by @fatadel .

[2020-04-20 17:20] egekorkan commented on #209
I might be able to do that. @sebastiankb mentioned that @fatadel might also look into it?

[2020-04-20 20:14] joshco commented on #207
Thanks.  I'm actually OK. I'm using node 13 at the moment. I just figured I'd report it since the docs say it should work with node 10.

[2020-04-21 11:05] fatadel commented on #207
Apparently, we need to change the docs.

[2020-04-21 11:45] relu91 commented on #207
Since LTS is now v12.13.0 I guess we could try to upgrade, what do you think @danielpeintner?

[2020-04-21 12:13] danielpeintner commented on #207
I am fine either way. To be on the *safe* side I still use node v10 locally and it works fine on my side (did not try WSL though).

The [Travis](https://travis-ci.org/eclipse/thingweb.node-wot) builds run on node10 and latest also with success. Having said that I think this might be an issue of Windows Services for Linux (WSL).

Personally I would stick a bit longer to v10.
@sebastiankb @egekorkan

[2020-04-21 12:16] danielpeintner commented on #207
FYI: 10.x is still "Active LTS" (see https://en.wikipedia.org/wiki/Node.js#Releases)

[2020-04-21 12:27] egekorkan commented on #207
I use node 12.x and works without any issues for me on Arch Linux.

[2020-04-22 07:29] GBisi opened #211 "[exposed_thing] adding security term in form with produce/expose APIs"
According with W3C each form can have different set of security definition names. It's possibile with the produce/expose APIs? I think it can be useful.

[2020-04-22 07:44] wiresio commented on #197
Was merged into master via: https://github.com/eclipse/thingweb.node-wot/pull/198

[2020-04-22 07:44] #197 closed

[2020-04-22 09:19] danielpeintner commented on #211
This is correct.

The security settings need to be supported by WoT runtimes like node-wot. Hence I think it is not simply possible to pass a TD with security information to `WoT.produce(TD)` and expect everything will just work.

Having said that, I agree node-wot needs more fine-grained ways to setup security for each interaction. At the moment it is rather *global* as the "secure" server [examp

[2020-04-22 12:42] GBisi commented on #211
What if the security definitions remains global, but in the TD definiton I can specify which (global) security options I want for a specific form? The problem, i think, becomes how to specify how the parser should intepretate the TD, maybe.

[2020-04-22 12:57] danielpeintner commented on #211
I think it is perfectly fine having global security definitions only and interactions pointing to them.

I believe this is well defined in the [TD spec](https://www.w3.org/TR/wot-thing-description/). One can specify global assumption while single interactions may *overrule* the global settings locally.

[2020-04-22 13:28] relu91 commented on #211
I think that this issue is connected to #199. The ability to specify different security requirements for different forms is quite pointless if clients cannot choose which form to use. A naive use case is when a node-wot client is configured with only basic HTTP credentials and it consumes an exposed thing that offers two differents security schemas (i.e. oAuth and basic).

Right now the client wil

[2020-04-22 13:41] relu91 commented on #199
We are also using the workaround that @egekorkan suggested above. Are there any plans to define an algorithm for choosing one form over the other? I think is essential to start a discussion about this point.
For starting, a simple fall back mechanisms could be implemented (thanks to @hyperloris and @lukesmolo for the nice discussion about it).

In pseudo-code:

[code]

[2020-04-22 14:15] danielpeintner commented on #199
The scripting API will shortly provide an option which can be passed along with each interaction request to specify the `formIndex` that a client wants to use.
Note: this is an optional option.

[2020-04-22 14:16] danielpeintner commented on #211
see https://github.com/eclipse/thingweb.node-wot/issues/199#issuecomment-617805797

[2020-04-22 15:35] egekorkan opened #213 "Identifying features"
It would be a good idea to document the implemented features from the TD perspective. I mean for each binding (producer and consumer side), which op, which security scheme, which subprotocol is implemented. This can be used to track possible new features and communicate for new users what can be done and what cannot be done. The table below is an initial idea for this where the legend is Y for imp

[2020-04-22 17:30] relu91 commented on #213
I think it is really useful, but I would "distribute" the table to the corresponding protocol binding implementation package. We could use this table as a template.

[2020-04-22 17:49] relu91 commented on #199
Nice! 🥳  but since it is optional I would like to have a default behavior like the one presented above.

[2020-04-23 07:56] danielpeintner commented on #213
Another place to put would be [here](https://github.com/eclipse/thingweb.node-wot/#protocol-support).

Note: we miss there some bindings too and might make sense to improve/update anyway.

[2020-04-23 22:36] joshco opened #214 "HTTP PORT and BASE_URL deployment issues"
I wrote an example exposed thing that is hosted in a NodeJS application, using express for the browser UI, and wot for the exposed thing, which is controlled by browserified node-wot.  When deploying it in the cloud, I ran in to issues with HTTP PORT mapping and the BASE URL for the TD URLs, which required changes to the http-binding to get it working.

If there's consensus on how to address these

[2020-04-24 07:37] relu91 commented on #214
I am ok with changing the env name to WOT_PORT is more specific and should avoid issues like yours.

Although, about the base URL there more "complex" strategies that are been evaluated, see @sebastiankb comment over [here](https://github.com/w3c/wot-thing-description/issues/878#issuecomment-598292496). Also, have you tried to specify the [base](https://www.w3.org/TR/wot-thing-description/#thing)

[2020-04-26 19:00] erkann-sen opened #216 "[consumed-thing] valueToContent function sheme differences"
In writeProperty function the content conversion is created by `content_serdes_1.default.valueToContent(value, tp, form.contentType);` where tp is the property object itself, which is created as `var tp = _this.properties[propertyName];` ,

but in invokeAction function the content conversion is created by
`content_serdes_1.default.valueToContent(parameter, _this, form.contentType);` where _this is

[2020-04-26 20:26] joshco commented on #214
I'll check out the base property.
Re WOT_PORT, changing it makes sense.  Another possibility is to leave PORT, but add WOT_PORT and give it preference.  That lets PORT work if node-wot is the only server in what they are deploying and work with the standard heroku build packs.  either way...

[2020-04-27 13:37] danielpeintner commented on #216
Not exactly sure which code you are referring to. It looks like trancompiled JavaScript code.

w.r.t. the action you are pointing to it uses `ta` in TypeScript.
see https://github.com/eclipse/thingweb.node-wot/blob/master/packages/core/src/consumed-thing.ts#L278

Do you mean something else?

[2020-04-29 14:00] erkann-sen commented on #216
Sorry Daniel,
I was using version 0.7.0 snapshot 3 and you are right it was fixed in between snapshot 3 to 6

[2020-04-29 14:00] #216 closed

[2020-04-29 16:11] joshco commented on #214
It does not appear to be implemented, see below.
Looking at possible implementations, the existing code enumerates all IP interfaces, and one could argue that a single baseURI should not apply to all interfaces.  My own solution has the same problem. as related to #803

My result of using base in stock wot-node:
I added a base URI, which is defined as a string:
[code]
When I view the TD raw, in th

[2020-04-30 07:46] danielpeintner commented on #214
I did not dig into the code but I believe the strategy in node-wot was (and still is) that once a TD is processed the `base` field is populated in all forms which makes processing a lot easier. The *full* uri is there where you expect it to be.

Maybe it makes sense to rethink this strategy and leave `base` as is and pass around besides the `form` also a possible `base`.

[2020-04-30 08:02] egekorkan commented on #214
So you can use the static address in the servient configuration to set your custom URL. Also, the base is given per TD whereas the static address is given for a servient that can host multiple Things with TDs that each have multiple forms with different base URIs. There can be different cases such as:
- base is given in all TDs of the servient and no static address is given for the servient. This

[2020-04-30 08:45] joshco commented on #214
## Address

When I tried to use address as a custom URL,  eg 'mysuperthing.com", it failed with EADDRNOTAVAIL.  eg, it tried to resolve the hostname to an IP address, expecting the IP to be a local interface that it could bind a listen socket to.

## Canonical URI
One thought I had is if perhaps a "CanonicalURIBase" property would be clearer.  If all URLs had that prefix because it was "the offici

[2020-04-30 09:13] egekorkan commented on #123
Isn't this fixed now and be closed?

[2020-04-30 11:54] danielpeintner commented on #123
Yes, but I kept the issue open because the process of creating JS examples is only partially automated.

So far I do not have a better way of solving it --> let's close the issue.

[2020-04-30 11:54] #123 closed

[2020-05-01 18:05] joshco commented on #214
@danielpeintner @egekorkan @relu91
I built new app, a PowerPoint remote controller.  This time, the URLs in the forms are in a different order.  The node-wot consumer kept picking the first one, which is unreachable.  Strangely, the original app has the right one first.  Still looking into this.

The controller runs on your PC with PowerPoint, and builds an ngrok tunnel for you. It will let you us

[2020-05-01 18:49] hidetak opened #217 "Issue of specify DataSchema of ThingAction input"
Thank you for developing this software.

I'm trying to develop a `binding` based on this software.
I found a little issue during development.

I think it's need to specify DataSchema of ThingAction input at [consumed-thing.ts](https://github.com/eclipse/thingweb.node-wot/blob/master/packages/core/src/consumed-thing.ts#L278) file, like follows:
[code]

Thank you,

[2020-05-01 19:03] fatadel opened #218 "Options are not parsed in consumed thing"
In `packages/core/src/consumed-thing.ts` neither of consumed Thing methods (e.g. `readProperty`, `writeProperty` etc.) are utilizing passed options. All methods have this parameter in their signature, but none of them uses it. So it's just ignored. And it makes impossible of using uriVariables with properties. Talking about actions and the `invokeAction` method, it utilizes the uriVariables in a w

[2020-05-02 04:09] joshco commented on #207
The updates to the readme have been merged.  Closing this

[2020-05-02 04:09] #207 closed

[2020-05-04 09:35] danielpeintner commented on #214
Question: pointing to local repo https://github.com/joshco/wot_powerpoint/blob/master/package.json#L11 is because of the issue you are encountering?

[2020-05-04 09:48] danielpeintner commented on #217
I think you are right. Thank you for pointing us to the issue.

[2020-05-04 10:47] danielpeintner commented on #217
resolved by PR https://github.com/eclipse/thingweb.node-wot/pull/221

[2020-05-04 10:47] #217 closed

[2020-05-04 13:45] danielpeintner commented on #218
@fatadel please take a look at PR https://github.com/eclipse/thingweb.node-wot/pull/222 and let me know whether you think the fix is OK.

[2020-05-04 14:29] fatadel commented on #218
Thank you, @danielpeintner. I will check out the branch now and will test it out with my examples.

[2020-05-04 15:23] fatadel commented on #218
It seems to work as intended now. The problem is resolved, thank you! @danielpeintner

[2020-05-04 18:42] #218 closed

[2020-05-04 18:46] hidetak commented on #217
Thank you for fix this! (^^)

[2020-05-05 01:39] joshco commented on #214
@danielpeintner Yes, your assumption is correct.  Also, while the BASE changes worked, the PORT changes that I made in SNAPSHOT 6 didnt work in SNAPSHOT 7.  I'm getting an unhandled promise rejection.  So i couldn't import the tip of the branch.    I think i understand why now, but the wot_powerpoint will be upgraded once that's settled.
Have you tried it?

[2020-05-05 12:26] egekorkan opened #223 "[cli] wot-servient.conf seems to be ignored"
The `wot-servient.conf.json` in the examples seems to be ignored. I remove the `http` object but still an HTTP Thing is generated. And MQTT forms are not generated...

This used to work 1 month ago so something has broken it I think?

[2020-05-05 16:57] MarcusWolfSchmidt opened #224 "[binding-mqtt] MQTT message payload could not be accessed in the ActionHandler"
### Description

I am exposing a Thing via MQTT and when I try to access the payload of an MQTT message in setActionHandler, I get an error. More details to reproduce it are posted below, but it is likely due to the mqtt package (dependency).
I am using the binding-mqtt-0.7.0-SNAPSHOT.6 and one of its dependancies is the mqtt package version 3.0.0. (As it is in GitHub.)
Another device in my networ

[2020-05-06 08:01] danielpeintner commented on #223
I looked at https://github.com/eclipse/thingweb.node-wot/blob/master/packages/cli/src/cli.ts#L40-L42 and it still seems to pick up the the default `"wot-servient.conf.json"` if no other file is provided.

Do you have an example that is not working?

[2020-05-06 08:11] danielpeintner commented on #224
Mhh, not sure now. Is this an issue in the mqtt library (version "3.0.0") we are using?
Shall we report this back to the developers there?

@egekorkan may I ask you to look into that issue...

[2020-05-20 13:48] relu91 opened #229 "[proposal] slightly improve logs"
In #186 I tried to use a simple patter for logging. I think it might be useful if it is adopted for the whole library. it does not require external libraries but it gives slightly better control over what is logged and what is not.

The pattern is: `console.debug("[package-name]", "log message)`. Following this rather simple pattern can provide two positive outcomes:
1. Quickly identify where the

[2020-05-20 14:11] danielpeintner commented on #229
I like the suggested approach. We would need to

* document that approach in the README (as *best* practice)
* walk over the code and update accordingly (i.e., adding "[package]" and replace any info/log level messages with debug)

[2020-05-26 07:18] franckOL opened #230 "in subscribeEvent calling resolv for first(every in fact) event prevent to catch later error sent by reject."
https://github.com/eclipse/thingweb.node-wot/blob/7bcc1e651757c4f1f8e6814d64b30a2711add6f0/packages/core/src/consumed-thing.ts#L395

This a correct implementatin regarding the specification https://www.w3.org/TR/wot-scripting-api/#the-subscribeevent-method.

But how to deal with error happens during polling that need to resubscribe.

I try to remove resolv, and it works, of course i have now a per

[2020-05-26 13:45] danielpeintner commented on #230
May I ask which binding do you use? CoAP?

[2020-05-26 13:47] franckOL commented on #230
I use http-binding

[2020-05-27 11:47] danielpeintner commented on #230
FYI: Related HTTP unsubscribe issue https://github.com/eclipse/thingweb.node-wot/pull/233.

I wonder whether a `else` branch is needed [here](https://github.com/eclipse/thingweb.node-wot/blob/7652a56c8d0dbb06b7c558bd52d2c05f47ebb534/packages/binding-http/src/http-client.ts#L186) calling

`complete && complete()`

after the subscription is removed?
@egekorkan ?

[2020-05-27 12:02] danielpeintner commented on #202
@erkann-sen is this issue still present?

Looking at the code in https://github.com/eclipse/thingweb.node-wot/blob/master/packages/core/src/consumed-thing.ts I do not really see any difference between  `observeProperty` and `subscribeEvent` ?

[2020-05-27 15:34] erkann-sen commented on #202
@danielpeintner, @egekorkan tried with and without the changes in "issue-230" and found out an interesting issue, issue still exist but with a catch

The infinite loop exist only if a property does not have observable field set when creating (in other words if "observable": false)
it still allows calling observeProperty function, it does not give an error (it can say this property is not observabl

[2020-05-27 16:11] danielpeintner commented on #202
Mhh, Issue-230 is not going to solve it (@egekorkan  linked it but it handles another problem).

May I ask you to try the PR https://github.com/eclipse/thingweb.node-wot/pull/233. I believe this allows to properly unsubscribe in HTTP.

@erkann-sen What I still don't understand is your comment about the difference between observeProperty and events...

[2020-05-28 09:34] relu91 commented on #230
I agree that after a successful unsubscribe the complete function should be called. As I said in https://github.com/eclipse/thingweb.node-wot/pull/233#issuecomment-635228354, we should also abort the pending HTTP GET, which may cause a throw [here](https://github.com/eclipse/thingweb.node-wot/blob/7652a56c8d0dbb06b7c558bd52d2c05f47ebb534/packages/binding-http/src/http-client.ts#L173). Consequently

[2020-05-28 15:58] erkann-sen commented on #202
I tried it 233 too, still no difference.
Sorry for any misunderstanding, let me explain things from beginning with the new findings.

If observeProperty called for a property which has the field `"observable": true` it sends a get request to `XXX/properties/NameOfProperty/observable`, which returns only if value is changed. After data is sent, it will send another Get request to same address to fo

[2020-05-29 09:05] danielpeintner commented on #202
I see now. The issue is specific to HTTP since we do long polling (asking GET over and over again).

I think the issue is in `getClientFor(...)`. The following line should *not* return a matching client.
https://github.com/eclipse/thingweb.node-wot/blob/master/packages/core/src/consumed-thing.ts#L332

I believe purely looking at the `observable` flag is not sufficient. According to the [TD](https:

[2020-05-29 09:11] danielpeintner commented on #230
If the line you cited throws we fall into the catch clause where we do already `error` and `complete`.
@relu91 not sure If I misunderstood your comment. Is there still anything missing there also?

[2020-05-29 10:26] erkann-sen commented on #202
I guess your suggestion about `getClientFor(...)` makes more sense.
But if it will be the case, it is better to change the following message to be more precise like:
 `reject(new Error(`ConsumedThing '${this.title}' did not get suitable **"observerProperty"** client for ${form.href}`));`

At the end we need to check the `href` for `observeProperty`, so the `observable` flag is insufficient and poi

[2020-05-29 10:32] relu91 commented on #230
If we cancel the ongoing HTTP GET request and `fetch` throws we should not call `error`. Therefore, we should handle this special error inside the `catch` clause. For example:
[code]
Because in this case the error is generated by the unlink function and the user should not be notified. On the contrary, it indicates that the unsubscription is successful.

[2020-05-29 13:43] danielpeintner commented on #202
I believe there are lots of consequences and complexity that comes with it...

The idea is to be able to observe a property only IF `op: "observeproperty"` exits.
On the other hand this also means that if a someone calls readAllProperties it should also just read the properties that have `"readproperty"` in `op`  it et cetera... however at that point neither protocol etc is clear.

Moreover, this

[2020-05-29 13:47] danielpeintner commented on #230
At the moment the PR does not try to cancel the HTTP GET.

I did see your comment https://github.com/eclipse/thingweb.node-wot/pull/233#issuecomment-635228354 about aborting but I was unsure whether we want to do that.

[2020-06-03 07:18] danielpeintner commented on #202
@erkann-sen May I ask you to take a look at PR https://github.com/eclipse/thingweb.node-wot/pull/234

I believe this PR fixes your issue. Moreover, it actually checks properly for the *right* op value.
e.g., it is possible that a value is observable but not readable et cetera.

[2020-06-03 07:21] danielpeintner commented on #21
HTTP is fixed by https://github.com/eclipse/thingweb.node-wot/pull/233 while CoAP has been fixed before.

Please reopen if you encounter any related issue.

[2020-06-03 07:21] #21 closed

[2020-06-03 07:58] danielpeintner commented on #151
fixed by https://github.com/eclipse/thingweb.node-wot/pull/233

[2020-06-03 07:58] #151 closed

[2020-06-03 15:37] egekorkan opened #236 "[question] Naming convention for devices built with node-wot"
This is mostly to gather opinions:

We have a couple of devices built with node-wot that are for now on GitHub but we will publish them on npm soon. In a similar way to Node-RED packages always named `nodered-contrib-mypackage` (example https://www.npmjs.com/package/node-red-contrib-io-key), should we also set up a naming convention for node-wot? Here is one simple infrared sensor example: https:/

[2020-06-04 13:26] danielpeintner commented on #236
I think the idea is to start with a *best practice* on how _others_ can publish their contribution.

At the moment *our* packages look as follows:
* `@node-wot/core`
* `@node-wot/td-tools`
* `@node-wot/binding-http`
* ...

This makes me think the following template makes most sense but I do not have a strong opinion either ;-)
* `@node-wot/contrib-<contribution-name>`
* à la
* `@node-wot/contrib-f

[2020-06-04 15:08] relu91 commented on #236
`@node-wot/contrib-<contribution-name>`

I think that using this pattern people would need the write access for `@node-wot` organization. Rollup went for this direction too and create a dedicated repository for the most famous [supported plugins](https://github.com/rollup/plugins). However, I think that it creates confusion and it is quite difficult to manage issues/PR.

I would vote for `node-wot

[2020-06-05 14:30] ajs124 opened #239 "Inconsistent code style"
I'm taking a look at several parts of this project right now and noticed that there are lots of whitespace errors, e.g. indented empty lines and spaces at the end of lines and inconsistencies in code style, e.g. tabs and spaces randomly mixed, even in the same file.

While this isn't a big problem, it means at least two things (to me)
- it's unprofessional. As harsh at it sounds, if a project cann

[2020-06-05 15:26] relu91 commented on #239
I do agree that we need a proper code style check for `node-wot`.

Well, why not make one commit and refactor the whole repository? I think it does not hurt too much the history and the dev experience.

About enforcing code style my favorite solution is to use [Husky](https://www.npmjs.com/package/husky). It adds a pre-commit hook in your package.json where you can run your favorite code prettier.

[2020-06-08 08:26] danielpeintner commented on #239
While I agree with most of your technical arguments I *disagree* with the way it was communicated.
Either way, let's look at the technical arguments:
* we do have editorconfig
* wo do *NOT* have PR check

On the hand I agree (since it solves all issues at once) on the other hand I disagree (given that it makes code parts coming from person X while being from Y).

Other than that I see 2 next steps

[2020-06-08 08:48] danielpeintner commented on #239
I think it should be as simple as adding the following lines to [.travis.yml](https://github.com/eclipse/thingweb.node-wot/blob/master/.travis.yml)

[code]

Note: we need .ts et cetera ...

see  https://github.com/jedmao/eclint

[2020-06-08 09:16] relu91 commented on #239
I see I did not consider this issue... however, it should be possible to find the original author from history. This consideration is also true for almost all trivial reactors (i.e. like moving a script inside another directory).

Nice! so I think we should also remove the `codestyle` scripts inside `package.json`. As I mentioned in the previous comment it uses typescript-standard and it may use d

[2020-06-08 13:01] ajs124 commented on #224
I'm working on this [here](https://github.com/ajs124/thingweb.node-wot/tree/fix/mqtt-binding-payload), but I haven't done enough testing yet to be confident in the correctness of the code I have there, to open a pull request. This is just a heads up, if anyone else is also looking into it.

[2020-06-08 13:14] ajs124 commented on #239
I'm not much of a writer (and obviously not an English native speaker), sorry if anyone felt attacked by my phrasing.

And I definitely shouldn't have missed the `.editorconfig`, since I was advocating for it :sweat_smile:

Decisions on which solution to choose and if you want to reformat old code are obviously up to you. I don't have many arguments for one or the other, although from personal exp

[2020-06-08 13:34] ajs124 opened #241 "[suggestion] Introduce a pull request template"
Contributing to this project can be slightly confusing.

You actually have some [really good documentation](https://github.com/eclipse/thingweb.node-wot/blob/master/CONTRIBUTING.md), which explains the whole process and without it, I'm not sure how anyone would figure all of this out, it they're not familiar with Eclipse projects already.
It's even linked under "Helpful resources" next to issues (

[2020-06-08 14:13] relu91 commented on #239
I do agree that such a kid of commit is not a nice thing to see in history. However, sometimes we have to sacrifice something for the greater good 😄 . Anyway, I am open to other solutions. I think that checking every new PRs on Travis will eventually put the code format to state that we all want. It is just a longer process. 👍

[2020-06-08 14:32] egekorkan commented on #241
Just to add a little point @ajs124 mentioned to me before:
You can add comment fields in the md file of the template which are seen by the developer but are not rendered in GitHub comments :blush: It is seen also in the nixos template above

[2020-06-08 18:56] egekorkan commented on #223
It seems that this was a problem in my system that got fixed after reinstalling :blush:

[2020-06-08 18:56] #223 closed

[2020-06-09 07:31] danielpeintner opened #242 "Reading/writing all/multiple properties need to check for op value"
At the moment the implementation for readMultipleproperties() iterates over all *readable* properties and returns the result.
In fact it should find a form with op `readmultipleproperties` and report the result.

Similar updates are necessary for `readallproperties` and `writemultipleproperties`.

[2020-06-09 07:48] danielpeintner opened #243 "Remove codestyle scripts in package.json"
Relates to https://github.com/eclipse/thingweb.node-wot/issues/239#issuecomment-640479670

We should remove `"codestyle": "standard --pretty"` or alike in *all* package.json
e.g., https://github.com/eclipse/thingweb.node-wot/blob/master/packages/binding-coap/package.json#L37

We should properly handle it with [.editorconfig](https://github.com/eclipse/thingweb.node-wot/blob/master/.editorconfig)

[2020-06-09 07:54] danielpeintner commented on #239
I am also unsure about "what" is the right way forward. Having one bigger clean-up fix or many fixes over the time.
The only issue I see is that IF we use `eclint check` **_without_** the initial clean-up fix it might fail till **_all_** issues are resolved. Meaning that it checks all files and not only the newly committed files. I need to check this behavior but I am not sure when I find the time

[2020-06-09 15:17] egekorkan commented on #242
I think you also imply this but just to be clear, these properties should be read with a single request.

[2020-06-10 11:28] danielpeintner commented on #242
Correct. At the moment it is wrongly iterated over all *readable* properties.

[2020-06-10 18:01] egekorkan opened #244 "[binding-http] Sending the first GET request to observe a property starts logging of the TD to the console"
## Version

core: 0.7.0
binding-http: 0.7.0
installed via npm

## Behavior

On the Thing side, every second I write to a property that updates its value with a function like this:

[code]
When the Thing starts, it logs the sensor values every second like the following

[code]
So far so good. Sending an HTTP GET request to read a property (`/properties/temperature`) results in the TD being logged t

[2020-06-11 09:36] danielpeintner commented on #244
@egekorkan May I ask you to provide the log snippet. Does it show "who" logs it (e.g., http-client.ts or consumed-hting.ts ). I do have difficulties finding the "source" of the problem...

This is another good reason why we should also implement the proposal from https://github.com/eclipse/thingweb.node-wot/issues/229. This makes it *easier* to identify where the logging comes from.

[2020-06-11 09:44] egekorkan commented on #244
I can provide it in its complete form but basically it says serialized TD produced (like in the first expose) and then the TD. There is no mention of who logs it

[2020-06-11 12:23] fatadel commented on #209
I think we can remove this file now since we have the smart coffee machine tutorial which covers the API usage. What do others think?

[2020-06-11 14:05] egekorkan commented on #209
This should definitely not be removed. Coffee machine is an example tutorial, this is (hopefully) proper library documentation that should be similar to Scripting API.

[2020-06-11 14:25] relu91 commented on #244
I am working on it 👍

[2020-06-11 14:31] danielpeintner commented on #244
Great, good to know. I also wanted to start working on it ;-)
I assume with the update we should also easily *see* where the TD is logged over and over again.

[2020-06-11 14:49] fatadel commented on #209
@egekorkan Okay, I understood 👌

[2020-06-11 17:26] relu91 opened #245 "[proposal] introduce run mocha tests vscode task"
I usually debug tests using the embedded `vscode` debugger. Having a preconfigured `vscode` task would help newcomers to run tests and improve the workflow for debugging (i.e. no need to launch mocha from the command line and then attach the debugger to the node process).

We could provide two tasks. One that execs all the available tests in the repository with `lerna test` (useful before committi

[2020-06-11 17:49] egekorkan commented on #245
Good workflow idea, +1 from my side :)

[2020-06-11 22:41] egekorkan opened #246 "[binding-http] How to use readmultipleproperties operation with a usual REST Client"
The hosted TestThing has the meta interaction `readmultipleproperties`, however, how would I execute this operation with a REST Client like Postman? What is the needed HTTP request?

I have tried sending a GET request to `http://plugfest.thingweb.io:8083/TestThing/all/properties` with the body of the request being an array like `["bool","int"]` but I still get all the properties.

[2020-06-12 02:08] nikosft commented on #204
I am wondering why security is implemented in the server and not in the thing, e.g., in `setActionHandler`. I see two issues.

 Firstly, the security configuration of the server seems independent of the used `securityDefinition` of the thing.

Secondly, and more importantly, WoT Things description [allows the use of different _security_ per form](https://www.w3.org/TR/2020/REC-wot-thing-descriptio

[2020-06-12 06:39] egekorkan commented on #204
I agree that the design of node-wot would not allow this without significant restructuring. I guess we never felt the need.

[2020-06-12 08:49] relu91 commented on #204
My answer is that the application should not worry about security constraints. They should be handled by the runtime following what is specified in the TD. In fact, the ActionHandler does not have access to the underlying raw data provided by the protocol (i.e. headers).  I think changing this would require a change in the architecture specs 🤔 (see how security is embedded in the servient runtime

[2020-06-12 12:57] nikosft commented on #204
If the server is configured without any security mechanism, but TD defines a (supported) security protocol, what will happen? AFAIU, TD preference will be ignored.

[2020-06-12 13:03] danielpeintner commented on #246
I think your approach/assumption is right (i.e., passing the string array) but it is not properly implemented yet.
Let's wait a bit before fixing it since a lot is going on on TD side at the moment about that topic

[2020-06-12 13:13] nikosft commented on #204
I understand that currently security is built inside the protocol binding, which AFAICT is a violation of the architecture.

[2020-06-12 16:25] relu91 commented on #245
As usual, things get harder when you try to implement them. It turns out that the launch mocha test target requires a reference to the actual mocha executable:
[code]
Unfortunately, it is quite tricky to write down a general path for each subpackage. I see three solutions:
1. Add mocha as a dev dependency of the root project (not ideal in my opinion)
2. Configure a vs code workspace. This would al

[2020-06-15 08:21] danielpeintner commented on #245
I think "solution 3" is at least *some* improvement!

[2020-06-15 15:06] sebastiankb commented on #209
@egekorkan told me that @ajs124 is taking care of it

[2020-06-15 15:16] sebastiankb commented on #229
issue is kind of related to each other #193

[2020-06-15 16:46] relu91 commented on #229
@sebastiankb @danielpeintner I am working on this.

[2020-06-15 16:46] relu91 commented on #245
@danielpeintner @sebastiankb I am working on this.

Ok let see how it goes.

[2020-06-16 08:24] danielpeintner opened #249 "Single place where form is filled with defaults and validated"
see https://github.com/eclipse/thingweb.node-wot/pull/234#issuecomment-640436961 from @relu91

[2020-06-16 09:03] danielpeintner commented on #193
@fatadel may I ask you to look into that issue?

[2020-06-16 09:48] fatadel commented on #193
@danielpeintner sure!

[2020-06-16 15:18] #202 closed

[2020-06-18 16:51] fatadel commented on #193
@danielpeintner Please find out my PR for this issue - https://github.com/eclipse/thingweb.node-wot/pull/251.

[2020-06-19 12:17] #193 closed

[2020-06-21 14:22] egekorkan opened #254 "[cli] cli-default-servient assumes that there is always a log level"
Even though the log level features added by @fatadel  have been tested, we have overlooked something. In the config file, the log level was optional (as far as I remember) but now in https://github.com/eclipse/thingweb.node-wot/blob/6b207b0029654055f170f83dc94443cc8c94f956/packages/cli/src/cli-default-servient.ts#L69 the `log.level` is trying to be read. So if the config file does not have it, an

[2020-06-21 14:35] egekorkan opened #255 "[binding-mqtt] MQTT Topics should not start with `/`"
As pointed out by @benjaminbraun , the MQTT topics that node-wot subscribes and publishes to always start with a forwards slash, i.e. `/`. However, this is something that should never be done according to best practices. See more [here](https://www.hivemq.com/blog/mqtt-essentials-part-5-mqtt-topics-best-practices/).

This also shows something we cannot easily describe with a TD produced by node-wo

[2020-06-22 09:20] danielpeintner commented on #254
@fatadel may I ask you to provide a patch that sets a default logging level if it hasn't been set before.

Agree.

[2020-06-22 11:03] relu91 commented on #254
+1 for validation. It would be cool if we validate AND fill the default values altogether so that we do not need to check every time if the value is null/undefined.

[2020-06-22 11:37] danielpeintner commented on #239
There is *new* linter with nice Github Actions support, see https://github.com/github/super-linter

Does it make sense to change from Travis builds to Github Actions?

[2020-06-22 11:52] egekorkan commented on #254
Good idea. AJV supports this (https://ajv.js.org/#assigning-defaults)

[2020-06-22 11:56] egekorkan commented on #239
Although it may make sense, GitHub Actions is not really free. You have 2000 minutes per month whereas Travis gives unlimited minutes. If the only reason for GH Actions is the linter, I think it would be unnecessary work and not futureproof.

[2020-06-22 15:26] relu91 commented on #239
I agree with Ege, also do we need a general-purpose linter such as [super-linter]( https://github.com/github/super-linter)? Or we might live up well with just `eslint` or `standard` or `.editorconfig`?

[2020-06-22 17:54] egekorkan opened #256 "[core] counter example crashes when observing and reset action invoked"
There is a behavior that I am not able to understand where it really comes from but here is the sequence of interactions I make to the counter example:
1. I increment the count property using the increment action and URI Variables with step of 100, i.e. `curl --location --request POST 'http://localhost:8080/counter/actions/increment?step=100'`
2. I invoke the reset action, i.e. `curl --location --

[2020-06-22 19:48] fatadel commented on #254
Thanks for spotting, @egekorkan!
Here is the PR - https://github.com/eclipse/thingweb.node-wot/pull/257.

[2020-06-23 07:51] danielpeintner commented on #254
I think a general solution to fill *all* default values is valuable...

[2020-06-23 12:54] danielpeintner commented on #256
@egekorkan Do you think we can come up with a unit test for this unexpected behavior?

[2020-06-23 13:24] egekorkan commented on #256
Do you also observe the same behavior?

[2020-06-23 15:20] danielpeintner commented on #256
I did try to reproduce the issue with my RESTclient but failed.
Hence I was thinking having a test that shows the issue helps me and other to reproduce the issue..

[2020-06-23 19:17] egekorkan commented on #256
I am able to reproduce the issue with the following script that is basically a modified counter-client.js:
[code]
@danielpeintner if you cannot reproduce the bug with this script, there has to be something wrong with my setup somehow but I am using the latest master with Node.js v14.4.0. My wot-servient.conf.json is :
[code]
I use the same conf for both server and client but run the client with th

[2020-06-24 08:06] danielpeintner commented on #254
I noticed that with the latest logging changes it is difficult for users to *spot* some important information like which server is started and on which port.

E.g.,:
* default log level is "info"
* important information like `console.debug("[binding-http]",`HttpServer starting on ${(this.address !== undefined ? this.address + ' ' : '')}port ${this.port}`);` is logging level "debug"

I think by def

[2020-06-24 08:18] danielpeintner commented on #256
No crash on my side.

I tried both, RESTclient and running the scripts a la `node packages\cli\dist\cli.js examples\scripts\counter.js`.

My node version is v10.17.0 and I am using the *latest* master

[2020-06-24 09:20] danielpeintner commented on #243
@relu91 could you check PR https://github.com/eclipse/thingweb.node-wot/pull/259 ?

In a next step we can try to use VSC auto format feature and see how many diffs we see...

[2020-06-24 10:57] relu91 commented on #243
I've just done my review.

Yes exactly. However, I found that `.editorconfig` is quite limited regarding the expressivity of how the code should be formatted.  I have to admit that I do not use `.editorconfig` usually, so maybe I have to understand it a little bit better. `eslint` seems more advanced.

[2020-06-24 11:09] relu91 opened #260 "[binding-http] Server side security scheme validation skipped when using `http`"
As the title mention, the HTTP server does not verify if a `SecurityScheme` defined by an exposed thing is among the supported schemes or not. As it can be seen the validation is done only if the server is started with `secure` mode (i.e. https) whereas it is skipped if it is in HTTP mode (see [here](https://github.com/eclipse/thingweb.node-wot/blob/master/packages/binding-http/src/http-server.ts#

[2020-06-24 11:33] egekorkan commented on #256
Cannot reproduce in another computer with node 12.16.2. Trying newer versions

[2020-06-24 11:53] relu91 commented on #254
Moving `console.debug("[binding-http]",HttpServer starting on ${(this.address !== undefined ? this.address + ' ' : '')}port ${this.port});` to info seems reasonable to me.

[2020-06-24 12:08] egekorkan commented on #256
Really interesting, I cannot reproduce it in my other computer that also runs Arch linux and node.js 14.4.0. I will try again tomorrow on the computer that exhibits the issue.

[2020-06-24 14:04] danielpeintner commented on #239
I looked once again at EditorConfig. There is built-in Support in "Visual Studio" but *NOT* in "Visual Studio Code". Having said that, one needs to look for the "EditorConfig for VS Code" extension and install it.

Do we want to require that?
Note: the *default* Visual Studio Code formatting seems to differ, especially w.r.t. nesting

BTW, one can also use any other technique to achieve the *same

[2020-06-24 14:57] danielpeintner commented on #254
The same might make sense for CoAP and others server parts also.... I guess.

The downside I am seeing is that we initially said that all logs from node-wot should *not* use "info" level... this would break this assumption.

[2020-06-24 15:03] relu91 commented on #254
Yes, I know... but during the PR I understood that we might be a little bit easier on that statement. I like: please use avoid to use `info` level whenever is possible 😄 .

[2020-06-25 15:08] danielpeintner commented on #217
proper fix by https://github.com/eclipse/thingweb.node-wot/pull/263 ?

[2020-06-25 15:23] #224 closed

[2020-06-25 15:37] relu91 commented on #244
I found the source of this issue. Basically in the `HTTP-server` right before sending the answer to the observer is calling `thing.getThingDescription()`  ([link](https://github.com/eclipse/thingweb.node-wot/blob/b1f7774832f1988c6888dc367edd50910f17efc6/packages/binding-http/src/http-server.ts#L538) to the precise line) :
[code]
So far so good, the problem is that `thing.getThingDescription()` is

[2020-06-25 15:41] danielpeintner commented on #254
@relu91 see https://github.com/eclipse/thingweb.node-wot/pull/264
Please approve IF ok.

Note1: we could also add every expose log to info but I think it is good for now without it since users can load the base url and see the available things anyway

Note2: we could also log on info whether the server was stopped (did not do so)

Note3: I was not sure what to do with MQTT

[2020-06-25 15:52] danielpeintner commented on #244
Question: With the recent logging level change to debug... is this still an issue?
Using default info logging the issue does not appear anymore, correct?

[2020-06-25 15:54] relu91 commented on #254
Just approved 👍

One line saying `thingid` exposed should not be so bad, however, I'll wait if we really find that we *really* need this information logged in the default level.

To be symmetrical it makes sense. @egekorkan what's your opinion about this?

I think we could log at `info` level [this line](https://github.com/eclipse/thingweb.node-wot/blob/479bfdf02f4bac9a7068b5784cc842e3e22fb34b/pac

[2020-06-25 15:56] relu91 commented on #244
Using default info logging the issue does not appear anymore, correct?

Correct, it happens only with the debug level enabled. Anyway, it is quite odd to log the serialized TD every time `getThingDescription` is called.

[2020-06-25 16:20] egekorkan commented on #244
I also think that the TD should not be outputted unless it changes like mentioned in solution 2. I would say that solution 1 is better since another use of serializeTD would actually need the TD outputted in a debug level.

[2020-06-26 09:38] relu91 commented on #244
yeah also to me, it feels like that logline should be written by the caller of `serializeTD` rather than `serializeTD` itself.

[2020-06-26 10:02] egekorkan commented on #254
I also like this, since if a long TD is logged, it is annoying to get its id, title or link.

I also agree :)

That line is indeed where it should be I think :)

[2020-06-26 11:06] fatadel commented on #254
@danielpeintner
Could you please restate what's left with this issue?

[2020-06-26 11:43] danielpeintner commented on #244
Makes, sense and I am OK with

Please approve PR https://github.com/eclipse/thingweb.node-wot/pull/265 if ok

[2020-06-26 11:56] danielpeintner commented on #254
I think it would be good do have a way to set defaults to all possible values like Ege mentioned in https://github.com/eclipse/thingweb.node-wot/issues/254#issuecomment-647468528

So not only the log level but other configs also. Do you know what I mean? Does it make sense?

[2020-06-26 11:59] danielpeintner commented on #254
I provided PR https://github.com/eclipse/thingweb.node-wot/pull/266.
Anything missing or ok as is?
Please take a look @relu91 and @egekorkan

[2020-06-26 12:20] egekorkan commented on #254
I think it is OK as it is :)

[2020-06-29 08:45] erkann-sen opened #267 "Suggestion about adding new protocol bindings/consumers"
Hi everyone,
I am currently writing my master thesis, which is about interoperability of protocols/systems with wot.
Till now, I made [Mozilla webthings](https://github.com/erkann-sen/wot-mozilla) and [openHAB](https://github.com/erkann-sen/wot-openhab/) consumable with node-wot with different methods.
What I wish is to somehow bring this functionality to node-wot library.
But I know that, adding

[2020-06-29 11:36] relu91 commented on #267
I totally support this idea. I have been tinkering for a while about the possibility to move node-wot to a full plug-in based architecture. In my mind, not only protocol bindings should be provided as add-ons but also security schemas implementations, content-encoders/decoders, and (maybe) system APIs. As you mentioned there are quite a few benefits but also, I want to add, that this pattern is we

[2020-06-29 15:53] egekorkan opened #269 "[core][feature] Fetching TDs behind authentication mechanism is not possible"
When using the fetch function in `core/helpers.ts`, it is not possible to supply credentials required to fetch a TD. Once I look at the underlying implementation, it calls the `readResource` of the corresponding binding. This means that, if we change the fetch function's interface to accept credentials, it would need to be transferred to the corresponding binding. This might sadly require more cha

[2020-06-30 08:29] relu91 commented on #269
I suggest putting this issue on hold until we discuss more about https://github.com/w3c/wot-scripting-api/issues/216. There are good chances that a discovery *direct* method may also allow security configurations for the request.

So the best solution right now is to fetch the TD using `node-fetch` or similar libraries.

[2020-07-02 08:34] relu91 opened #271 "getThingDescription calls serializeTD just to parse it again"
As mentioned in https://github.com/eclipse/thingweb.node-wot/issues/244#issuecomment-649629819 the `getThingDescription` method is calling `serializeTD` every time. For reference see the implementation body of this method:

[code]
Why do not just return this? if serialize is doing some transformation why do not cache the result of `serializeTD`? I feel that this method might be called a lot of tim

[2020-07-02 11:15] fatadel commented on #254
@danielpeintner Yeah, I think I got you. Thanks for clarification.
I will provide a PR in the nearest time.

[2020-07-03 13:02] fatadel commented on #254
@danielpeintner Please check out my PR - https://github.com/eclipse/thingweb.node-wot/pull/273.

[2020-07-06 07:42] fatadel opened #274 "[Browsified node-wot] Unknown theme foundation5"
In the [browsefied node-wot](http://plugfest.thingweb.io/webui) a form for filling in input data doesn't show up.
The error says:
[code]
To reproduce the issue go to the site, consume the default `TestThing` and invoke any action except `void-void`.

[2020-07-06 10:18] egekorkan commented on #274
Interesting. I can confirm the bug but fetching of the foundation theme succeeds. The action `void-obj` does not represent the same error btw.

[2020-07-06 10:19] egekorkan commented on #274
Probably happening due to this line: https://github.com/eclipse/thingweb.node-wot/blob/5dc31997b7bcd8bee0248edc51548b14c874ea25/examples/browser/index.js#L114

Since the interactions that do not have an input omits this line somehow without showing an error, the bug regarding creating a JSON editor does not show itself

[2020-07-07 13:20] egekorkan commented on #267
Related to #236

[2020-07-07 13:28] sebastiankb commented on #267
maybe a good orientation can be https://homebridge.io/ and its way to find plugins

[2020-07-07 16:29] relu91 opened #275 "[core] Default servient does not pass CLI arguments to scripts"
This issue is related to #190 and #192. Right now it is not possible to read command-line arguments from WoT scripts since the `process` object is not forwarded to VM context. In principle, we could preprocess `process.args` and extract only arguments after the script names. For example in the following line:
[code]
we can pass `arg1`, `arg2`, and `-option1` to the VM context of `consumer.js` and

[2020-07-07 17:44] erkann-sen commented on #236
`node-wot-contrib-mypackage` this convention gives an expression like  it is a node library extension not a node-wot extension, so I think it would be better to some how divide node-wot from the ending and what I can offer is putting an underscore like `node-wot_contrib-mypackage` or `@node-wot_contrib-mypackage`

[2020-07-07 18:26] egekorkan commented on #236
So the naming scheme will be up to our decision and as long as we all agree on it, it will be fine. One thing that is important to discuss whether we want to differentiate node-wot related packages by their names. So in #267, it is about the Mozilla and OpenHAB tools (?) that allow integration of these platforms to node-wot (Mozilla is almost a binding). Here, it is about Things created with node-

[2020-07-07 18:27] egekorkan commented on #236
Btw in Node-RED, there are nodes, flows and collection but only nodes follow a naming scheme. See their library: https://flows.nodered.org/?num_pages=1

[2020-07-10 16:13] egekorkan opened #277 "[core][credentials] Adding credentials should handle wrong ids"
Currently, the line that adds the credential for each Thing based on their `id` does not handle wrong `id`s given by the developer and when the credential for the Thing based on the `id` of the TD is gotten, it crashes with generic error message that doesn't help to spot the error (cannot read property of undefined). There should be a try/catch or another construct around it that gives an error me

[2020-07-10 16:32] egekorkan opened #278 "[core][servient] Cannot supply static address when instantiating a servient"
It is possible to supply a static address for the servient with the cli config such as:
[code]

However, when not using the cli, it needs to be done via the Helpers class:
https://github.com/eclipse/thingweb.node-wot/blob/d647247fe14d2384653910699c3324597f606282/packages/cli/src/cli-default-servient.ts#L75

I think that it is more intuitive if this can be passed as an argument in the servient, lik

[2020-07-13 11:47] Emiltzav opened #279 "Are W3C Web Thing Model operations supported by Thingweb?"
Hello everyone! I'm very interested in this work and I would like to ask if it supports all the operations proposed by W3C Web Thing Model (described here: https://www.w3.org/Submission/wot-model), e.g. **Retrieve a Web Thing**, **Update a Web Thing**, etc. From what I have seen so far, Thingweb supports all the basic operations and interactions with a Web Thing, but could someone please indicate

[2020-07-13 12:59] egekorkan commented on #279
Hi @Emiltzav, thank you for your interest in this work! The page you wanted to link does not appear but if you are talking about the W3C WoT Architecture which lists the possible operations (https://w3c.github.io/wot-architecture/#sec-hypermedia-forms), they are mostly supported. The support depends on the concrete protocol. For example, we have `readproperty` in HTTP but not in MQTT since it was

[2020-07-13 12:59] egekorkan commented on #279
Sorry, I didn't see the edit even though you edited before I commented but I think addressed it :)

[2020-07-13 13:37] Emiltzav commented on #279
Hi @egekorkan ! Thank you for your immediate response! Indeed you addressed it, but still I'm a little confused because I had the impression that you did support Web Thing Model ( https://www.w3.org/Submission/wot-model/ ). That's because, while watching your node-wot tutorial on youtube and running the examples of the project, I realized that some operations of the model like "Retrieve a Web Thin

[2020-07-13 14:29] egekorkan commented on #279
I would not want to make any claims myself but inofficially we can say that it has a similar point of view :) For example, in Web Thing Model there is a statement like "By default, all PUT, POST, and DELETE requests to a Web Thing should not return the payload of the object that was created/modified, therefore should return a 204 NO CONTENT response and no response body. " (
https://www.w3.org/Sub

[2020-07-13 16:11] danielpeintner opened #280 "HTTP Feature Matrix rendering issue"
see https://github.com/eclipse/thingweb.node-wot/tree/master/packages/binding-http#feature-matrix

@relu91 @erkann-sen

I think this issue must have existed before PR https://github.com/eclipse/thingweb.node-wot/pull/268

[2020-07-14 06:34] #280 closed

[2020-07-14 06:52] danielpeintner commented on #244
see comment in PR https://github.com/eclipse/thingweb.node-wot/pull/265#pullrequestreview-441459338

The only reason why `serializeTD()` is called is that it adds defaults and tries to clean-up the ThingDescription. Do I miss anything?

[2020-07-14 06:55] danielpeintner commented on #244
Closed https://github.com/eclipse/thingweb.node-wot/issues/271 in favor of this issue to have a history of the issue.

[2020-07-14 06:55] danielpeintner commented on #271
Close in favor of https://github.com/eclipse/thingweb.node-wot/issues/244

[2020-07-14 06:55] #271 closed

[2020-07-14 06:57] #245 closed

[2020-07-14 08:07] danielpeintner commented on #274
Not exactly sure "why" but the following line caused the issue

`JSONEditor.defaults.theme = 'foundation5';`

I fixed the issue in https://github.com/eclipse/thingweb.node-wot/pull/282 and already updated the [online version](http://plugfest.thingweb.io/webui) and everything seems to work fine *without* setting any default theme.

Please check and approve PR.

[2020-07-14 08:09] egekorkan commented on #274
Seems to work for me! :blush:

[2020-07-14 08:53] danielpeintner commented on #267
I think in the ideal and final situation I agree with all that has been said before.

However, at the moment the scripting API and some other aspects are probably not full *stable* yet.  Assuming we have *breaking* changes it is easier to maintain code in a single repo.

Having said that, I totally support creating different repos in the *near* future but my current take on this is that it is stil

[2020-07-14 09:25] danielpeintner commented on #277
@egekorkan I agree, the line

`return this.credentialStore.get(identifier); `

could be simply replaced by something like

        if (this.credentialStore.has(identifier)) {
            return this.credentialStore.get(identifier);
        } else {
            // what whould the expectation?
            return null;
        }

I just wonder *what* would be the expectation?
* returning null
* throw

[2020-07-14 10:06] Emiltzav commented on #279
Thank you very much, @egekorkan ! I think it is clear to me now.

[2020-07-14 12:01] danielpeintner commented on #274
Merged https://github.com/eclipse/thingweb.node-wot/pull/282

[2020-07-14 12:01] #274 closed

[2020-07-14 14:07] egekorkan commented on #277
I think throwing `null` makes sense :)

[2020-07-14 14:19] danielpeintner commented on #267
Summary of discussion between @egekorkan @wiresio  and @danielpeintner

* the current `packages/xyz` structure with independent projects is already a good step foward
* we still need to find a good solution for ContentSerdes since every package might have its own codec and should not be part of (or blow up) `core`
* we also need to look into Eclipse licensing issues and "where" these new repos sho

[2020-07-15 07:50] danielpeintner commented on #277
see PR https://github.com/eclipse/thingweb.node-wot/pull/283, please approve @egekorkan

[2020-07-15 08:15] danielpeintner commented on #239
An addition could https://lgtm.com/#pull_requests

[2020-07-16 12:28] egekorkan commented on #279
No problem! :) @danielpeintner or @Emiltzav , the issue can be closed now

[2020-07-16 12:33] egekorkan opened #284 "[binding-file][documentation] No Readme available for binding-file"
In contrary to other bindings, the binding-file does not have a README.md file. This first results in npm not being able to display anything but also the only way for someone to learn how to use it, is to look at the default-servient in the cli package.
![image](https://user-images.githubusercontent.com/20195407/87671271-59cc1400-c771-11ea-92d0-65c73242d8c1.png)

[2020-07-16 12:59] egekorkan opened #285 "[core][consumed-thing] No error handling on getting the interaction name"
If I write a consumer but misspell an interaction name on `readProperty`, `invokeAction` etc., the error shown by node-wot is not helping to find my mistake. I get an error like `Cannot get form of undefined`. This is happening due to the lines just after `readProperty`, `invokeAction` etc. of consumed-thing.ts of the core package, i.e. for invokeaction: https://github.com/eclipse/thingweb.node-wo

[2020-07-16 13:29] #279 closed

[2020-07-16 14:10] danielpeintner opened #286 "Status Modbus in README.md"
what is the *correct* status of Modbus binding [here](https://github.com/eclipse/thingweb.node-wot#protocol-support)

@relu91 @wiresio

[2020-07-16 14:17] wiresio commented on #286
Although @relu91 provided a test Modbus server, I'd put client only.

[2020-07-16 14:19] fatadel commented on #274
Yeah, the problem is over. Thank you, @danielpeintner !

[2020-07-16 14:54] #254 closed

[2020-07-16 15:15] danielpeintner commented on #285
I think the error message comes from later code...

Please have a look at PR https://github.com/eclipse/thingweb.node-wot/pull/287

[2020-07-20 08:27] danielpeintner commented on #285
resolved by https://github.com/eclipse/thingweb.node-wot/pull/287

[2020-07-20 08:27] #285 closed

[2020-07-20 12:51] TimKam opened #289 "[documentation] Dependency management in package.json"
I am trying to use ``@node-wot/core`` to run an "ordinary" Node.js module, in which the dependencies are managed in a package.json file.
However, it seems that when running ``wot-servient`` the script does not pick up locally installed dependencies, but requires me to install all dependencies of my project globally.
Presumably, the solution can be to install ``@node-wot/core`` locally and invoke `